[2018-01-27 19:09] tima101 opened #1 "dark/light theme"
Dark themes for Github and Youtube are great for eyes.

Example of dark theme for Github: https://github.com/StylishThemes/GitHub-Dark

Consider adding dark theme with UX similar to DDG's:
![image](https://user-images.githubusercontent.com/10218864/35475384-83f595ac-0352-11e8-80b8-cd0742f36fee.png)

<details>
      <summary>Click to see <b>Hill for issue #1</b></summary>
      <div><img src="https

[2018-01-27 19:13] tima101 opened #2 "best practices for Express"
CSP: `Content-Security-Policy: script-src 'self' https://builderbook.org`
https://developers.google.com/web/fundamentals/security/csp/

Read and add some measures from:
https://expressjs.com/en/advanced/best-practice-security.html

[2018-01-27 19:16] tima101 opened #3 "start app locally and deploy"
- [x] how to start locally: mention `.env` and `.env-config.js`
- [x] how to deploy: mention `now.json` and now's commands

[2018-01-27 19:19] tima101 opened #4 "fade animation for Header on `read-chapter.js` page"
Currently Header disappears/appears instantly, consider adding some animation that delays disappear/appear events. So it looks smoother and user knows what happened.

[2018-01-27 21:40] tima101 opened #5 "Optimize UI for mobile browser"
Optimize `Header` and `Footer` for mobile browser view

[2018-01-27 22:59] klyburke opened #6 "Delete all sync TOS code"

[2018-01-28 00:38] #3 closed

[2018-01-28 00:38] #5 closed

[2018-01-28 09:16] tima101 opened #7 "Snapshots of important pages"
Add snapshots to readme:
- Public user on `read-chapter.js` page,
- Customer user on `read-chapter.js` page,
- Admin user `add-book.js` page,
- Admin user `book-detail.js` page

What else?

[2018-01-28 18:29] tima101 opened #8 "Re-write `generateSlug` with async/await"
Makes code more readable at `server/utils/slugify.js`

[2018-01-28 20:24] #7 closed

[2018-01-28 21:27] #8 closed

[2018-01-29 20:31] tima101 opened #9 "Add data to main admin page"
Decide which data to move to `pages/admin/index.js`
Decide if need `pages/admin/book-detail.js`

Data:
- book details, sync button, edit button
- book sales stats: sold count and free book count

[2018-01-29 20:38] tima101 opened #10 "Move data from `admin/book-detail.js` to `admin/index.js` page"
Since Admin user won't have too many books, most likely 1-3 books, I suggest showing book details on `admin/index.js` (Admin dashboard) page instead of `admin/book-detail.js` page

@klyburke Any cons?

[2018-01-29 23:55] tima101 opened #11 "separate files for auth() and Strategy at `google.js`"
Bad readability since file is too long

Also give names to callbacks: `verify` and `verified`

[2018-01-30 05:59] klyburke opened #12 "improve demo"
create intro chapter to show scrolling and TOC in action

[2018-01-31 05:10] #11 closed

[2018-01-31 05:11] tima101 commented on #11
removed custom strategy, gave callback names (discussed in book)

[2018-01-31 21:56] helpse opened #13 "Add google and github callback's to Readme"
We could add the following info to the README, in order to configure Google and Github apps:

Google auth callback:
[host]/oauth2callback

Github auth callback:
[host]/auth/github/callback

[2018-01-31 22:42] helpse opened #14 "As an admin, I can not get list of my books"
After creating a book, I'm being redirected to /admin
and there's no way to get the list of books

[2018-01-31 22:49] helpse commented on #14
![image](https://user-images.githubusercontent.com/1523409/35651829-0cfef262-06af-11e8-8c87-9d0a023de9e7.png)

[2018-01-31 23:07] tima101 commented on #14
@helpse thanks for reporting, I pushed fix: f53dc07
I will simplify `Book.list()` static method later.

[2018-01-31 23:10] #14 closed

[2018-01-31 23:12] tima101 commented on #13
@helpse done.

thanks for suggestion. closing.

[2018-01-31 23:13] tima101 opened #15 "simplify `Book.list()` method"

[2018-01-31 23:19] helpse opened #16 "As a regular user, I cannot see a book's details page"
Entering into
/books/my-book-2/introduction
shows an error
![image](https://user-images.githubusercontent.com/1523409/35652706-d3919eea-06b2-11e8-8dfe-cab90ff13b30.png)

[2018-01-31 23:20] helpse commented on #16
My book's repo has an introduction.md
https://github.com/helpse/builderbook-mybook

[2018-01-31 23:40] helpse commented on #16
@tima101 @klyburke could it be an issue with my book's repo?

[2018-01-31 23:42] tima101 commented on #16
@helpse please pull code and try adding new book. I think it was my bet, I added code related to demo app and then removed it but not completely.

[2018-01-31 23:43] tima101 commented on #16
@helpse before you look at chapter page, click `Sync with Github` button

[2018-01-31 23:44] #15 closed

[2018-01-31 23:54] helpse commented on #16
@tima101 I pulled, added a new book and synced. Then ran `yarn dev`
I still see the error
![image](https://user-images.githubusercontent.com/1523409/35653877-34cd596a-06b8-11e8-9a82-b562443963e4.png)

[2018-02-01 00:06] tima101 commented on #16
@helpse try updating content of `introduction.md` file, here is suggestion:
https://github.com/helpse/builderbook-mybook/compare/master...tima101:patch-1

[2018-02-01 00:10] tima101 commented on #16
@helpse run `yarn` as well since yesterday we added `"passport-google-oauth": "^1.0.0"` package

[2018-02-01 02:15] helpse commented on #16
Works like a charm now. Thank you!

[2018-02-01 02:15] #16 closed

[2018-02-06 01:13] #6 closed

[2018-02-06 06:18] tima101 opened #18 "markdown bug: h2/h4"
marked does not convert markdown into html for `heading`

[2018-02-06 06:22] #18 closed

[2018-02-06 20:46] tima101 opened #19 "move static files from static folder to CDN"

[2018-02-06 22:08] #19 closed

[2018-02-11 18:30] klyburke opened #20 "remove sanitize-html"
@tima101  sanitize-html causes issues with displaying some content in books. Since users will write all code in books (and will not add anything unsafe), we can remove sanitize-html.

[2018-02-11 18:53] tima101 opened #21 "move marked.Renderer from page to server"
Instead of running marked on every page load, let's save html content to DB in addition to markdown content

- markdown content is used to compare content between database and Github
- html content is used for data on the page

[2018-02-11 20:27] klyburke opened #22 "TOC highlight disappears past h4 heading"
When you scroll past content under an <h4> heading, the current section (which is under <h2> heading) on the TOC becomes un-highlighted.

We want the section to remain highlighted when reading any content within that section.

[2018-02-11 20:28] #20 closed

[2018-02-11 20:30] #22 closed

[2018-02-11 20:43] #21 closed

[2018-02-12 20:26] klyburke opened #23 "UI improvements"
- [x] decrease font weight of header tags
- [x] change colors of section names in table of contents
- [x] add chapter order, in addition to chapter title, in title tag

[2018-02-13 03:18] #23 closed

[2018-02-13 08:17] tima101 commented on #10
Added to #9

[2018-02-13 08:17] #10 closed

[2018-02-13 09:47] tima101 opened #24 "add boilerplate app"
Boilerplate app should have:
- React, Next.js, Material-UI
- Express, Express Session
- connected to MongoDB with Mongoose
- Google OAuth 2.0

[2018-02-13 10:51] tima101 opened #25 "add code for chapter 1 to 6"
Place code in `/book` directory, for each chapter `N-start` and `N-end` codebases.

[2018-02-15 01:26] reggarcia opened #26 "Error: redirect_uri_mismatch"
I am trying to run the locally but when I try to login, it keeps giving me an error:

Error: redirect_uri_mismatch

The redirect URI in the request, http://localhost:8000/oauth2callback, does not match the ones authorized for the OAuth client.

Help!

[2018-02-15 01:53] reggarcia commented on #26
okay, so the Authorized Redirect URI should be:
http://localhost:8000/oauth2callback not http://localhost:8000/auth/oauth2callback

however, when I choose a google account to authorize, I am getting another error:

`TokenError: Unauthorized
    at Strategy.OAuth2Strategy.parseErrorResponse (/Users/reginagarcia/Documents/GitHub/builderbook/node_modules/passport-oauth2/lib/strategy.js:329:12)
    at

[2018-02-15 03:30] tima101 commented on #26
@reggarcia thanks for pointing out problem in callback URL https://github.com/builderbook/builderbook/commit/ea8589c94ca3a59c136381510c9404b54ee2afe1

As for you second error, do you have  Google+ API enabled in your Google Cloud account?

[2018-02-15 03:34] reggarcia commented on #26
yup, that was the fix — enable google + api

[2018-02-15 03:35] #26 closed

[2018-02-18 07:12] tima101 commented on #24
5b4a04e6fe7c646fab5f2bbc507cd62ec413c25f

[2018-02-18 07:12] #24 closed

[2018-02-18 07:12] tima101 commented on #25
d80eb69a30b07ebebec29b481365ec9bd24ebcf0

[2018-02-18 07:12] #25 closed

[2018-02-18 23:39] klyburke opened #27 "show icon on hover event for h2 and h4 inside htmlContent"
As an example, hover over the headers on this page:
https://reactjs.org/docs/rendering-elements.html#rendering-an-element-into-the-dom

[2018-02-19 04:25] klyburke opened #28 "close TOC on mobile"
On mobile, when a user clicks any link in the Table of Contents (in sidebar of the read-chapter page) - the TOC should close, and the user should see the content of the section clicked

[2018-02-19 05:38] klyburke opened #29 "dynamic padding on read-chapter page"
- Desktop with closed TOC
- Desktop with open TOC
- Mobile

[2018-02-19 19:20] tima101 commented on #29
f99e74760448728fbd4b1792d7f683ced66bd5f7

[2018-02-19 19:20] #29 closed

[2018-02-19 19:20] #28 closed

[2018-02-20 20:15] klyburke opened #30 "when adding a new book, sync with Github on save event"
When you add a new book and click the `Save` button on the `/admin/add-book` page - sync the book with its Github repo and redirect to the `/admin/book-detail` page.

This way the admin does not need to click `Sync with Github` for book creation, only for book updates.

[2018-02-20 20:34] #30 closed

[2018-02-20 20:35] #12 closed

[2018-02-21 01:48] tima101 opened #31 "upgrade to Next version 5"
test out local and deployed apps

[2018-02-21 02:17] klyburke opened #32 "redirect admin to book-detail page after save"
When an admin clicks `save` on the `edit-book` page,  save and redirect the admin to the `book-detail` page

[2018-02-21 03:28] #31 closed

[2018-02-21 04:15] #32 closed

[2018-02-21 04:16] #27 closed

[2018-02-21 22:38] klyburke opened #33 "Fix logic on bookmark"
Instead of requiring the user to select a chapter section to create a bookmark, let's have the user bookmark the section he/she is currently reading

- when a user is within a chapter section, the bookmark button should say `Bookmark "section"`
- after creating a bookmark in a chapter, the button should have options to `Go to "section"` or `Bookmark "current section"`

[2018-02-21 22:40] #33 closed

[2018-02-24 18:13] #4 closed

[2018-02-26 00:03] earllee opened #34 "Missing Avatar and headersAlreadySent error w/3-end and 4-start"
After copying my `.env` into `book/4-start` and running `yarn` then `yarn dev`, I get the following error after logging in with Google:

[code]

Furthermore, the app looks like this when logged in:

![image](https://user-images.githubusercontent.com/2468620/36648225-6d75c572-1a5e-11e8-9cd0-bd1830569c36.png)

The user I am logged in with does have an avatar.

[2018-02-26 02:24] tima101 commented on #34
@earllee thanks for reporting. I just ran both `3-end` and `4-start` (@klyburke tested as well) - in both apps I do see `Avatar` after login:
![image](https://user-images.githubusercontent.com/10218864/36650460-7d63bf76-1a58-11e8-8dd3-748f9573cc02.png)

Let's figure why you can't see `Avatar`:
- Try pulling code, delete `node_modules` and `yarn.lock`, then run `yarn` and `yarn dev`.
I wonder if yo

[2018-02-26 05:33] tima101 opened #35 "Can't set headers after they are sent."
Below error is not always reproducible and not crucial (app runs):

most recent: https://github.com/zeit/next.js/commit/7b2cd84fee924cb5299635000d8067e3c16c7ccc#diff-bec864430eb5752a683c8798d0c6bd6c
old: https://github.com/zeit/next.js/commit/c210a2e73cb98854517aa85ff51cfc3561772618

https://github.com/zeit/next.js/issues/2152
https://github.com/zeit/next.js/issues/3778

[code]

[2018-02-26 06:17] tima101 commented on #35
@earllee Downgrading next to `4.3.0-canary.1` eliminates above error.
Try:
- `yarn remove next`
- `yarn add next@4.3.0-canary.1`

[2018-02-26 07:48] tima101 opened #36 "Move `hideHeader` from withLayout HOC to ReadChapter page"
Reuse even listener and move `hideHeader` code from `withLayout` HOC to ReadChapter page.
No other page needs hiding Header.

[2018-02-26 12:30] earllee commented on #34
Hi @tima101,

I deleted the User documents on Mongo and tried logging in with a different email and then that showed the avatar. Then, I logged out and logged back in with the email that wasn't showing the avatar, and for whatever reason, it showed. Wasn't able to diagnose why this behaviour happened.

Thanks, will look at #35!

[2018-02-26 12:30] #34 closed

[2018-02-26 12:32] earllee commented on #35
Ah, interesting. That solved it. Thanks!

[2018-02-26 20:52] #36 closed

[2018-02-27 00:15] klyburke opened #37 "display list of bookmarks on MyBooks page"
Let's display a list of hyperlinked bookmarks on the user dashboard (the `MyBooks` page for a `Customer` user).

[2018-03-03 02:01] wilvk commented on #13
Connect to Github is giving me a 404 at the url https://github.com/login/oauth/authorize?scope=repo

I am running this on localhost:8000 is it possible to login to github from a dev instance?

[2018-03-03 02:41] tima101 commented on #13
@wilvk thanks for asking, take a look at this code snippet:
https://github.com/builderbook/builderbook/blob/master/server/github.js#L23

https://github.com/login/oauth/authorize?scope=repo _needs_ to be appended with `CLIENT_ID`

Make sure your `.env` file has `Github_Test_ClientID` and `Github_Test_SecretKey`.
Get these values from OAuth app that you created on Github.
To create OAuth app, go to:

[2018-03-03 07:08] tima101 opened #38 "Serve robot.txt with next/express server"
Add Express route at `'/robot.txt'`

[2018-03-03 07:10] tima101 commented on #35
note to myself https://github.com/zeit/next.js/issues/3890

[2018-03-03 18:13] #13 closed

[2018-03-04 00:10] earllee opened #39 "Chapter 7: returnSidebar and returnSection"
In the beginning of chapter 7, the book goes over how to build the returnSection() function. However, that function is already built in 7-start. Furthermore, the book begins discussing how to build returnSidebar. However, 7-start already has code for returnSidebar() that appears to be fully built out. This makes it very confusing to follow, since I'm not sure what code I should be writing.

[2018-03-04 01:24] klyburke commented on #39
@earllee good catch. Thanks for pointing it out.

I just removed those functions from the 7-start folder. You can pull the changes and continue reading. Feel free to send more feedback on the book.

[2018-03-05 03:51] #39 closed

[2018-03-05 09:08] cnadav opened #40 "Failed to load css file from module"
Hi,

Im trying to add 'react-big-calendar' to your boilerplate project, but getting the following error:
[code]

maybe adding webpack will solve this issue

[2018-03-05 09:57] tima101 commented on #40
@cnadav I have not tried importing css files in our boilerplate app but here is an example that does it, you gotta configure `next.config.js` file:
https://github.com/zeit/next.js/tree/canary/examples/with-global-stylesheet

If you extend boilerplate, I recommend checking out Next.js examples:
https://github.com/zeit/next.js/tree/canary/examples

[2018-03-05 10:22] #38 closed

[2018-03-06 03:00] klyburke commented on #35
With `4.3.0-canary.1`, there is a problem using the `<Link>` tag, so I upgraded back to `5.0.0` in all of the book code folders.

For each chapter's -start and -end folder, I also removed any unnecessary packages from `package.json`. In particular, I removed `babel-plugin-transform-define` in all but 8-start and 8-end.

[2018-03-06 07:03] cnadav commented on #40
thank you @tima101, the correct example is this one:
[https://github.com/zeit/next.js/tree/canary/examples/with-global-stylesheet-simple](https://github.com/zeit/next.js/tree/canary/examples/with-global-stylesheet-simple)

[2018-03-06 07:03] #40 closed

[2018-03-08 09:10] tima101 opened #41 "compression for responses"
https://github.com/zeit/next.js/wiki/Getting-ready-for-production

[2018-03-08 09:11] tima101 opened #42 "sitemap"
https://www.npmjs.com/package/sitemap#example-of-using-sitemapjs-with-express-

[2018-03-08 19:14] tima101 commented on #42
3fe12990782952a3bfc3b462cd02d0a7c4a8a7b7

[2018-03-08 19:14] #42 closed

[2018-03-08 19:17] #41 closed

[2018-03-10 05:11] tima101 commented on #2
added helmet a2562c5add65e74bdaddb7e9c5e4660b35295736
added compression 05ff906926a266769ddeb85bc80098e3fa5d2cf7

[2018-03-10 05:11] #2 closed

[2018-03-10 05:12] tima101 commented on #35
Note to myself - try this fix: https://github.com/zeit/next.js/issues/3890#issuecomment-371199844

[2018-03-11 03:25] klyburke opened #43 "editable text next to Buy Button"
Create a new entry field on the `add-book.js` and `edit-book.js` pages so that an Admin user can add text next to the Buy Button for a book. For example, the text could be "On sale" or "Pre-order ends on Friday", etc.

[2018-03-11 19:33] #43 closed

[2018-03-11 20:48] earllee opened #44 "Example with relational database"
This is just a suggestion, but it would be nice to have an example of how Builder Book can be made with a relational database like SQL instead of using MongoDB, Mongoose, etc.

[2018-03-11 20:49] earllee opened #45 "Example with TypeScript"
This is just a suggestion, but it would be nice to have an example of how one could use TypeScript instead of PropTypes and Babel for Builder Book given the rising popularity of and support for TypeScript.

[2018-03-11 21:11] klyburke commented on #45
@earllee I agree. We actually plan to open source our boilerplate that uses TypeScript: https://github.com/builderbook/async

[2018-03-11 21:18] klyburke commented on #44
@earllee thanks for the suggestion! We plan to publish tutorials at builderbook.org, and this would be a good topic. You are welcome to write the tutorial.

[2018-03-11 21:21] tima101 commented on #44
@earllee we already outlined topics for the next 5-10 tutorials but relational db is not on the list.
having said that, you are welcome to tinker with [boilerplate](https://github.com/builderbook/builderbook/tree/master/boilerplate) and write tutorial that integrates with SQL instead if MongoDB.

[2018-03-14 06:05] tima101 commented on #37
@klyburke I think it would be a good UX.

Before adding this feature, let's see how often current customers use Bookmark feature.

[2018-03-16 20:59] tima101 opened #46 "Add title to pages"
please add title to `AddBook` and `EditBook` pages using `Head` from `next/head`

no need for description since pages are not indexed

[2018-03-17 23:44] tima101 opened #47 "SubscribeForm component"
Use `SubscribeForm` component to let readers subscribe to newsletters

Add Tutorial model and `tutorials` page

[2018-03-18 00:52] klyburke opened #48 "add `noPrefetch` prop to `MenuDrop` component"
Set prefetch to false for the `/logout` route in the `MenuDrop` component

Otherwise, we get a browser console error like this:
`GET https://demo.builderbook.org/_next/c3fa3d01-d44e-4ae4-88c9-0f836d00d8c2/page/logout.js net::ERR_ABORTED`

[2018-03-18 20:23] earllee opened #49 "Deploying with babel-node"
Hi Kelly and Timur,

Question about the user of `babel-node` to start the server on Now. I was reading the babel docs which states the `babel-node` should not be used in production ([link](https://babeljs.io/docs/usage/cli/#babel-node)). What's the benefit of doing so in Chapter 8? Is it just to make the deploy process easier? What would the alternative be?

Btw, just finished the final chapter. G

[2018-03-19 02:25] tima101 commented on #49
@earllee great suggestion!

Since Next.js does not compile server-side files, alternative to `babel-node` to compile files inside with `babel` and then starting app with `node`.

Updated `scripts` section (without `babel-node`) will look like:
[code]
Compiled code is located inside `compiled` folder at the app root.
I added `build:lib` since `server/app.js`  uses  `../lib/api/getRootUrl.js` to get

[2018-03-21 04:02] klyburke opened #50 "Suggestions for examples in this repo"
This is a list of suggested examples. Each suggestion has a link to the original issue.

- Create an example using TypeScript instead of PropTypes and Babel #45
  - Typescript example: https://github.com/async-labs/async-saas
- Create an example using a relational database like SQL instead of MongoDB, Mongoose #44

[2018-03-21 04:03] klyburke commented on #45
added to list of suggestions, #50

[2018-03-21 04:03] #45 closed

[2018-03-21 04:04] klyburke commented on #44
added to list of suggested examples, #50

[2018-03-21 04:04] #44 closed

[2018-03-22 21:57] klyburke commented on #48
ca29e19d75ec612e69e3b21fb21565d876462228

[2018-03-22 21:57] #48 closed

[2018-03-23 06:31] tima101 opened #51 "unexpected renaming by material-ui: Reboot => CssBaseline"

[2018-03-23 06:36] #51 closed

[2018-03-28 03:14] klyburke opened #52 "Upgrade Next to 5.1.0"
upgrade to Next 5.1.0 in the main app code, boilerplate, book code, and tutorials code

[2018-03-28 04:38] tima101 opened #53 "Add Google Analytics"
@klyburke Let's add GA to main app. It's not trivial thus it's worth showing how to implementation.
Do something like this inside `_document.js`:

Before defining `MyDocument` component:
[code]
You can put `gaTrackingId` into `.env`.

Inside `<Head>`:
[code]

[2018-03-30 02:34] klyburke commented on #52
89691586d65ea2ca5d3be733a7bde5c312a89683

[2018-03-30 02:34] #52 closed

[2018-04-08 03:09] tima101 opened #54 "Automation scripts"
To yarn remove and yarn add in multiple directories automatically

[2018-04-08 03:14] tima101 opened #55 "Sync button on each Chapter in addition to Sync all chapters"

[2018-04-08 03:16] #54 closed

[2018-04-08 22:04] #46 closed

[2018-04-11 21:54] tima101 commented on #37
@klyburke enough people are using it, I will push code that displays list of bookmarks on `MyBooks` page

[2018-04-11 22:01] tima101 commented on #35
@klyburke I can't reproduce it, perhaps fixed in next 5.1.0?

[2018-04-11 22:01] #35 closed

[2018-04-13 19:02] tima101 opened #56 "add example of forked process for Node to main app"
forked/child process for computationally intensive tasks so that main/parent process stays unblocked
show it for sync content method

https://nodejs.org/api/child_process.html

[2018-04-13 19:43] #37 closed

[2018-04-13 19:52] klyburke opened #57 "automatically create Review and Tutorial documents in DB on app start"
When starting the app, a review document and a tutorial document should be automatically generated on the database.

That way, an example review appears on the `/book` page, and example tutorial on the `/tutorials` page. This will help people know how to format the documents, too.

[2018-04-13 20:09] #55 closed

[2018-04-13 20:09] #56 closed

[2018-04-13 20:09] #49 closed

[2018-04-13 20:34] #47 closed

[2018-04-14 04:08] #57 closed

[2018-04-15 01:28] tima101 opened #58 "compiling getRootUrl"
Let's not import `lib/api/getRootUrl` to server. Add logic directly to `server/app.js`. That way there is no need to compile code with babel inside `getRootUrl.js`

[2018-04-15 17:57] #58 closed

[2018-04-19 06:05] tima101 opened #59 "server-side sorting of tutorial and review arrays (by order)"

[2018-04-19 17:48] tima101 opened #60 "server-side cache for tutorial 7-end and main app"
Use: https://github.com/isaacs/node-lru-cache

[2018-04-19 23:01] klyburke opened #61 "forked Node process for `sync all chapters` request"

[2018-04-20 00:34] #59 closed

[2018-04-20 00:39] #61 closed

[2018-04-20 01:09] #60 closed

[2018-04-21 05:56] Asher978 opened #62 "SASS Support / Integration"
First off .... I want to thank you for all the amazing work you guys have done and provided the community with a solid example of what the `USED STACK` can achieve. As I'm just starting to get my head wrapped around `Next.js`, this project will and actually is providing great context for better understanding.

I noticed that your project isn't very `CSS` heavy. I have been looking at ways to bring

[2018-04-21 22:38] Asher978 commented on #62
@klyburke unfortunately the above mentioned **example** has many issues and seems like the Next.js is working on them yet there is no solid solution for Sass integration yet or maybe I just haven't come across it yet :(

Thanks for adding the styling tips in the `README`. Seems like the community is more incline on individual component stying Vs writing a style sheet for a page / component.

I do

[2018-04-21 23:49] klyburke commented on #62
@Asher978 outside of the boilerplate code, take a look at the [pages folder](https://github.com/builderbook/builderbook/tree/master/pages) and the [components folder](https://github.com/builderbook/builderbook/tree/master/components) of our main app.

You can review files in these folders as examples of pages and components to add to the boilerplate. You can also run the main app and modify the pa

[2018-04-23 04:38] #62 closed

[2018-04-25 11:08] credifiable commented on #53
@tima101 @klyburke - I am confused. This change alone will not handle the route changes on client side. This needs to be included in some component like Header.

Link to the issue - https://github.com/zeit/next.js/issues/2644
Example from NEXT - https://github.com/zeit/next.js/tree/canary/examples/with-google-analytics

P.S: Thanks for the project. It is very helpful.

[2018-04-25 15:50] tima101 commented on #53
@credifiable you are right. Currently code runs on server only, thanks for first link.

@klyburke Since we have multiple `Header` components, please move both GA-related and Nprogress-related code to `withLayout` HOC (which wraps all pages in the app).

[2018-04-25 19:24] klyburke commented on #53
@credifiable thanks for catching the Google Analytics issue and reporting. Let us know if the changes I made work for you.

We're glad you find the project helpful.

[2018-04-26 00:06] tima101 opened #63 "Server-side caching"
`user` prop gets cached. This creates a bug, user logs out but still sees Avatar in the `Header` component.

Add `req.user.id` to `getCacheKey(req)`

[2018-04-26 00:09] #63 closed

[2018-04-26 00:11] #53 closed

[2018-05-07 17:23] tima101 opened #64 "universal config without babel"

[2018-05-07 17:24] tima101 opened #65 "run locally without babel-node: re-write imports and exports"

[2018-05-07 17:25] tima101 opened #66 "Move Nprogress to withLayout HOC"

[2018-05-07 17:25] tima101 opened #67 "Upgrade Next to 6 and other packages"

[2018-05-07 18:37] #64 closed

[2018-05-07 18:37] #65 closed

[2018-05-07 18:41] #66 closed

[2018-05-07 19:27] #67 closed

[2018-05-07 19:30] tima101 opened #68 "Book- and boilerplate-related tasks"
- upgrade packages (both book and boilerplate) - all chapters
(Next, Babel, React and more)
- remove `.babelrc`, pass `--presets=@babel/preset-env` to `dev` and `start` script to compile server code - chapter 1
- move Nprogress to withLayout HOC (book only) - chapter 3
- add universal config runtime (book only) - chapter 8
- add Google Analytics (book only) - chapter 8

Done with:
- [x] boileplate

[2018-05-09 02:53] robaguilera opened #69 "Unable to run code in book 2 lesson"
Bug:
When attempting to follow the steps in chapter 2, I am unable to run the next server.  Once the express server has been refactored to be a next server, running the command `nodemon server/app.js --watch server --exec babel-node` results in the page `localhost:8000` to infinitely load.  There are no errors in the console nor network tab.

Specs:
Macbook Pro 10.13.3
Node  8.9.3
NPM 5.5.1
Google

[2018-05-09 03:04] klyburke commented on #69
@robaguilera thanks for reporting.

Can you create a public repo with the exact code you are trying to run? Then we can look into the changes you've made and see what may be the problem.

[2018-05-09 03:12] robaguilera commented on #69
Hi @klyburke, I should have mentioned it but I did try the `2-end` codebase and got the same result.  Also, there's the repo I was working on.  That is as far as I got until I got stuck on this issue: https://github.com/robaguilera/next-buildertutorial
I did try to bump up the version of next to 6.0, but still ran into the same issue.

[2018-05-09 03:29] tima101 commented on #69
@robaguilera thanks for your question.

I just quickly ran `2-end`, and it compiles and loads Index page.

I ran your actual app from your public repo:
- Express route you wrote, it never sends response to browser since you commented out:
[code]
Link: https://github.com/robaguilera/next-buildertutorial/blob/5c94759b638050e7ddb69aa21d63cff2a5ca1be8/server/app.js#L15

- Also add `()` around `err` so

[2018-05-09 03:38] tima101 commented on #69
@robaguilera unrelated to my above comment, we strongly recommend using exact package versions. Newer versions of packages often require code refactors, i.e. breaking.

Next 6.0 and Babel 7 require code changes. It's on our to do list to upgrade later this week.
@klyburke We should send email to all customers after upgrading. Code will change in multiple places.

[2018-05-09 03:46] robaguilera commented on #69
@klyburke @tima101 thanks for responding so quickly.
1. It was my mistake.  I commented out the `res.send()` method following the steps in the 2nd chapter of the tutorial.  Here's the instruction specifically:
[code]
I interpreted that to mean, only comment out `res.send...`.  Once I removed the whole block the next app renders.

2. I believe that parens are optional when you're only passing 1 arg

[2018-05-09 03:46] #69 closed

[2018-05-11 04:11] tima101 commented on #68
Forgot to mention commit: 9fdca68

[2018-05-11 04:11] #68 closed

[2018-05-12 07:57] tima101 opened #71 "Safari on mobile"
- [x] scrolling is not working properly
- [x] div with material icons not shown but clickable when TOC is open

Done with
- [x] main app
- [x] book

[2018-05-12 20:57] #71 closed

[2018-05-22 02:27] klyburke opened #73 "Upgrade to Next 6.0.3 and Material UI v1"
Latest Next release: https://github.com/zeit/next.js/releases/tag/6.0.3
MUI announcement about v1: https://medium.com/material-ui/material-ui-v1-is-out-e73ce13463eb

Upgrade Next and MUI in:
- [x] main app
- [x] boilerplate
- [x] book

[2018-05-22 02:40] klyburke commented on #50
- Typescript example: https://github.com/async-labs/async-saas
- SQL not a priority right now

[2018-05-31 14:55] bimah opened #74 "Changing Name of book redirect to old book slug"
Once finished chapter 6 of the book there is a problem when you try to change the title of the book.

On `/admin/edit-book/[book-title]` if you change the title of the book and press "Save" you get re-directed to `/admin/book-detail/[old-slug]` which do doesn't exist anymore.

`/api/v1/admin/books/edit`, insert the new object to MongoDB returning a success message and not the new object.

[2018-05-31 20:53] klyburke commented on #74
@bimah good catch, thanks for reporting.

In `server/api/admin.js`,  I now send `editedBook` object to client with
[code]
instead of
[code]

I pushed changes to Chapters 6, 7, 8 and `main app`.

Let me know if this works for you.

[2018-06-01 08:05] bimah commented on #74
@klyburke that's solved the issue.

[2018-06-01 08:05] #74 closed

[2018-06-03 02:01] klyburke commented on #73
Upgraded to Next 6.0.4-canary.3 (https://github.com/zeit/next.js/releases/tag/6.0.4-canary.3) to remove react-hot-loader.

With Next 6.0.3, the app had issues opening the `read-chapter` page from Next's `<Link>` element. The URL would change but the page itself would not load unless you refreshed the tab.

[2018-06-03 23:31] #73 closed

[2018-06-11 07:07] hemantvayali009 opened #75 "Example link not working"
In Chapter 1 -> Material-UI Integration -> Create Page Context, the link to the nextJS example is not working. It says "page not found".

[2018-06-11 13:08] klyburke commented on #75
@hemantvayali009 thanks for reporting. Since Material-UI moved out of beta, their Github links have changed. I've made sure all links to Material-UI's repo in our book are correct.

The particular link you mentioned is here: https://github.com/mui-org/material-ui/tree/master/examples/nextjs

[2018-06-11 13:08] #75 closed

[2018-06-11 13:10] hemantvayali009 commented on #75
Thanks a lot...

[2018-06-13 02:57] Always-Sunny opened #76 "Don't have access to clone repo"
on `git clone git@github.com:builderbook/builderbook.git`
[code]

[2018-06-13 03:00] #76 closed

[2018-06-13 03:00] Always-Sunny commented on #76
works fine over HTTPS (just an issue over SSH)

[2018-06-14 12:11] codeaudit opened #77 "Google OAuth Issues"
Fixed "Google+" needs to be enabled.

[2018-06-14 12:44] #77 closed

[2018-06-18 17:34] ro2087 opened #78 "Firebase Next.js"
Can you give an example of firebase and next.js integration

[2018-06-18 20:41] tima101 commented on #78
@ro2087 Hi, I haven't tried building web app with Firebase and Next.

So far we have no plans on adding this integration.

I did a bit of research:
- Next repo does have this example app:
https://github.com/zeit/next.js/tree/canary/examples/with-firebase-hosting
- Above example app is added by @jthegedus who wrote this post:
https://codeburst.io/next-js-on-cloud-functions-for-firebase-with-firebas

[2018-06-19 21:22] #78 closed

[2018-06-20 17:32] notdrone opened #79 "import typo in chapter 3"
In chapter 3, `import Button from '@material-ui/coreButton';` should be `import Button from '@material-ui/core/Button';`

[2018-06-21 03:41] klyburke commented on #79
@notdrone good catch and thanks for reporting! I fixed the typo.

[2018-06-21 03:41] #79 closed

[2018-07-02 15:44] Always-Sunny opened #80 "Printable version?"
Hey there,

I was wondering if there's a way I can print the chapters and follow along physically after I've bought the book (which I already did).

R

[2018-07-02 21:15] klyburke commented on #80
Hi @Always-Sunny, thanks for buying our book!

We only have a web version. We have not made a printable/PDF version because we still regularly upgrade packages, edit code, and improve our explanations.

For example, I recently upgraded all packages and edited the book text to correspond (42f6f1da9089da9b73feb4f4b85b2fd8fda20846).

If you want to track your progress while reading, you can use the `

[2018-07-03 06:34] #80 closed

[2018-07-08 14:50] tima101 opened #81 "refactor `MyBooks` page to be SSR instead of CSR"
some pages are SSR, some are CSR

for consistency and better UX, refactor `MyBooks` (`pages/customer/my-books.js`) to be [SSR](https://hackernoon.com/server-side-vs-client-side-rendering-in-react-apps-443efd6f2e87)

[2018-07-19 16:51] jessebrack opened #82 "Broken link"
In Chapter 1 - Material-UI Integration, the [Remove Server-side Styles](https://builderbook.org/books/builder-book/app-structure-next-js-hoc-material-ui-server-side-rendering-styles#remove-server-side-styles) sub-section's official Material UI example link is broken ([broken link in book](https://github.com/mui-org/material-ui/blob/master/examples/nextjs/src/withRoot.js))

[2018-07-19 17:08] klyburke commented on #82
@jessebrack thank you for reporting! we appreciate feedback from our community

Material UI recently changed their `withRoot` example to one for `_app.js`:
https://github.com/mui-org/material-ui/commit/ca33d9773581a8b0ff37c92260b48c9f72b42de9

For now, I will update the link in the book to be:
https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_app.js

We will keep the issue

[2018-07-22 00:00] #82 closed

[2018-07-23 19:49] nmalancea opened #83 "ES6 imports not working when running yarn test"
I'm going through the book and at chapter 4 section 1 I'm unable to run the tests.

`yarn test` gives this error `SyntaxError: Unexpected identifier` for `generateSlug` in `import generateSlug from '../../../server/utils/slugify';`.

Steps to reproduce:

1. Run `yarn` in the `4-start` directory to install the dependencies
2. Follow the steps outlined in chapter 4 section 1
3. Run `yarn test`
Expec

[2018-07-24 03:48] klyburke commented on #83
@nmalancea good catch, thank you for reporting

You were correct to switch from `import` to `require` for `generateSlug`, but you may have missed changing `export default` to `module.exports` in the `slugify.js` file.

---

In `test/server/utils/slugify.test.js`, replace
[code]
with
[code]
---
In `server/utils/slugify.js`, replace
[code]
with
[code]
and also add this line at the end:
[code]

[2018-07-24 11:13] webbygregg opened #84 "Boilerplate: Slug is Required"
I am receiving the below error when logging in with Google

ValidationError: User validation failed: slug: Path `slug` is required.

If I set slug to not required in the model, everything works correctly.

[2018-07-24 17:54] nmalancea commented on #83
That worked. Thank you!

[2018-07-24 17:54] #83 closed

[2018-07-25 04:09] klyburke commented on #84
@webbygregg thank you for reporting and suggesting a solution. I'm going to push the fix you suggested.

[2018-07-26 04:58] #84 closed

[2018-07-26 08:01] webbygregg commented on #84
@klyburke thanks for sorting that.

[2018-08-18 00:59] gnarmedia opened #86 "I paid for the book, but the link in my email is not the full book."
What's going on? I paid for the book, I click on the link to start reading my book form the email, it takes me to a copy that starts each chapter with a sales pitch for the new price of the book and cuts each chapter short saying I need to buy the book. I did. What's up?

[2018-08-18 01:07] klyburke commented on #86
Hi @gnarmedia, if you see the chapter excerpts, it likely means that you are logged out.

To read the full book content, just log in with the email that you originally used to sign up and purchase the book.

[2018-08-18 01:27] tima101 commented on #86
@gnarmedia Hey Adam, you sound frustrated and rude. I just processed refund for you.

From Stripe:

[2018-08-18 01:31] #86 closed

[2018-08-19 22:19] johnking opened #87 "Problem with main repo app: book purchase"
After deploying the app both in local env and production env (zeit), I found: a regular user could not open the book and read the chapter even though:

1. it shows the book on the list of 'Your books' after going through the purchasing procedure.

![screen shot 2018-08-19 at 18 12 12](https://user-images.githubusercontent.com/1787137/44313728-7a4f9000-a3db-11e8-829c-c0dcbd7b8fae.png)

2. After try

[2018-08-20 00:45] johnking commented on #87
Hi @klyburke

The issue is related to the main repository, not about the tutorial code (book chapter-8 code).

the only changes in my clone are
1. the ROOT_URL
2. all kinds of env variables

-John

[2018-08-20 13:53] johnking commented on #87
Hi @klyburke

I tried a clean deployment locally with my own secrets, and completed the purchase process with the demo-book (forked from your demo-book repository), I checked the database:
 - No `Purchase` document inside the `purchase` collect
<img width="1164" alt="screen shot 2018-08-20 at 09 46 49" src="https://user-images.githubusercontent.com/1787137/44344434-b5df6e00-a45e-11e8-991b-80981b16

[2018-08-20 14:36] johnking opened #88 "Problem with main-app: book synchronization failed in production env"
Hi @klyburke @tima101 ,

  I found an issue in my production deployment with Zeit-now, I can add a book from my github, but could not synchronize with the repos, and I found the error in log screen:

<img width="1238" alt="screen shot 2018-08-20 at 10 30 09" src="https://user-images.githubusercontent.com/1787137/44346509-1d4bec80-a464-11e8-9ddc-ba64b8566c9e.png">

[code]
<img width="1280" alt="scr

[2018-08-20 15:26] tima101 commented on #87
@johnking Thanks for your response about DB.

The fact that your `User` doc has `purchasedBookIds` (line 237 does run) but `Purchase` doc is not created (line 265 does not run) - means that either AWS SES or Mailchimp returned caught error. And code that created `Purchase` doc did not run.

@johnking please take a look at below snippet:
https://github.com/builderbook/builderbook/blob/146ade6be3f39

[2018-08-20 15:49] tima101 opened #89 "I bought book, some time passed and I can't access it"
To All Customers who purchased book and encountered problem in subj line:

We had multiple customers  reporting that they bought book but later were not able to access it.
After investigating all cases, we found that **in each case** customer bought book with **one** Google account but later tried to access book with **another** Google account.

Many people have more than 1 Google/Gmail account th

[2018-08-20 16:14] johnking commented on #87
Hi @tima101 @klyburke ,

I repeated the steps based on your instructions, but I did not find any log errors related to AWS SES or Mailchimp, and I did not receive the purchase notification email either. I could receive the notification email based on chapter 8-end code.

![screen shot 2018-08-20 at 12 03 41](https://user-images.githubusercontent.com/1787137/44352274-e11f8880-a471-11e8-90d7-b22bfd8

[2018-08-20 16:29] tima101 commented on #87
@johnking Alright, this helps to narrow down problem even further.
You did not get purchase email via AWS SES.
Was your email address added to Mailchimp list?

Please comment out these 2 blocks of code and test purchase again (remember to clear relevant data in DB):
[code]

The goal is to create `Purchase` doc successfully.
After that we will investigate why purchase email was not sent by AWS SES.

[2018-08-20 16:59] johnking commented on #87
Hi @tima101 ,

  The purchase flow is successful this time by commenting out the lines as specified above!

  I double checked that my second gmail address IS in the mailchimp MAILCHIMP_PURCHASED_LIST_ID.

  let me know what I should test next.

thanks

[2018-08-20 17:12] tima101 commented on #87
@johnking Great. This means that Mailchimp works as expected but not AWS SES.

Please comment out only this block of code to confirm our conclusion:
[code]

If purchase works then problem is within above code block.

I may have found the problem, try fixing, replace `purchased` with `purchase` inside:
`const template = await getEmailTemplate('purchased', {`

I think your DB has docs in `EmailTempl

[2018-08-20 17:33] tima101 commented on #88
@johnking Yeah, no `babel-node` in main repo app. I think `babel-node` is not recommended for use in production.

I can't deploy app right now but please try following:
Please modify following 2 lines so they become:
[code]

Redeploy and try syncing again.

[2018-08-20 17:48] johnking commented on #88
it Works! 👍

Shall I create a pull request for it?

[2018-08-20 17:49] tima101 commented on #88
Yes, please.

Thanks for contributing!

[2018-08-20 18:44] johnking opened #92 "regular use could not access my second book - main app"
Hi @tima101 and @klyburke,

  I tried to add your demo-book and played it, there is no any issue.

  but something weird with my test book at: https://github.com/johnking/demo-book-second/tree/master.

  - As an Admin user, I can add it successfully into the list,
<img width="1276" alt="screen shot 2018-08-20 at 14 38 00" src="https://user-images.githubusercontent.com/1787137/44359855-066ac180-a48

[2018-08-20 19:14] #88 closed

[2018-08-20 19:14] #87 closed

[2018-08-20 19:14] #89 closed

[2018-08-20 19:18] klyburke commented on #92
@johnking I've seen this before and it could be due to syntax/formatting inside your excerpt. The admin user does not see the chapter excerpt, but a non-admin user who did not purchase the book will see the chapter excerpt.

[2018-08-20 20:19] johnking commented on #92
Hi @klyburke

I found it was due to copy & paste in my case. I have to copy your demo-book from `editor mode` (not from `raw` mode).

I hope our findings/lessons could benefit others ...

thanks

[2018-08-20 20:43] klyburke commented on #92
Definitely. Thank you for the contributions.

[2018-08-20 20:43] #92 closed

[2018-08-21 02:58] #50 closed

[2018-08-23 02:05] klyburke commented on #87
@johnking Have you seen our SaaS boilerplate: https://github.com/async-labs/saas ?

If you happen to run/test/use our SaaS app, you are welcome to create pull requests in that repo as well.

Thanks.

[2018-08-23 02:17] johnking commented on #87
hi @klyburke ,

thanks for your invitation, I will try your SaaS boilerplate later.

[2018-09-08 02:54] klyburke commented on #76
@orpheus Thanks for creating this issue. To follow up on it - the problem is likely that SSH keys were not properly set up for the particular machine you were using. In that case, HTTPS will work.

If you want to use SSH, here is Github's tutorial on generating new SSH keys:
https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/

Then you need to add the keys to

[2018-09-08 19:26] NguyenDa18 opened #93 "Mongoose Connectivity Issue"
Builder Book Repo: https://github.com/NguyenDa18/DevBook

When I simply try to pull the user item from the database using a mongoose function like findOne or find, I am receiving the attached error:
![mongoose-err](https://user-images.githubusercontent.com/14105469/45257828-58ee1e00-b361-11e8-9f61-ed9ab071a5bf.png)

Error: `TypeError: User.findOne is not a function`

When I run the same logic with

[2018-09-08 23:29] NguyenDa18 commented on #93
@tima101 Thank you for the help! The issue is resolved now , thanks to the change you recommended. I will add nodemon as one of the `devDependencies` (already have nodemon installed globally so overlooked that) and in my repo's README, I state that the .env-default file needs to be renamed to .env, since I am not pushing my secret .env file to GitHub. Will add an issue if I need help with anything

[2018-09-08 23:29] #93 closed

[2018-09-09 15:58] whitefire0 opened #94 "Grammatical mistake"
Chapter 1, Index Page

import Head from 'next/head';

[code]

`<meta name="description" content="This is description of Index page" />`

Should be re-written to 'This is the description of the Index page'

I realise this is a very trivial improvement, but my hope is that it simply adds to the overall professionalism of the book, which is otherwise very high.

I have noticed other small typos; plea

[2018-09-10 22:04] klyburke commented on #94
@whitefire0 thanks for pointing out these fixes! We welcome any improvement to our book.

I will update the text in the book. Would you like to create a pull request to fix this line in the code for the book (`/book` folder of our repo)?

I see that it appears in these 2 places:
https://github.com/builderbook/builderbook/blob/master/book/1-end/pages/index.js
https://github.com/builderbook/builderb

[2018-09-11 11:26] whitefire0 opened #96 "Chapter 1, Custom Styles"
[code]

The provided code snippet is missing the trailing backtick before the closing brace :)

[2018-09-12 09:38] whitefire0 opened #97 "Difficulties using npx babel-node in Chapter 2"
My package.json is set up as follows, with yarn install running without errors.

[code]

This produces the following error when attempting to run babel-cli from within babel node on the command line:

[code]

Attempts to fix:
- installed babel-cli directly to dev-dependencies
- changed babel dependencies to latest stable versions, not the betas
- tried the different ways of running babel from the

[2018-09-12 22:54] Daniel-Alegria commented on #97
I'm experiencing this as well.

[2018-09-13 02:27] klyburke commented on #96
thanks @whitefire0 . Can you point out exactly where the back tick is missing?

In the code, this `<style>` element includes additional styles that are closed by a final back tick. See here:  https://github.com/builderbook/builderbook/blob/457b1c37464e2311bddb75d30a8e06c89a653448/book/1-end/pages/_document.js#L64

[2018-09-13 11:35] klyburke commented on #97
@whitefire0 @Daniel-Alegria thanks for bringing up this issue. Could one or both of you create a public repo that has this error? I can investigate the problem better by seeing the exact code you are running.

[2018-09-13 18:13] whitefire0 commented on #97
@klyburke thank you for taking the time to so quickly address this issue. For sure these two changes will get part of Babel compiling the code properly, but for myself another issue is being created. I believe it isn't parsing JSX, although I am too inexperienced to give you more information than the error log on this occasion I am afraid.

http://prntscr.com/ku2lrm

I have just finished the Authe

[2018-09-14 14:05] whitefire0 opened #98 "Babel-node with preset env compilation errors"
As per issue #97: For sure these two changes will get part of Babel compiling the code properly, but for myself another issue is being created. I believe it isn't parsing JSX, although I am too inexperienced to give you more information than the error log on this occasion I am afraid.

http://prntscr.com/ku2lrm

I have just finished the Authentication HOC subsection of Chapter 3 and my code should

[2018-09-14 14:41] YuriGor opened #99 "Git clone via https"
Ch.1 after *If you haven't cloned the builderbook repo yet, clone it..*

`git clone git@github.com:builderbook/builderbook.git `

better replace by

`git clone https://github.com/builderbook/builderbook.git`

[github recommends the same](https://help.github.com/articles/which-remote-url-should-i-use/) and I agree with him.

[2018-09-14 14:54] YuriGor opened #100 "Install yarn instruction missing"
Ch.1 / Setup

According to [yarn docs](https://yarnpkg.com/lang/en/docs/install/#debian-stable) 'apt update/install..' command is missing.
Considering book suggests using nvm, we also need --no-install-recommends option?

[2018-09-14 15:06] YuriGor opened #101 "'yarn lint' command fails in 1-start folder"
Ch.1 App Structure:

[code]

This is because there are no directories listed in "lint" command yet.
At the moment of executing suggested commands we created only "pages" dir with index.js inside.

Note, that empty directories also will not be accepted.

[2018-09-14 17:08] tima101 commented on #98
@whitefire0 Thanks for the question. Yes, configuration is very developer unfriendly.

I will look into error that you reported in 2 days.

[2018-09-14 17:08] klyburke commented on #99
@YuriGor great suggestion, and thanks for sharing the Github link.

I updated each chapter in the book to use `git clone https://github.com/builderbook/builderbook.git` instead of `git clone git@github.com:builderbook/builderbook.git`.

Some readers have had trouble here (https://github.com/builderbook/builderbook/issues/76), so it's a good change.

[2018-09-14 17:09] #99 closed

[2018-09-14 17:09] #97 closed

[2018-09-15 03:42] YuriGor opened #102 "Ch.1 / App structure - global inline styles or CDN?"
Why not to move global/body styles to CDN?
Or on the contrary: why not to put tiny css for nprogress into global styles?
Performance vs Maintenance?
- nprogress styles likely will not be changed
- but global/body style is subject to adjust during developing?
- any other reasons?

[2018-09-15 05:30] tima101 commented on #98
@whitefire0 I ran your repo and can confirm this error. I see no problem with code itself. Thanks for reporting.

It seem that configuration inside `.babelrc` disables compiling of code inside `/pages`.

Without `.babelrc`, Next compiles all code that is imported into `/pages`. Current `.babelrc` in your repo (and in our detour inside book) disables that behavior.

In other words, we successfully

[2018-09-15 11:27] YuriGor opened #103 "CSR Header doesn't work"
Chapter 1 / Server-side rendering
Test of Header rendered with next/dynamic fails:

Fixed by changing components/Header.js from

[code]
to
[code]

[2018-09-15 12:30] whitefire0 commented on #98
@tima101 this works just fine!

Thanks for taking the time to explain the solution as well. This was helpful and very considerate

[2018-09-15 12:45] tima101 commented on #98
@whitefire0 No problem. Thanks for reporting. We were planning to remove babel detour for server code but now, since this issue is resolved, we will keep it.

[2018-09-15 12:48] tima101 commented on #102
@YuriGor Once you are done developing your own app, you can move styles to CDN. During development, updating styles hosted in CDN will take more time.

[2018-09-15 12:49] #102 closed

[2018-09-15 13:23] flipdoubt opened #104 "Chapter 2: "unexpected token" error serving index.js from _document.js"
I've made it to the [index.js section in chapter 2](https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#index-page) when I run into the following error:
[code]

I've made a public repo [here](https://github.com/flipdoubt/builderbook).

Working my way through several React and Node tutorials, my guess is that I've updated some package to an incompatible

[2018-09-15 15:10] flipdoubt commented on #104
Looks like I fought my way through this one by deleting `.babelrc` as described in #98. My question about the warnings, however, remains, as running `yarn dev` or `yarn dev-express` now yields the following warning:
[code]

In general, should we ignore such warnings?

[2018-09-15 20:17] klyburke commented on #98
@tima101 thanks for resolving the issue. I updated the book content and #97 .

[2018-09-15 20:18] #98 closed

[2018-09-16 18:32] flipdoubt commented on #104
Not the authors fault, but managing dependencies has been frustrating throughout the process of doing these tutorials. I know this is meant to be the beauty of ES6 imports and the yarn/npm ecosystem, but it is a noticeable difference coming from other development platforms where you download a giant SDK and you’re done.

[2018-09-16 18:55] YuriGor opened #105 "VSCode on Linux uses all the limited file change watchers, so babel-node makes nodemon to fail (error ENOSPC)"
VSCode uses all the limitied file change watchers, and complains he wants more.

I recommend to increase the limit [as described here](https://code.visualstudio.com/docs/setup/linux#_visual-studio-code-is-unable-to-watch-for-file-changes-in-this-large-workspace-error-enospc) or babel-node will start with error:

And when you'll exit nodemon with Ctrl+C, he will not be able to kill child process, s

[2018-09-18 05:18] whitefire0 commented on #98
@tima101 it is a working solution, although I wanted to feedback that as things stand, the build/compilation time after code changes stands at about 10 seconds, whereas before it was only 2 seconds or less (running on a Macbook Air 1.8 GHz Intel Core i5)

[2018-09-18 13:10] klyburke commented on #96
@whitefire0 can you confirm if my last comment answers your issue? Thanks

[2018-09-18 13:46] whitefire0 commented on #96
@klyburke I should have been more specific in my OP.

The missing back tick is in the book itself, at this location:

http://prntscr.com/kvtfdu

[2018-09-18 14:00] whitefire0 opened #106 "Google+ API response differing from book documentation"
Book location: Chapter 3
Subsection: Google Oauth: auth() function

Unless I am setting up the Google Sign-in integration incorrectly at https://developers.google.com/ (and I have tried a number of times now), the code provided in the book by the end of the above location does not correctly retrieve the required payload, in particular for `avatarUrl`. As a result, the avatar does not render within

[2018-09-18 15:41] tima101 opened #107 "Upgrade to Next 7"
and other packages

https://nextjs.org/blog/next-7

- book chapters
- main app
- boilerplate app

[2018-09-18 15:42] tima101 commented on #104
@flipdoubt created separate issue for upgrading packages #107

[2018-09-18 15:42] #104 closed

[2018-09-18 15:59] tima101 commented on #106
@whitefire0 Thanks for reporting. I just tested, worked for me.

Here is official docs about `profile` object and `profile.image.url` property:
https://developers.google.com/+/web/api/rest/latest/people#image

Could you please check (inside your Google Cloud Platform account) if Google+ API is enabled?

![screenshot from 2018-09-18 08-58-54](https://user-images.githubusercontent.com/10218864/45700

[2018-09-18 16:10] klyburke commented on #96
Thanks @whitefire0.

I clarified this in the book by adding a line to indicate that there is additional code before the closing `<style>` tag.

[code]

We would not put the backtick yet, as the final bracket in the code snippet corresponds to the one right after `a:focus`, not the very first bracket after `<style>`.

[2018-09-18 16:10] #96 closed

[2018-09-18 16:35] tima101 commented on #105
@YuriGor Thanks for tip. Worked for me. My steps on `Ubuntu 18.04.1 LTS`:
- `sudo nautilus /etc`
- open `sysctl.conf`, appended file's content with `fs.inotify.max_user_watches=524288`
- `sudo sysctl -p`

[2018-09-18 16:39] #105 closed

[2018-09-18 16:42] tima101 commented on #106
@whitefire0 My bet, I tested with `profile.photos` not with `profile.image`. Testing it now.

[2018-09-18 16:52] whitefire0 opened #108 "Jest encountered an unexpected token in test/server/utils/slugify.test.js"
http://prntscr.com/kvvukd

[code]

My first guess is that this error is a result of the earlier change in #98. I have tried the suggestions in the Jest docs:

[](https://jestjs.io/docs/en/getting-started.html#using-babel)

and the example code at:

[](https://github.com/facebook/jest/tree/master/examples/babel-7)

But so far adding a `babel.config.js` as suggested creates a different error:

[code

[2018-09-18 16:53] tima101 commented on #106
@whitefire0 You are right. Thanks for finding this, I think `profile` object did change without any announcement email from Google.

Would you please do a pull request?

Let's go with:
[code]

[2018-09-18 16:56] tima101 commented on #108
@whitefire0 Would you please specify Chapter number and provide link to your public repo.

[2018-09-18 17:01] tima101 commented on #103
@YuriGor Would you please specify at which point inside Chapter 1 you get this error?

Could you publish publish repo to reproduce this error?

[2018-09-18 17:13] whitefire0 commented on #108
My bad..!

Chapter: [](https://builderbook.org/books/builder-book/testing-with-jest-debugging-with-winston-transactional-emails-in-app-notifications#testing-with-jest)

My public repo: [](https://github.com/whitefire0/ArchitectAtlas)

[2018-09-18 17:55] YuriGor commented on #103
It happened in the beginning of "Server-side rendering" section of 1st Chapter, after "Without SSR" instructions

`// import Header from '../components/Header';`

`import dynamic from 'next/dynamic';`

`const Header = dynamic(import('../components/Header'), { ssr: false });`

And here we have an error described above.
Right now I have no that codebase in that state, and I can't reproduce it in 1-e

[2018-09-18 18:31] #106 closed

[2018-09-18 18:46] YuriGor commented on #103
I played a bit with Header's code, most likely it was my typo in export line, which was unintentionally fixed by moving 'export' to the beginning of the component  function. I see no other possibilities to have such error.
So this bug can be safely closed.

[2018-09-18 20:37] #103 closed

[2018-09-18 21:19] whitefire0 commented on #106
No problem at all; it's a great learning experience getting involved in small open source contributions like this! Thanks for your patience - I am sure I will keep bringing things to the table as I progress with it.

I have to admit `profile.photos` probably makes more sense, both from the point of view of less code base modifications, but also because `_json` syntax raises warnings with eslint, a

[2018-09-20 17:47] rickhallett opened #111 "EmailTemplate.js not loading into application"
I have got to the end of sub-chapter 'Transactional emails with AWS SES'. On server start, I am unable to get my mLab mongoDB to show evidence of a new email document. If I run the equivalent 4-end code available on the official builderbook repo, mLab gets the document, so I know the error is somewhere in my code.

I have used diff tools to check the difference between my repository and the offici

[2018-09-20 18:11] tima101 commented on #111
@whitefire0 Could you please clarify exact thing you are trying to do?

Do you mean that your app does not insert new document into empty DB?

[2018-09-20 19:27] YuriGor opened #112 "Chapter 3 incorrect "dev" script suggested in the book"
In the book:

`"dev": "next"`

`"dev-express": "nodemon server/app.js --watch server --exec babel-node"`

`"dev": "nodemon server/app.js --watch server --exec babel-node"`

parameter
`--presets=@babel/preset-env`
missed, server doesn't start without it.

btw in package.json from 3-end this parameter exists.

[2018-09-20 19:50] tima101 commented on #111
@whitefire0 I see, got it.

It has to be code then. I will look into it tomorrow.

[2018-09-20 19:51] whitefire0 commented on #111
Are there any particular techniques/tools you use when debugging this kind of stack? If you are able to share how you might go about it, perhaps I can learn something in the process and also save your time :)

[2018-09-20 20:01] tima101 commented on #111
@whitefire0 Sure! So main hypothesis that this is code-related not configuration since code inside book does work.

I would def-ly add `console.log()` to `server/models/EmailTemplate.js`. Specifically to `insertTemplates()` function to make sure it is called. You can also add to other places to make sure code runs.

I would also delete collection and restart app to make sure collection is created

[2018-09-20 20:16] YuriGor opened #113 "Typo in Chapter 3 / 'getInitialProps() method' section"
Did you mean 'withAuth' instead of 'withAsync'?

[2018-09-20 21:07] YuriGor opened #114 "Google login button margin"
When following instructions from the book, login button looks like this
![image](https://user-images.githubusercontent.com/6861317/45846806-8e1b4880-bd31-11e8-9d5f-3e1e65cde9bf.png)
I suggest to add right margin to img element inside the button
[code]
![image](https://user-images.githubusercontent.com/6861317/45847034-3a5d2f00-bd32-11e8-99bd-72a8b22484fd.png)

It's better than `&nbsp;&nbsp;&nbsp;`

[2018-09-20 21:18] YuriGor opened #115 "Chapter 3 / Login page and Nprogress - file name typo"
`components/Header.js :`

There should be no last line.

[2018-09-20 23:38] klyburke commented on #113
@YuriGor Yes, you're right. Thanks again. I updated this in the book content.

[2018-09-20 23:38] #113 closed

[2018-09-20 23:42] klyburke commented on #115
@YuriGor Thanks again. I removed that unnecessary line from the book content.

[2018-09-20 23:42] #115 closed

[2018-09-20 23:52] klyburke commented on #114
@YuriGor Thanks, great suggestion.

I tried it locally and looks good, but I would go with `10px` for a little more space. Would you like to create a pull request?

You can simply update it in the main repo (`builderbook/pages/public/login.js`), and I'll propagate the change to all other instances of the login button. Or you are welcome to update this code in all of the book folders, too.

[2018-09-21 08:55] whitefire0 opened #116 "Book/code discrepency"
By the end of chapter 4, in repository book/4-end, withAuth.js differs from the code provided in the book. There are a number of syntactical changes that are not present in the book until chapter 4. I have uploaded the differing files to my latest personal repository commit for easier diff checking (40362da).

The primary changes are the way the HOC is exported (unexplained ES6 syntax), the additi

[2018-09-21 09:28] whitefire0 commented on #111
As a side note, whilst hunting this I found that the `yarn.lock` file in 4-end had MANY differences with mine, despite being generated from the same `package.json`. Some of this seemed to have been caused by the use of `npm` over `yarn`. I have exclusively used Yarn so far, as recommended at the start of the book.

[2018-09-21 09:37] whitefire0 commented on #108
It's worth reporting that this bug remains despite me reloading the node modules from a fresh `package.json`, identical to the one provided in the 4-end book code.

[2018-09-21 10:51] whitefire0 commented on #107
I thought I would help out a little on this one, as I find the landscape of the JavaScript ecosystem both fascinating and terrifying...

I have begun a branch on my [fork](https://github.com/whitefire0/builderbook/tree/upgrading-to-next7.0.0) to test upgrading to Next.js 7.0.0. Progress as below:

1-start
  success

1-end
  success

2-start
  success

2-end
  Running 'yarn dev' produces following

[2018-09-21 12:54] YuriGor commented on #114
Dont' forget to update text in the book too.
Chapter 3 / Login page and Nprogress

[2018-09-21 14:59] YuriGor commented on #107
Actually I double tested and no, 2-end doesn't start with nextjs v7
(initially I tested with old version)

1-end looks like works

[2018-09-21 15:27] YuriGor commented on #107
Finally I made 2-end to work with nextjs v7 by fixing babel versions:

When I try to use latest babel versions, things go bad.

[2018-09-21 17:00] tima101 commented on #107
@whitefire0 Yeah, check up Chapter about `dotenv` (like @YuriGor suggested). Keep `.env` on your local machine and avoid pushing it to remote. Add `.env` to `.gitignore`. Some chapter apps will show error without env variable which has to be supplied inside `.env`.

[2018-09-21 17:13] tima101 commented on #116
Note to myself. Look at `withAuth` inside `3-end` and `4-start`.

Link to commit: https://github.com/whitefire0/ArchitectAtlas/commit/40362dab116056a1c3e447280daeb90523a7b556

[2018-09-21 17:14] tima101 commented on #108
@whitefire0 I am making note to myself:
Nextjs example + some latest changes:
https://github.com/zeit/next.js/tree/canary/examples/with-jest
https://github.com/zeit/next.js/pull/5149/commits/d648e3f725127359b940c0b4b578d5c0f4057357

[2018-09-21 17:50] tima101 opened #118 "Add .vscode/settings.json and point to all folders inside book directory"
@klyburke Instead of User Settings, let's add settings to Workspace Settings?

So instead of relying on book readers to configure VS editor manually based on book's code, we provide ready-to-use `.vscode/settings.json` file that contains Workspace Settings.

Here is an example: https://github.com/async-labs/saas/tree/master/.vscode

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue

[2018-09-21 18:37] tima101 commented on #108
@whitefire0 I worked with your public repo and found problem in the book's code.

This problem is related to #93 - we should use `module.exports` instead of `default export`.

When you run `yarn dev`, code in `server/app.js` and all imported modules to `server/app.js` get compiled by `babel-node`.
When you run `yarn test` - code in `server/utils/slugify.js` does not get compiled.
Next compiles onl

[2018-09-21 18:40] tima101 commented on #108
@klyburke @NguyenDa18 @delgermurun we should seriously consider adding old imports/exports (require, exports, module.exports) to all server code. See main app: https://github.com/builderbook/builderbook/blob/master/server/app.js

What do you think?

[2018-09-21 18:42] klyburke commented on #114
Thanks, I updated the book content too.

[2018-09-21 18:42] #114 closed

[2018-09-21 18:48] klyburke commented on #108
@tima101 It's worth doing if it will be easier for readers. If our main app uses old imports, the book probably should too.

I think it will not involve too many text/description changes in the book - only making sure the code mentioned in the book is consistent with the repo.

[2018-09-21 18:51] tima101 commented on #111
@whitefire0

Not sure that this is true.

When user logs in, passport package populates `req.user` with user information and holds it in server memory until user logs out.

`withAuth` HOC uses `req.user` to fetch data, for example `user.email`.

It would very helpful if you can create repo for me to test, repo in which EmailTemplate.js has all necessary code and document does not get inserted and

[2018-09-21 19:13] klyburke commented on #101
@YuriGor You are right, thanks for reporting. Since we don't have `lib` or `server` folders at this point in the book, and because `components` is empty, the command fails.

In the book, I changed that line from:
[code]
to:
[code]

[2018-09-21 19:13] #101 closed

[2018-09-21 19:28] NguyenDa18 commented on #108
@tima101 @klyburke  I do agree having a ES6 version of the project (with new imports and newer syntax) and another version with old imports/exports will be beneficial especially for people not using babel-node. I can contribute some 'old-style-javascript' snippets as comments within the app for now so readers have the option of using them or trying out the newer ES6 style in the book. Thoughts?

[2018-09-21 21:26] YuriGor opened #119 "Lodash 'kebabCase' instead of handmade 'slugify'"
Lodash has [kebabCase](https://devdocs.io/lodash~4/index#kebabCase) function, which follow almost the same rules as `slugify`, except it ignores `&` symbol (do we really need it?).
So we can replace `slugify` implementation with something like:

`const slugify = text => _.kebabCase(text.replace(/&/g,'-and-'));`

or I'd prefer to just use `kebabCase` instead of `slugify` and don't care about ampers

[2018-09-22 04:13] YuriGor commented on #119
Also there is [mongoose plugin](https://www.npmjs.com/package/mongoose-slug-generator)
it generates slug from chosen field/fields, update slug on change and, while having same count-based unique check option, by default uses short random string.
I think it's better for performance, to not check sequentially:
* does bob-johnson exist?
* and bob-johnson-1?
* what about bob-johnson-2?
...
* may be bo

[2018-09-22 04:48] YuriGor commented on #119
p.s. [this fork](https://github.com/rickogden/mongoose-slug-generator) also supports compound unique indices, so we should not stuck in chapter 5.
If you are interested, I can test this plugin through all the book.

[2018-09-22 07:37] whitefire0 commented on #111
I'm not 100% sure what you mean by adding a proper `.gitignore` file. My local repository bases git off the following rules:

[code]

[2018-09-22 07:55] tima101 commented on #111
@whitefire0 I suggested committing `.gitignore` to the repo you want me to look at. In this case, this repo: https://github.com/whitefire0/ArchitectAtlas

So when I clone your repo to my machine, I have proper `.gitignore` file.

Here is an example of `.gitignore` for main app in builderbook repo: https://github.com/builderbook/builderbook/blob/master/.gitignore

[2018-09-22 07:58] tima101 commented on #108
@klyburke @NguyenDa18 Yeah, at least we should emphasize and explain these 2 options better in the book.

@whitefire0 Please let me know if `yarn test` works now, so we can close this issue.

[2018-09-22 08:16] whitefire0 commented on #111
@tima101 Got it - I understand you now. I . have reconfigured my root `.gitignore` file: the link in my previous post now shows the repository in the state you requested

[2018-09-22 08:31] whitefire0 commented on #107
Perhaps I didn't make it clear enough: I am using a local `.env` with the required variables to run the application, but these are not pushed to the remote.

@YuriGor I am not able to reproduce your difficulties, but perhaps this is because my babel versions are already exactly as you state:

[code]
The above set up on my machine works, as can be found in [this forked repository commit](https://gi

[2018-09-22 08:39] whitefire0 commented on #108
@tima101 just tested; this solution works.

For what its worth, my experience so far as a reader has been made much more frustrating by the complications with babel-node and ES6 imports/exports. If all these complications can be directly avoided by using the old style syntax, I personally would consider that an improvement.

As a fairly new developer, additional layers of complexity like this feel

[2018-09-22 14:37] tima101 commented on #119
@YuriGor Thanks. `kebabCase` looks good, but mongoose plugin looks like overkill for such a small task of generating slug.

[2018-09-23 09:18] YuriGor opened #120 "Logout doesn't work in Chapter 3 / Testing"
At the end of Chapter 3 when we are testing auth, MenuDrop is still implemented with plain html `a` tag,
menu items "logout" and "got questions" from avatar menu have no href attr, so clicking them has no effect.

As I see in 3-end repo, MenuDrop.js implemnted using nextjs Link component, but there are no instructions to do so in the Chapter 3.

We start with `a`-based MenuDrop in the 3-start, cha

[2018-09-23 12:03] YuriGor opened #121 "Scaring way to count users"
I suggest to replace:
`const userCount = await this.find().count();`
by
`const userCount = await this.count();`
in server/models/User.js

I am 99% sure mongoose will not load all the users from database to just count them, when we do find().count() (I have no time to check it)
but why type excessive characters and.. there is still 1% chance it still will try to load all that billions of records fr

[2018-09-23 15:26] #120 closed

[2018-09-23 15:39] klyburke commented on #120
Thanks for the PR, @YuriGor .

The instructions for implementing `Link` in the `MenuDrop` component are described in [Chapter 2, MenuDrop component](https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#menudrop-component).

Logout works after completing Chapter 3. Looks like we just had old code in `MenuDrop.js` in`3-start`, as `2-end`, `3-end`, and sub

[2018-09-23 16:44] tima101 commented on #121
@YuriGor If you look at the official docs: https://docs.mongodb.com/manual/reference/method/db.collection.count/#count-all-documents-in-a-collection

[However](https://docs.mongodb.com/manual/reference/method/db.collection.count/#db.collection.count):

    - On a sharded cluster, the resulting count will not correctly filter out orphaned documents.
    - After an unclean shutdown, the count may be

[2018-09-23 16:53] #108 closed

[2018-09-23 17:25] #119 closed, assigned to tima101

[2018-09-23 17:28] tima101 opened #123 "old import/export syntax for server code"
@whitefire0 Thanks for reporting issues. As we discussed in #108 - there is a confusion about ES6 import/export syntax. You can see how it's done in main app, for example: https://github.com/builderbook/builderbook/blob/master/server/app.js

Would you like update import/export syntax in all 8 Chapters so we can drop babel-node? Could be a good exercise!

[2018-09-23 18:40] whitefire0 commented on #123
I was going to ask if I could do this, so count me in! I shall have it done in no time at all

[2018-09-23 18:59] tima101 commented on #123
@whitefire0 Cool. It's not an urgent task, you can take time.

@klyburke Please update book's content accordingly when pull request is merged.

Thanks.

[2018-09-23 19:12] klyburke commented on #107
@whitefire0 if you continue to test upgrading to Next 7 and all looks good, feel free to create a pull request and we'll merge it. Thanks for working on it!

[2018-09-23 19:28] whitefire0 commented on #107
@klyburke Will do, thanks for the opportunity

[2018-09-23 20:37] tima101 commented on #121
@YuriGor Did you do benchmarking? If you did, we can mention your suggestion as alternative in the book.

[2018-09-24 12:54] YuriGor commented on #121
I tested 4 different methods and found no difference in performance:
https://gist.github.com/YuriGor/efc9a28a06802d8b6fed402f06a9701f

If you know some more ways, please tell, we can try it too.

[2018-09-24 16:18] tima101 commented on #121
@YuriGor Ok, cool. Thanks for benchmarking. I added small blurb with links to Chapter 3.

[2018-09-26 09:50] whitefire0 opened #124 "Chapter 4: Transactional emails, awj.s region config"
To my surprise, whilst playing around with the code, the AWS SES service doesn't mind what the region is set to within 'aws.js'. For instance, my AWS is located in `eu-west-1`, whereas the book is `us-east-1`. This may be a trivial thing, but when I was trying to isolate a bug it was a variable I had to spend time checking out the various combinations to see if it was a problem. It may or may not

[2018-09-26 20:32] klyburke commented on #124
@whitefire0 thanks for the suggestion. Good to know that it's a variable you tested while debugging. Some other readers may try the same, so it's useful to mention in the book.

I added a note in Chapter 4 under this code snippet that any AWS region works.

[2018-09-26 20:43] klyburke commented on #124
The AWS docs are down right now, but once up, I will review further and give a solid answer about whether a specific `region` is required.

[2018-09-28 05:58] tima101 commented on #124
@klyburke I agree. I think we should add one sentence to the book saying that this is our region, and readers can add their region.

Also we should add second sentence that configs can be passed to aws but also to particular aws service. The latter can be done by following AWS docs: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Config.html#ses-property

@klyburke What you think?

@whitef

[2018-09-28 07:58] whitefire0 commented on #124
I think it sounds like a good idea myself; small tweak, and could save a lot of reader hours :)

[2018-09-28 08:28] whitefire0 opened #125 "Chapter 3: SES onwards"
On the perhaps unlikely edge case that a reader tries to login with a new Google user auth flow, in the absence of a mongoDB stored welcome EmailTemplate, the console error is simply 'not found'. Whilst the call stack is also shown, it may be more descriptive to very new developers to have something like:

[code]

Any thoughts folks?

[2018-09-28 09:37] whitefire0 opened #126 "Test Coverage"
It is explicitly explained in the book that test coverage will be kept to a minimum. For the purposes of demonstration, what are the creators thoughts on adding more test coverage with Jest as the book goes on? I would be very happy to look in to this, although it is a much more significant project.

By 8-end, there could be tests for all the major features of the app. It would also help with futu

[2018-09-28 12:57] klyburke commented on #124
Sounds good. I added a line saying that readers can add their own AWS SES region. I also mentioned that a particular AWS service can be configured by following the docs.

[2018-09-28 12:57] #124 closed

[2018-09-29 12:36] YuriGor commented on #126
Here is a good example of [how to use in-memory MongoDB with jest](https://github.com/vladgolubev/jest-mongodb)
I wrote [my version](https://gist.github.com/YuriGor/92ea4c21e92e84a15a7e8925c2ec6bcf) of slugify.test.js which test whole User model, not only 'slugify' methods
and it works as expected with in-memory mongo testing environment refrenced above.

[2018-09-29 18:43] YuriGor opened #128 "Reasons why handlebars is better than lodash.template for email templates?"
Since I always use lodash in my projects - I always use its template function for template micro-tasks,
just to avoid excessive dependencies.
Do you really recommend to pay attention to handlebars, or it's just matter of habit - what template engine to choose in this case?
I think email templates and, may be, some strings generation later in the project will always be quite simple,
and for more co

[2018-09-30 07:37] YuriGor opened #129 "Chapter 4. / Section "Transactional emails.." test fails"
In the end of Chapter 4. / Section "Transactional emails.." before [Update User model](https://builderbook.org/books/builder-book/testing-with-jest-debugging-with-winston-transactional-emails-in-app-notifications#update-user-model)
book suggests to run app and check if "emailtemplates" collection was created in mongoDB.

But there is still no place in the app where`EmailTemplate.js` was imported,

[2018-09-30 10:26] YuriGor opened #130 "Winston bug"
Just to save someone's time, there is a [bug in Winston](https://github.com/winstonjs/winston/issues/1486)
preventing from logging email template correctly
`message` field will be swallowed
Could you please recommend any other logger lib? There are so many unresolved issues in the Winston..

<details>
      <summary>Click to see <b>Hill for issue #130</b></summary>
      <div><img src="https://asy

[2018-09-30 10:41] whitefire0 commented on #129
@YuriGor see #111 as this has already been fixed with the change from ES6 import/export syntax to the old style. I am just about to start changing all the ES6 module code into the old style so that babel-node can be removed, prevent these types of issues as well as improve performance.

[2018-09-30 10:58] YuriGor commented on #129
Yes, this is duplicate of #111, but I already user require instead of import everywhere in my code (to use jest widely), there is no difference, you still need to include the module to execute it, node doesn't know anything about any file until it was referenced explicitly. So we still need to import it require EmailTemplate.js to make it work.

[2018-09-30 10:58] #129 closed

[2018-09-30 20:17] whitefire0 commented on #126
The facility for tests like YuriGor mentions seems very cool, I have to admit.

[2018-10-01 16:56] whitefire0 commented on #123
@tima101 @klyburke

I am having trouble with what looks like a Webpack error when trying to convert to module.exports. Google searching suggests you cannot mix ES6/ES5 module styles in the same file with Webpack since version 2, but making sure that doesn't happen doesn't eliminate the problem.

I get the following error:

[code]

@YuriGor In another thread you mentioned that you have been using r

[2018-10-01 17:10] YuriGor commented on #123
I am in the middle of Chapter 4, and my code evolves from 3-start without reset, I haven't see such error before.

I can suggest to check if there is no typo in string `module.exports = xxx;`
I often try to write something like `modules.export`
Also you can do a global search  for `import` and `export` keywords over the all project files, may be there is still something in the deep dependency.

As

[2018-10-01 17:46] YuriGor commented on #123
I forgot to say I replaced import by require only on backend.
I tried to do so in the react components and got the same error as you posted above

It looks like [nextjs issue](https://github.com/zeit/next.js/issues/1715), not webpack

[2018-10-01 17:54] whitefire0 commented on #123
Thanks @YuriGor that is definitely helpful to know. It may be a barrier to removing `babel-node`

[2018-10-01 17:56] YuriGor commented on #123
I think we have no reason to change import/export on client side, except, may be, some code consistency.
Right now I use no babel-node, but still have import/export on client side, because nextjs has its own embedded babel to deal with it.

[2018-10-02 02:12] klyburke commented on #107
@whitefire0 thanks for the pull request, https://github.com/builderbook/builderbook/pull/127

I tested the `start` and `end` codebases for each chapter of the book with `next 7.0.0`. Looks good!

[2018-10-02 02:12] #107 closed

[2018-10-02 19:34] tima101 commented on #126
@whitefire0 @YuriGor Thank you both again for suggestions. So you guys probably talk about book and some app in general?

- For book apps, I think we would keep tests to minimum. But we should add a blurb with examples and links about testing MongoDB operations as well. Thanks @YuriGor Let me think about blurb and simple example. I will close issue when I make change to the book's content.

- Some

[2018-10-02 19:36] tima101 commented on #128
@YuriGor Good point. Using handlebars was a matter of habit for me.

Agreed about dependencies.

Can you create pull request and let me take a look at how you replace `handlebars` with `lodash.template`?

[2018-10-02 20:07] YuriGor commented on #126
Practically I have to agree:
- At initial phase of app development changes happen often and usually has a big impact, so creating and updating tests costs a lot of time.
- At initial phase of development there are usually no users, except testers/developers/employer, so if something will go wrong, it will not be a tragedy.
- Unit tests has limited application in UI oriented software like builderbo

[2018-10-02 20:11] YuriGor commented on #128
Ok, may be in Friday.

[2018-10-03 08:06] whitefire0 commented on #126
These are interesting thoughts, and ones that make a lot of sense. I was introduced to the test-first approach primary in a book called Build Your Own Angular which, by the end, implements well over 900 tests, but it is very complex code indeed.

As I read this, I also felt that some examples - perhaps with partially guided challenges to the readers - might still be useful, as the book aims to dem

[2018-10-03 09:00] whitefire0 commented on #125
I will be very busy until next week, but would like to change over the server side code at that point, if thats ok :)

[2018-10-03 15:29] tima101 commented on #126
@whitefire0 Thanks for the offer. I think it would be too much work for you. I will add a snippet that tests a few DB operations.

Thanks for sharing opinion. Yes, we aim to introduce reader to many topics but book is constrained by size.

[2018-10-03 23:52] klyburke commented on #125
@whitefire0 thanks for the PR. I merged and updated the book with the error message you suggested.

[2018-10-03 23:52] #125 closed

[2018-10-05 14:54] YuriGor commented on #130
Problem is much wider:
Winston cuts Errror's message and stacktrace when using logger.error, so there is no way to debug SES for example.
I wasted a lot of time before switched back to console.error finally.

[2018-10-05 15:19] YuriGor commented on #124
I suggest to add ENV constant for setting `region` parameter of aws config at aws.js.
Each time I get some specific chapter repo from book, I must remember to update aws.js
I can make PR but book text update also needed.

[2018-10-05 15:29] tima101 commented on #130
@YuriGor What about `logger.debug`?

[2018-10-05 15:48] YuriGor commented on #130
Same with log, see link to the Winston issue in the top, there is a simple example, easy to reproduce

Best, Yuri

________________________________
From: Tima <notifications@github.com>
Sent: Friday, October 5, 2018 6:29:24 PM
To: builderbook/builderbook
Cc: YuriGor; Mention
Subject: Re: [builderbook/builderbook] Winston bug (#130)

@YuriGor<https://github.com/YuriGor> What about logger.debug?

—

[2018-10-05 15:54] tima101 commented on #124
@YuriGor Good point.

@klyburke @YuriGor We should do it similar to `MAILCHIMP_REGION` at  https://github.com/async-labs/saas/blob/master/api/server/mailchimp.ts

@YuriGor Usually, every time with merge pull request, we check book's content.

[2018-10-05 18:33] YuriGor opened #133 "Chapter 4 add note about SES Sandbox limitations"
Free SES account has limitations due to sandbox mode,
emails will be send only to verified recipients listed in "Email Addresses" section.
There are warnings everywhere in the SES control panel, but it's better to mention this fact in the book text.

[2018-10-05 20:47] YuriGor opened #134 "Chapter 4 import typo"
`import Snackbar from '@material-ui/coreSnackbar';`
`import Button from '@material-ui/coreButton';`
slash missed after 'core'

[2018-10-05 20:53] YuriGor opened #135 "Chapter 4 on(Request)Close callback of Notifier.js in the book text"
Looks like book suggest to use some outdated `onRequestClose` callback, which causes error.
BTW 4-end repo uses `onClose` instead, and it works fine.

[2018-10-06 13:14] YuriGor opened #136 "Chapter 5 / Schema for Book typo"
may be -->

[2018-10-06 15:33] klyburke commented on #136
@YuriGor Good catch, just updated the book text.

[2018-10-06 15:33] #136 closed

[2018-10-06 15:38] klyburke commented on #135
@YuriGor You are right. We previously used `onRequestClose` from Material-UI, but it was changed to `onClose` (https://github.com/mui-org/material-ui/issues/9432). All of the book code uses `onClose`. We just needed to update the book text.

I made sure there is no instance of `onRequestClose` in the book text.

[2018-10-06 15:38] #135 closed

[2018-10-06 15:40] klyburke commented on #134
@YuriGor Thanks! Fixed in the book text. I also checked that we don't have this same typo of a missing `/` after `core` in other chapters.

[2018-10-06 15:40] #134 closed

[2018-10-06 19:59] YuriGor opened #137 "Books and Chapters question"
If BB would built with relational DB, I'd asked, why not to use JOIN in the book.getBySlug method to get the book and all its chapters at once instead of doing two separate queries.
And even in Mongo there is [something like join](https://docs.mongodb.com/master/reference/operator/aggregation/lookup/#pipe._S_lookup)

But since we use not a relational DB, may be we'd better benefit from using [deno

[2018-10-06 20:34] YuriGor commented on #137
Thank you for reply, yeah readability and book composition does matter.
For educational purposes (to get more familiar with mongo) I am going to implement embedded chapters instead of separate model.
If you are interested, I will let you know what pros/contras I met during the experiment, to compare both approaches not so theoretically.

[2018-10-08 15:40] tima101 commented on #116
@whitefire0 I looked into this issue. It looks like that we introduced `adminRequired` parameter for `withAuth` HOC in the book's code **but** not book's content. Good catch! Thanks.

I am gonna fix it: keep `adminRequired` in the code and add missing content to the book.

[2018-10-08 19:34] tima101 commented on #116
@whitefire0 I synced code to content. And added new subsection explaining redirects for Admin and Customer users:

https://builderbook.org/books/builder-book/github-integration-admin-dashboard-testing-admin-ux-and-github-integration#redirects-for-admin-and-customer-users

Please check up. If looks good, you can close this issue.

[2018-10-09 16:46] tima101 commented on #111
@whitefire0 I think @YuriGor provided good answer above. Did you try importing `getEmailTemplate` to User model?

I am gonna move testing of email templates in the book's content so it is located after this import is added to User model.

[2018-10-09 17:02] YuriGor commented on #111
Same issue in Chapter 5 with testing Book/Chapter models - collections and indexes will not be created until we import/reqiure the models somewhere in actually running scripts.

[2018-10-09 20:54] tima101 commented on #111
@YuriGor @whitefire0

Added this blurb to Chapter 4:

"Before we test, open `server/models/User.js` and import `getEmailTemplate`:
[code]

No need to use `getEmailTemplate` any where inside `server/models/User.js` at this point. We added import because Node will execute code inside `server/models/EmailTemplate.js` only when this module is referenced explicitely. For more information, you read this

[2018-10-09 21:01] tima101 commented on #111
@YuriGor @whitefire0

Added following blurb to Chapter 5:

"Before we test, open `server/app.js` and import `Chapter`:
[code]

No need to use `Chapter` any where inside `server/app.js` just yet. We added this import because Node will execute code inside `server/models/Chapter.js` only when this module is referenced explicitly. For more information, you read this [issue](https://github.com/builderb

[2018-10-09 21:34] tima101 opened #138 "Chapter 2: mLab is becoming a part of MongoDB Atlas"
- migrate sandbox and production DBs to Atlas or elsewhere (elsewhere preferred)
- change tutorials and screenshots inside book's content

[2018-10-10 02:42] anlexN opened #139 "where is Retaino web app 's source code?"
https://retaino.com/

[2018-10-10 03:52] tima101 commented on #139
@anlexN No idea. @earllee built Retaino and I believe it's not open source project.

[2018-10-10 03:53] #139 closed

[2018-10-10 06:44] YuriGor commented on #138
Do you know something is wrong with Atlas?

[2018-10-10 14:50] YuriGor commented on #111
Yeah, looks good, now that readers, who follow book instructions, will not be confused.
May be you even don't need to add link to this issue:
it's expected behavior that node does nothing with files if nobody asked to do so,
so in this issue reader will only be surprised, why so obvious things caused so long discussion.
It's more a question of sync of book text and code, not a programming itself.

[2018-10-10 15:04] whitefire0 commented on #111
I strongly disagree that this is an obvious issue to people who are learning how Node behaves. My understanding is that it is an instructional book that aims to work for people with a variety of experience levels. There is nothing obvious about Node architecture to someone who doesn’t know it and the same is true for all programming.

[2018-10-10 15:11] YuriGor commented on #111
IMHO this explanation

is enough.
Link to this issue will add nothing valuable, not for newbie nor for experienced reader

[2018-10-10 15:21] tima101 commented on #111
@whitefire0 @YuriGor We try to provide both explanation and link in most cases, so let's keep both. Thanks.

[2018-10-10 15:24] tima101 commented on #138
@YuriGor Haven't researched Atlas but prefer smaller, private companies. Something like Zeit for hosting apps.

[2018-10-11 04:39] jawojoey opened #140 "need help: App does not connect to mlab's mongodb but am able to connect on local mongodb"
Need you help.  I am not able to use the mongodb setup in mlab as somehow the app is unable to connect to it (but i am able to access mlab's mongodb in aws through 'robo 3t...'). ... any suggestions...?

I had it working when i switched to a local mongodb setup on my machine (and changed .env entry on mongo-url-test).    I am on chapter 2-start/end.

environment: Windows 10

I have switched to usi

[2018-10-11 04:59] tima101 commented on #140
@jawojoey Thanks for question. The fact that you can connect to local DB indicates that your server code is good.

My sandbox DB at mlab has following format:
`MONGO_URL_TEST="mongodb://user:password@ds161443.mlab.com:61443/test-builderbook"` and I can connect to this DB.

Please make sure `user` and `password` are correct. Also try to remove symbols from password, for example `@`.

Hope this help

[2018-10-11 13:18] jawojoey commented on #140
I changed the password.  It is working now.  ..got chapters 2 and 3 going ok.  ..onto Chapter 4.
Thanks much Tima.

[2018-10-12 15:38] jawojoey opened #141 "chapter 4.. not able to send email"
I am getting this error after  a new user logs in.
error: Email sending error: {"code":"InvalidClientTokenId","time":"2018-10-12T14:54:47.215Z","requestId":"c4d0dd1b-ce2e-11e8-9890-55bd4ab857d7","statusCode":403,"retryable":false,"retryDelay":81.51805356872926}

relevant .env etries
Amazon_accessKeyId="AKIAJ2MAL2QCXZBSAA7Q"
Amazon_secretAccessKey="...not showing it here..."
EMAIL_SUPPORT_FROM_ADDR

[2018-10-12 15:52] tima101 commented on #141
@jawojoey The fastest way for us to help is to inspect actual codebase that produces error. You are welcome to publish public repo **without** .env file and share link to that repo here.

[2018-10-12 16:37] YuriGor commented on #141
You can also replace `logger.error` [in the User model](https://github.com/builderbook/builderbook/blob/1e532020788877771a87ea23aa8de9092cd562ff/book/4-end/server/models/User.js#L109) by `console.error`
It will give you more details about error, because [Winston logger cut error message](https://github.com/builderbook/builderbook/issues/130) from logged Exception.

[2018-10-12 18:20] tima101 commented on #141
@jawojoey @YuriGor I dug a bit more into [AWS SES documentation for errors](https://docs.aws.amazon.com/ses/latest/APIReference/CommonErrors.html).

Here is exactly your error:
[code]

- Make sure you set up proper keys. Also check for region.

- Also check if `dotenv` works properly. For example, `process.env.Amazon_accessKeyId` has proper value.

[2018-10-13 08:30] YuriGor opened #142 "Chapter 5 - Chapter.githubFilePath should not be unique in the book text"
server/models/Chapter.js :
[code]
We make `githubFilePath` propery unique by creating compound index, not by scheme declaration.
In 5-end book repo there is no unique flag, only in the book text.

[2018-10-13 14:37] klyburke commented on #133
@YuriGor Yes, I think that is worth mentioning, in case book readers want to remove these limits with the final app they build.

I added this note to Chapter 4:

[2018-10-13 14:37] #133 closed

[2018-10-13 17:24] YuriGor opened #143 "Cpt.5 Book.createdAt better set by Mongoose default option than by explicit assign"
[code]
----> to move ---->
[code]
so add method will look like this
[code]

[2018-10-13 17:27] YuriGor commented on #143
This way we will need no `add` method, because it's identical to `create`

[2018-10-13 19:02] tima101 commented on #143
@YuriGor This is a good suggestion but it is in area of over-perfection. Book does not strive to be perfect by cutting as much code as possible. It's structured and written so it is easier to explain basic concept.

Besides, hundreds of readers are currently reading book - this change may confuse some readers those who already read about Book model and `Book.add()`.

Having said that, you are very

[2018-10-13 19:43] YuriGor commented on #143
I understand that book is not just software, so any change is not just refactoring, but it cause extra side effects.
Well it was just suggestion, but i want to note, for me its not overperfection. Functions as default value is common practice in relational databases, so when i saw scheme of book first time, i automatically checked if mongoose supports something similar and found it does. And only

[2018-10-14 16:31] klyburke commented on #143
@YuriGor Thanks for the suggestion, I see what you mean. I agree with @tima101 that it is better to keep the code as is in the case, so we don't confuse current readers.

I opt to leave out this suggestion, as it will break up the flow of creating the `Book` and `Chapter` models. A description of another option may just get confusing here.

But if we choose to add the suggestion later, I would put

[2018-10-15 05:50] YuriGor commented on #143
You can say that it's possible to make thing smaller by use [default function value](https://mongoosejs.com/docs/defaults.html#default-functions) or ['pre' hook](https://mongoosejs.com/docs/api.html#schema_Schema-pre), but in our case smaller does not mean simpler and we will use add method to prepare document 'manually'

[2018-10-15 09:17] thierryMic opened #144 "WithLayout (withStyles)"
The examples that are provided by [materialp-ui](https://material-ui.com/getting-started/usage/) almost always make use of the WithLayout HOC.

The docs also seem to favour the WithStyles method over inlining [here](https://material-ui.com/getting-started/faq/#when-should-i-use-inline-style-vs-classes-)

Any reason why builderbook does not use WithLayout? are there any downsides to using WithLayou

[2018-10-15 14:03] jawojoey commented on #141
Thanks @YuriGor and @tima101 for your suggestions.

I inserted console.logs on the aws credentials on aws.js.
The logs were displaying the closing quote marks ["].  for example,  AKIAIHUM3NPPTLYP7IVQ"  and thus the app was using the incorrect access-id.

I realized that the .env file was not in Unix format (should end with LF instead of CRLF).
Got it working after changing the end-of-line-seq to L

[2018-10-15 14:05] jawojoey commented on #141
Closing this one.

[2018-10-15 14:05] #141 closed

[2018-10-15 14:40] YuriGor commented on #144
May be It's not clear for me, what are talking about, but take a look at book/2-start/lib/withLayout.js

[2018-10-15 15:54] tima101 commented on #144
@thierryMic Thanks for question. Do you mean why we did not do something like this? https://github.com/mui-org/material-ui/blob/master/docs/src/pages/page-layout-examples/dashboard/Dashboard.js

[2018-10-15 22:29] thierryMic commented on #144
Yes @tima101 and more specifically, I am referring to Section 1 - Custom styles of Builder Book (the book itself).

It recommends 4 ways to add styles (although it does not exclude other methods):
1. Inline style for a single element
2. Reusable style for multiple elements within single page or component
3. Reusable/importable style for multiple pages or components
4. Global style for all pages in

[2018-10-19 20:05] tima101 commented on #144
@thierryMic @YuriGor @klyburke  In the book, for simplicity sake, we avoided modifying styles of nested Material-UI components as much as possible. Internally, Material-UI component can have many nested HTML elements. Thus modifying component's styles can become confusing and a lot of work quickly.

So we used JSS that works properly with server-side rendering and constrained ourselves to adding i

[2018-10-19 20:08] tima101 commented on #143
@klyburke I guess we can briefly mention  using `create` instead of `add` right after we introduce `Book.add`. What you think? Would it not distract readers and add value?

[2018-10-20 16:14] klyburke commented on #143
@tima101 sure, we can mention `create` there. I will be updating the book this weekend.

[2018-10-22 09:50] thierryMic commented on #144
Thank you @tima101

[2018-10-22 09:50] #144 closed

[2018-10-22 09:51] thierryMic commented on #144
thank you @tima101

[2018-10-23 17:28] tima101 commented on #130
Adding note to myself: https://github.com/winstonjs/winston/issues/1510

[2018-10-24 05:09] shanky101 opened #145 "Update Material UI Version"
The UI library used, Material UI is currently on v3.3. The one used in the book is 1.3.
The problem is, material Ui as a library moves very fast on updates. While the functionality and UX provided by Material UI is great, the constant updates, inadvertently breaks code more often than not and in many cases API's differ greatly between releases. While I saw Next JS version being upgraded for builde

[2018-10-24 13:42] klyburke commented on #145
@shanky101 Thanks for bringing this up.

I recently upgraded all packages, including Material UI, for our boilerplate and main repo app:
3e113f44deacc85e6dc0fdfd5bc2e3faea1f97d5 and a456b341b11220549bd54ec7ced5f90dd7a34f0e

You can see that I made some small changes in the code, but this was only to eliminate Material UI warnings. There are no breaking changes from the upgrades.

Today, I will be

[2018-10-24 15:14] shanky101 commented on #145
@klyburke That's good to hear. Since Ive had the unfortunate displeasure of dealing with Material UI API changes breaking on a prod deployed web app, I'm very careful when upgrading Material UI versions.

That's reassuring to know. Thank you for keeping the course/book up to date :)

[2018-10-25 22:55] klyburke commented on #145
@shanky101 I finished upgrading all packages in the book and pushed the code. Be sure to pull the changes, and let us know if you have any issues.

[2018-10-25 22:55] #145 closed

[2018-10-31 19:22] tima101 opened #146 "isMobile on server from user-agent"
Added blurb to Chapter 7 about how to render a page on the server with mobile browser styles:

[2018-10-31 19:30] #137 closed

[2018-10-31 19:30] #128 closed

[2018-10-31 20:24] tima101 commented on #143
@YuriGor @klyburke Added following blurb to Chapter 5:

---

 [One of our readers](https://github.com/builderbook/builderbook/issues/143) has noted that we can add `default` option to `createdAt` parameter in Book's schema like this:
[code]

  If you do so then you can drop `createdAt` parameter from the above `this.create()`, so it becomes:
[code]

  Read more about Mongoose's [default option](ht

[2018-10-31 20:27] #143 closed, assigned to nobody

[2018-10-31 20:28] #146 closed, assigned to tima101

[2018-11-05 02:30] jessebrack opened #148 "Returning data with getBookList()"
This is more of a question than flagging a bug:

In Chapter 5, when we create the `getBookList` function and invoke it within `pages/admin/index.js` to get our list of dummy books, I hit a wall and couldn't figure out why the admin page was not able to retrieve the `books` object in the `try/catch`. The `getBookList` function was successfully pulling in the `books` object but would error out at th

[2018-11-05 02:39] tima101 commented on #148
@jessebrack Thanks for the question.

My quick thought is that the problem is either inside Express route:
https://github.com/builderbook/builderbook/blob/master/book/8-end/server/api/admin.js#L48
or somewhere in:
https://github.com/builderbook/builderbook/blob/master/book/8-end/lib/api/sendRequest.js

Since `getBookList` works properly on deployed app at `builderbook.org`, error is somewhere in y

[2018-11-05 04:43] jessebrack commented on #148
@tima101 Thanks for the reply!

I double checked my code in those two areas with the final code of the lesson found in `5-end`. I don't think I see any discrepancies.

I've uploaded my progress so far here: https://github.com/jessebrack/bb/tree/master/book/1-start. **Note:** I've kept all my work in the `1-start` folder, the problem I'm experiencing will be found there.

My code in `1-start` repre

[2018-11-05 20:56] tima101 commented on #138
@YuriGor Here are a few thoughts.

I just deployed this app https://github.com/async-labs/saas on MongoDB Atlas, AWS, M10 cluster, us-west-1. I did not do benchmarking but for the same app, DB region, my location, and internet speed - server-side rendered pages load a bit faster with the above MongoDB Atlas cluster ($65/month) compared to dedicated mLab cluster ($180/month).

UX/UI/simplicity/intu

[2018-11-05 21:15] YuriGor commented on #138
Did you see [scalegrid.io](https://scalegrid.io/pricing.html)?

[2018-11-05 22:31] tima101 commented on #138
@YuriGor Much friendlier UX/UI and performance is good.

At the Scalegrid's dashboard:
- I could not find any UI to create DB user.
- No UI to edit collection or document.
- There is no unique URL for individual DB and collection, I have to click 3-4 times to see a list of collections in particular DB.

Can you confirm?

[2018-11-06 07:48] YuriGor commented on #138
I also found nice mongo UI
https://github.com/mongo-express/mongo-express
it's an express-based web admin interface and can also be used as an express middleware, so may be it makes sense to integrate it into builderbook's admin ui?
Or just install as dev dependency of the project and use standalone.
It uses clear URL convention, so it will be easy to mention direct URL's in the book's text.

Usin

[2018-11-06 17:58] tima101 commented on #148
@jessebrack I ran your codebase and reproduced the problem.

You had an extra set of curly braces.
Instead of
[code]

It should be:
[code]

For example, look at Admin's API methods here: https://github.com/builderbook/builderbook/blob/master/book/8-end/lib/api/admin.js

Let us know how it goes.
Thanks.

[2018-11-06 18:03] tima101 commented on #148
@klyburke We should push VS editor settings to the main app, all chapters and boilerplate. Would you like to work on that? I think it would useful to readers.

[2018-11-07 01:16] klyburke commented on #148
@tima101 yes, I still have that on my todo list! https://github.com/builderbook/builderbook/issues/118

[2018-11-07 02:00] jessebrack commented on #148
Aaaah, I totally overlooked that formatting. Thank you for taking the time to solve this!

[2018-11-07 04:31] #148 closed

[2018-11-07 13:27] PercyPham opened #149 "There is no explanation for constructor(props, context)"
In chapter 1, you mentioned about ```constructor(props, context) {...}``` but there is no explanation why you use it.

According to the [official example](https://github.com/mui-org/material-ui/blob/master/examples/nextjs/pages/_app.js), they just use ```constructor(props) {...}```

Is there any different? If so then why use it?

Thanks for reading my question

[2018-11-08 23:43] tima101 commented on #111
@realtebo Thank you for your passionate comment.

@YuriGor Curiousity question for an expert like you.

Is this possible to achieve? Making code execute in module without referencing that module. Thanks.

[2018-11-09 07:19] YuriGor commented on #111
Well, if we need to execute some code from the module - we will need to import it.
But let me quote my comment from above discussion:

So as I got it - @realtebo is talking about the same things.
require, import, include and other dependency fulfillment operations should be passive.
Module is like a library with some tools.
It's ok to do some isolated self-preparation tasks on import, since node w

[2018-11-09 09:13] tima101 commented on #111
@YuriGor @realtebo Thanks for explaining.

I think I get Yuri's explanation. Thanks for writing details. To make sure - do you guys suggest calling `insertTemplates()` **via importing it** to `server/app.js` (calling `insertTemplates()` explicitly). Right?

[2018-11-09 10:34] YuriGor commented on #111
Right, and remove implicit call from the depth of EmailTemplate

[2018-11-09 20:14] realtebo commented on #111
I'm more to have a deploy script that insert the template

[2018-11-09 21:30] realtebo opened #150 "Wrong path?"
In the section
`https://builderbook.org/books/builder-book/book-and-chapter-models-internal-api-render-chapter#internal-apis`

at some point we read

I think the path

    server/lib/sendRequest.js

should be instead

    lib/api/sendRequest.js

[2018-11-09 22:44] klyburke commented on #150
@realtebo good catch! You are correct. I fixed this in the book content.

[2018-11-09 22:44] #150 closed

[2018-11-10 05:03] YuriGor commented on #111
In the Chapter 4 there is no such thing as "deployment".
Deployment is subject of last chapter 8.

Running server/app.js in normal situation is equivalent to running post-deployment script:
 it will start once after deployment and will be restarted again only in case of app crush or server reboot,
so there is no overhead to care about.

[2018-11-10 08:07] realtebo opened #151 "Wrong Import"
Page: [Chapter 6](https://builderbook.org/books/builder-book/github-integration-admin-dashboard-testing-admin-ux-and-github-integration#github-integration)

In the first full listing of `server/github.js` this import

    import GithubAPI from 'github';

should be

    import GithubAPI from '@octokit/rest';

[2018-11-10 10:30] realtebo opened #152 "Chapter 6, missing href for github repo"
Chapter 6, [at subtitle Admin pages and components](https://builderbook.org/books/builder-book/github-integration-admin-dashboard-testing-admin-ux-and-github-integration#admin-pages-and-components)

In the full listing of `pages/admin/book-detail.js `, this snippet ...

     <a target="_blank" rel="noopener noreferrer">
       Repo on Github
     </a>

must be

      <a href={`https://github.com/$

[2018-11-10 16:32] klyburke commented on #152
@realtebo thanks a bunch! Fixed in the code and book content.

[2018-11-10 16:32] #152 closed

[2018-11-10 16:32] klyburke commented on #151
@realtebo good catch. I fixed this in the book content.

[2018-11-10 16:32] #151 closed

[2018-11-10 21:41] realtebo opened #153 "Small Typo"
Page: https://builderbook.org/books/builder-book/buybutton-component-buy-book-logic-readchapter-page-checkout-flow-mybooks-page-mailchimp-api-deploy-app#mybooks-page

Search into the page this snippet, it's in the _deploy app_ section

    const response = await fetch(
        `${getRootUrl()L}${path}`,
        Object.assign({ method: 'POST', credentials: 'include' }, options, { headers }),
    )

[2018-11-15 01:20] PercyPham opened #154 "Question about add() method in Book model (chapter 5)"
In chapter 5, Book Model part, add() method, here is the code:

[code]

I concern about the **if(!slug)** part, how can it be falsy? If **generateSlug()** threw an error, it would crash the program before the if part, there would be no **slug** to be falsy.

For my suggestion, I think that we can use **await-to-js** to deal with this:

[code]

[2018-11-15 05:40] YuriGor commented on #154
What the point to use this 'to' method instead of try-catch? Kind of readability improvement? But it will confuse readers who is not familiar with this package..

[2018-11-15 07:03] YuriGor commented on #154
slug can be falsy if it's empty string.
This possible in two cases:
- name is empty string
- name contains no letter or numbers.
If this happened it means Book validator failed.
- Another case if some Exception was thrown from generateSlug method (perhaps from mongo or mongoose).
Since we throw an Exception here, it's ok to not replace original Exception by meaningless "Error with slug generation"

[2018-11-15 13:32] ManotLuijiu opened #155 "I don't know how to delete bookmark when I've done with it."

[2018-11-15 16:19] tima101 commented on #154
@PercyPham Thanks for the comment. I think @YuriGor explained it well.

I agree to add `name` string like this:
```if (!slug) throw new Error(`Error with slug generation for name: ${name}`);```

@klyburke Would you please update code and content?

[2018-11-15 17:10] tima101 commented on #155
@ManotLuijiu I've tested just now. The way bookmarks work at `builderbook.org` is opinionated:
- only one bookmark is allowed per chapter,
- when you create a second bookmark in the same chapter - the first bookmark is automatically deleted,
- list of bookmarks is located at `/my-books` page.

So there is no manual way to delete a bookmark from the chapter at this point.

Hope this helps.

[2018-11-15 17:20] tima101 commented on #111
@YuriGor Would you like to create a pull request?

- export `insertTemplates` from `EmailTemplate,js`
- import `insertTemplates` to `server/app.js`
- call it at this location: https://github.com/builderbook/builderbook/blob/master/book/4-end/server/app.js#L52

The code that needs to be modified is in following subdirectories (`builderbook/book/*`):
- 4-end
- 5-start, 5-end
- 6-start, 6-end
- 7-sta

[2018-11-15 17:31] YuriGor commented on #111
Ok, but not instantly

Best, Yuri

________________________________
From: Tima <notifications@github.com>
Sent: Thursday, November 15, 2018 8:20:17 PM
To: builderbook/builderbook
Cc: YuriGor; Mention
Subject: Re: [builderbook/builderbook] EmailTemplate.js not loading into application (#111)

Reopened #111<https://github.com/builderbook/builderbook/issues/111>.

—
You are receiving this because you

[2018-11-15 17:34] tima101 commented on #111
@YuriGor Yeah, this is not urgent at all. Thanks.

[2018-11-15 21:20] tima101 commented on #149
@PercyPham Good point and catch. I think we inherited `context` from the official example for next.js in material-ui repo. This argument is not needed indeed. But we forgot to remove it.

Let me push changes to the code.

[2018-11-15 21:37] tima101 opened #156 "router prop instead of url prop (since Next v5)"
https://github.com/zeit/next.js/blob/master/errors/url-deprecated.md

`url` prop was depreciated, `router` prop has a similar shape, so I should pass `router` prop to the Login page instead of `url` prop.

[2018-11-15 21:45] klyburke commented on #154
@tima101 for sure.

@PercyPham thanks for bringing up your question and suggestion. And @YuriGor thank you for the explanation and suggestion.

[2018-11-15 21:46] tima101 commented on #156
Added `router` prop in this commit: https://github.com/builderbook/builderbook/commit/c299263c21545da857a1a2a561f39943fe76128b#diff-12854290061dc535d50c336511cc4c22

[2018-11-16 02:55] PercyPham commented on #154
@YuriGor : thanks for the explanation

[2018-11-16 21:55] #154 closed

[2018-11-16 22:34] #156 closed

[2018-11-16 22:34] #149 closed

[2018-11-16 22:34] #155 closed

[2018-11-18 05:50] PercyPham opened #157 "About packages used in chapter 5"
As I read, it mentioned 5 packages at the top: **front-matter**, **he**, **highlight.js**, **isomorphic-fetch**, **marked**
But there is only **_isomorphic-fetch_** is in use, what about the other 4?

Besides, there is one tiny typo: the code after this paragraph lack of <title> opening tag (it has closing but not the opening tag)
[code]

Thank you for reading my question.

[2018-11-18 20:42] klyburke commented on #157
Thank you @PercyPham ! You are right. We introduce `front-matter`, `he`, `highlight.js` and `marked` in Chapter 6. I removed those packages from the `5-start` and `5-end` code, plus updated the book content.

I also added the missing `<title>` tag in the book content for Chapter 5. Good catch!

[2018-11-18 20:42] #157 closed

[2018-11-22 05:10] realtebo opened #158 "Chapter 1: Remove code we do not use now"
One of big problems when following the book, it's that you're telling  us to add code that we actually do not use.

For example, in chapter 1

But this is very distracting.

I personally think it's better to add code step by step, _when needed_.

Because you're not using no diagrams, there is not a clear global ideal of all of 50 moviing pieces we we'll have when handling auth (express session, se

[2018-11-22 06:00] realtebo opened #159 "Chapter 2: do not use something you've not still explained"
I'm referring to this snippet

[code]

You introduced babel-node, and this is overkill, not needed, we can write server/app.js and ALL future pieces without the need to use babel at all, but this is another story.

You here are using the forum

"You can do A. So do B and C now !"

It's okay to tell readers to test immediately, but do not ude nodemon that you've not introduced yet.

Let me tell you

[2018-11-22 06:06] realtebo opened #160 "Chappter 2: why do we change port and start command?"
Sorry, why?

If _in a future_ this will really cause confusion, _than_ we will change port. Not now.

Again

     To save time, add a new command called yarn dev-express ...

Why!?!? Do we need to keep both? If yes why now? If not needed why to do it at all?

[2018-11-22 06:12] realtebo opened #161 "Chapter 2: express handler not used at all"
At this point, the end of  'express section', you invoked official example to introduce

     const handle = app.getRequestHandler();

but we DO NOT USE this. remove it, and add the snippet at the right moment.

The followins is not explained, and is not motivated at all.

    const ROOT_URL = process.env.ROOT_URL || `http://localhost:${port}`;

What is process.env? Why must we use a default if we

[2018-11-22 06:20] #161 closed

[2018-11-22 06:24] realtebo opened #162 "Chapter 2: ROOT_URL introduced without explanation"
The following is not explained, and is not motivated at all.

    const ROOT_URL = process.env.ROOT_URL || `http://localhost:${port}`;

What is process.env?
Why must we use a default if we have process.env.ROOT_URL?
Do we always have ROOT_URL?
Who provide it to us?
Must we provide to ourselves?
If we always have process.env.ROOT_URL, remove the code.
If not, introduce this code ONLY WHEN NEEDED, n

[2018-11-23 22:14] klyburke commented on #158
@realtebo thanks for the feedback. I see your point that writing code before it's needed could be confusing. We'll look out for that throughout the book.

For this specific example, I moved the addition of `getInitialProps()` to `withLayout.js` from Chapter 1 to Chapter 2. We don't really need `getInitialProps()` in `withLayout.js` until Chapter 2.

You can see how I've updated Chapter 2, section

[2018-11-23 22:14] #158 closed

[2018-11-24 05:03] PercyPham opened #163 "Chap 8: unexplained parameter"
In _Chap 8: Checkout UX_ part, it's using below code in _google.js_ file
[code]
Why there is _**redirectUrl**_ param in callback function of server.get()?
Shouldn't it be _**next**_?
I don't see the usage of it, why put it there?

Can you help me to explain them?
Thanks.

[2018-11-24 10:59] realtebo commented on #163
Good question, probably a 'refuse'.

From (official express.js doc)[https://expressjs.com/en/guide/routing.html]

[code]

So next is NOT the 'next url' , it is the express.js standard route handler, because every route can be handled from multiple functions to modify req and/or res even if not sending back the res immediately.

I supposed that, to avoid confusion with 'next.js', the author choosed

[2018-11-24 11:08] realtebo commented on #159
I add a related comment.

Referring to : https://builderbook.org/books/builder-book/authentication-hoc-promise-async-await-static-method-for-user-model-google-oauth#authentication-hoc

Here you ask us to replace dev and dev-express with the new command

    "dev": "nodemon server/app.js --watch server --exec babel-node --presets=@babel/preset-env"

If you choose to remove babel (I hope) and to avo

[2018-11-24 11:09] realtebo commented on #160
I add a related comment.

Referring to : https://builderbook.org/books/builder-book/authentication-hoc-promise-async-await-static-method-for-user-model-google-oauth#authentication-hoc

Here you ask us to replace dev and dev-express with the new command

"dev": "nodemon server/app.js --watch server --exec babel-node --presets=@babel/preset-env"
If you choose to remove babel (I hope) and to avoid to

[2018-11-24 16:36] PercyPham commented on #163
Change the name of _"next"_ to _"redirectUrl"_ is **super confusing**. In my opinion, we should keep it the _express_ way, maybe change the code from:

[code]
to:
[code]

[2018-11-24 20:37] klyburke commented on #159
@realtebo Thanks for the feedback.

You're right that we do not need `babel`. We discussed it in an earlier issue (https://github.com/builderbook/builderbook/issues/123) and plan to update the book to use old import/export syntax for server code. For the time being, however, we wanted to give a brief explanation of why we use `babel`.

---

I will work on how we can introduce `nodemon` before aski

[2018-11-25 06:34] tima101 commented on #163
@PercyPham @realtebo Yes, valid points, this is a useful suggestion. Thanks!

I will rename to `redirectUrl` to `next`. I think the way we ended up with `redirectUrl` as the third argument of middleware function like this:
- we initially had `req.query.next` parameter and `next` parameter in middleware function
- then renamed `req.query.next` to `req.query.redirectUrl`
- and, by mistake, renamed `

[2018-11-25 06:41] tima101 commented on #162
@realtebo Good point.

I think `ROOT_URL` is used in Chapter 8 when we prepare our app for deployment (https://github.com/builderbook/builderbook/blob/master/book/8-end/lib/api/getRootUrl.js).

I see your point of introducing `ROOT_URL` in Chapter 8, not Chapter 2.
I'll push changes tomorrow.
Thanks.

[2018-11-25 19:03] #163 closed

[2018-11-25 19:09] #162 closed

[2018-11-25 19:11] tima101 commented on #123
Note to self: Update imports/exports so there is no need for `babel-node` in the book.

[2018-11-25 20:08] realtebo opened #164 "Chapter 2: kindle request to explain why user is not avaiable after navigation"
This (finally !!!) it's not a bug, but a kindle request

After the "database" section, just before the "session" section, I'd like an explanation of why if we navigate to another page (client side, without reload) and then return to the index page (again, only client side) we have no more the `user` object.

I know the answer, but an explanation will help to introduce the need for a cookie and for

[2018-11-25 20:13] realtebo commented on #159
I understand your reason.

But we add code every where to bring 'start' code to the status we found in the 'end' folder.
So adding packages were not a problem.

Suggestion: specify what must be a 'devDependencies' and what a 'dependencies'.

This because I hope readers will start with code at 1-start and go one step after other writing.

Thanks for your work (and your rework !)

[2018-11-26 20:35] klyburke commented on #160
@realtebo Thanks! Good suggestion.

@tima101 and I agree that we don't need to change the port, nor create a `yarn dev-express` command. I will work on updating the code and book text.

[2018-11-26 21:04] klyburke commented on #159
Thanks @realtebo, I see your point.

We do explain the packages, as well as provide links, once we use them. We think it may be overkill to ask the reader to run `yarn add` every time a new package comes up. We don't want to add too much text or distract the reader. Also, we want to avoid the possibility that someone has an error simply because s/he forgot to add a package.

---

Every `package.js

[2018-11-27 07:46] ManotLuijiu opened #165 "sh: babel: not found"
I got this error "sh: babel: not found" once I use command "now"

[2018-11-27 16:05] tima101 commented on #165
@ManotLuijiu Which web app are you trying to deploy? Main app, some chapter app or boilerplate app? Please share your app in public or private repo with me. I am happy to take a look.

It could be that dependencies are not installed at all or you miss some dependencies.

[2018-11-27 17:09] realtebo opened #166 "why do we need user._id.toString() ?"
About this snippet of `withAuth.js`:

[code]

As you can see, I added two `console.log()`, before and afte the `toString()`

I think it was because MongoDB has _id has a property, but i did not foun any single case where this parameter is not yet a string

[code]

Actually I'm not at the point where we have integraded Google OAuth2; here I am at end of chapter 2/ start of chapter 3.

So I've an us

[2018-11-27 17:18] YuriGor commented on #166
Try `console.log(type of user._id)`
for reference:
https://docs.mongodb.com/manual/reference/bson-types/#objectid
https://mongoosejs.com/docs/schematypes.html#objectids

[2018-11-27 18:51] realtebo commented on #166
This is the theory. I know.

But I git-pulled the 8-end code, removed the snippet

      if (isFromServer && user) {
        user._id = user._id.toString();
      }

and executed, and all works fine. Can you point me to a point where code breaks if this snippet is missing?

[2018-11-27 21:25] realtebo opened #167 "Chapter 3: Could you kindly explain me prefetch again?"
From [Chapter 3, section _Login page and Nprogress_](https://builderbook.org/books/builder-book/authentication-hoc-promise-async-await-static-method-for-user-model-google-oauth#login-page-and-nprogress)

What I (think to) understand
-

I understand that when running `npm run dev`, the prefetching is not active. But will be active when I execute with `npm start` (that is using ` NODE_ENV=production

[2018-11-28 07:41] YuriGor commented on #166
I am not sure about this particular code from the book(have no time to read sources),
but I experienced a problems with serialization of `_id` when I tried to make object-hash of the document, so I had to convert `_id` to string explicitly. So possibly this `if` intended for solving same issue.
If you say there is no such issue when you comment it out, then may be it's gone with some dependency wa

[2018-11-28 08:12] tima101 commented on #166
@realtebo @YuriGor Relevant question at SO: https://stackoverflow.com/questions/13104690/nodejs-mongodb-object-id-to-string

I remember that there was a problem before but (as @YuriGor mentioned, thanks!) perhaps it was solved with a newer version of `mongoose` package (I doubt there was any change in `passport` package).

Thanks for reporting. When I finish running experiments I will report here.

[2018-11-30 11:39] realtebo opened #168 "Express routes for Google OAuth"
Argument
-
The book code uses two different code pattern to pass to express.js a route handler function

First case: auth route - A single handler
-
[code]

From [official Express.js doc](http://expressjs.com/en/guide/routing.html):

Second case: auth callback route - Two handlers
-
[code]

From [official Express.js doc](http://expressjs.com/en/guide/routing.html):

What I am not able to understan

[2018-11-30 11:48] realtebo commented on #164
I close the issue.

It was due to a bug caused from myself.

I miswrote the portion where we assign user to global_user.

Fixed it, and all works, no loosing of user between navigation.
Sorry.

[2018-11-30 11:48] #164 closed

[2018-12-01 09:09] YuriGor opened #169 "jsprettier config file + dev dep"
We had an issue before, when jsprettier performed differently on my machine and on yours.
Also I'd prefer to work in the Sublime Text 3 instead of VSCode.
There is a jsprettier plugin for ST3 too,
but to make it work same as in VSCode I'll need to add .prettierrc config file to the root project and possibly to add yet another dev dependency `eslint-config-prettier`
as it described here https://pre

[2018-12-01 20:40] klyburke commented on #169
@YuriGor thanks. You are more than welcome to create a PR related to prettier, and I'll review it. No rush.

From the link you sent, it seems straightforward and a good idea.

[2018-12-01 21:04] tima101 commented on #169
@YuriGor Every chapter except `1-start` has `.eslintrc.js`:
https://github.com/builderbook/builderbook/blob/master/book/1-end/.eslintrc.js

Do configs work for you?

[2018-12-01 21:07] YuriGor commented on #169
I am currently experimenting with the root one, when I finish it, I'll check nested configs.

[2018-12-01 23:49] YuriGor commented on #169
@tima101 did I got it right, that you added `.eslintrc.js` to the each chapter sub-project to make linter work in case reader will open in the IDE only this chapter sub-directory, but not the whole builderbook project's directory?
If so, then you probably want to add all that eslint* dev dependencies into the `1-end/package.json` too? now they appears only starting from `2-start/package.json`.

[2018-12-01 23:54] YuriGor commented on #169
my mistake, sorry, 1-start/package.json was incorrectly overwritten by myself

[2018-12-02 15:42] realtebo opened #171 "How to refuse registration from an user?"
I'd like to restrict (initially) the ability to signin to only few email addresses, for alpha testing.

I'd like to acccept user _registration_ (signup) but NOT signin if user email is not  one odf my limited invited users mail.

Actaully I tryed to brutal solution, to accept only my email address so login.

It works, but it works crashing, I hot an internal server error.

What is the righe way to

[2018-12-02 17:17] YuriGor commented on #111
[code]
- Lets always upsert templates - if there are no templates, they will be inserted, if they exist - they will be updated, so in case of changes in the templates we will not need to go and empty collection manually. This method runs once per app start, couple of updates will cost nothing.
- Why swallow exception here? If we failed to insert into db, then something is very wrong, does it make

[2018-12-02 18:35] tima101 commented on #166
@realtebo @YuriGor I called `console.log` like this in `8-end`:

![screenshot from 2018-12-02 10-30-56](https://user-images.githubusercontent.com/10218864/49343421-c38bbe80-f61d-11e8-886e-32e90c6601d5.png)

This confirms that `user._id` from server is an object, not a string, thus I used `toString()` as mentioned here:
https://docs.mongodb.com/manual/reference/method/ObjectId.toString/
https://sta

[2018-12-02 18:37] #166 closed

[2018-12-02 19:17] klyburke commented on #160
@realtebo thank you again for the suggestion.

We thought more about it and decided to keep the 2 ports (`3000` and `8000`) and 2 commands (`yarn dev` and `yarn dev-express`). Several snapshots in the book show the different ports, and we do not want to confuse readers.

The reason we had these 2 commands and switched from 3000 to 8000 was to emphasize the transitions from a Next server to Express

[2018-12-02 19:17] #160 closed

[2018-12-02 19:34] tima101 commented on #111
@YuriGor `upsert` looks good to me. I would need write explanation in the book. It's ok by me.

Do you still want to do following?
- export `insertTemplates` from `EmailTemplate,js`
- import `insertTemplates` to `server/app.js`
- call it at this location: https://github.com/builderbook/builderbook/blob/master/book/4-end/server/app.js#L52

[2018-12-02 19:34] #165 closed

[2018-12-02 19:36] tima101 commented on #138
Note, we should update the book's content in Q1 2019 when mLab shuts down. So far I am happy about MongoDB Atlas.

[2018-12-02 19:41] #9 closed

[2018-12-02 19:41] #81 closed

[2018-12-02 20:20] klyburke commented on #118
Instead of a `.vscode/settings.json` file per chapter, I updated the description in Chapter 1 to modify `Workspace` instead of `User` settings.

That way the settings will apply to working on the builder book project but should not affect a person's own settings for VS Editor. I think we were seeing problems while switching to work on other projects.

https://builderbook.org/books/builder-book/app

[2018-12-02 21:32] tima101 commented on #171
@realtebo Hey Mirko, I've tried this solution inside `8-end` web app and it works:

[code]

Add this snippet before you generate `slug` for a user. Above this line: https://github.com/builderbook/builderbook/blob/d0706ff51cbfe74eaf2374309f02c729a68a6032/book/8-end/server/models/User.js#L93

Please try to create issues only when you find a bug or something is confusing in the book.
We work full-tim

[2018-12-02 22:00] #171 closed

[2018-12-03 07:18] ManotLuijiu commented on #165
I would like to say thank you for your very good and quickly support. I didn't give you the answer because I am so busy on that time. I appreciate your help.
For now, I solved babel problem by moved back to use "const & require" instead of "import & from". Then using command "node server/app.js" it is working fine.

[2018-12-03 10:17] YuriGor commented on #111
Yes, I already did this for chapter 4-end(not committed yet) and tested, it works fine, but before I'll copy this code over other chapters I wanted you to confirm this changes. So now, since you agree, I still need to do this for the rest of chapters, it will take some time to test.

[2018-12-03 10:31] YuriGor commented on #169
Very strange, it works for me in VSCode.
Did you run `yarn install` in the root project?
There are 3 new dev dependencies in the package.json
Is there something interesting in the VSCode console? [Ctrl+\`]

[2018-12-03 10:43] YuriGor commented on #169
Also if it will start to work, you will need no `"prettier.eslintIntegration": true` because you will need no Prettier extension, everything will be done by ESLint

[2018-12-03 16:49] tima101 commented on #165
@ManotLuijiu Thanks. We are planning on switching to older import/export syntax in a week or two, so there be no need for `babel-node`.

[2018-12-03 16:50] tima101 commented on #111
@YuriGor Thanks! You can do just one chapter, Kelly or I will propagate the change to other chapters.

[2018-12-03 16:55] YuriGor commented on #111
Ok, lets finish with #169 and I'll push this one.

[2018-12-03 17:00] tima101 commented on #169
@YuriGor Yes, you are right. Thanks.

@klyburke @YuriGor I don't think we should necessarily merge pull request.

We have many readers that used VS Editor successfully with extensions (extensions that we explain how to install in the book), I think we need to add a section or a paragraph to Chapter 1 describing how to make ESlint work on Sublime. What do you think?

[2018-12-03 17:02] tima101 commented on #111
@YuriGor On our production app, I found it very useful to update template if template's `subject` or `

[2018-12-03 17:23] YuriGor commented on #169
Since I use ST3 I need this changes in the config to make prettier to work, so any further changes I'll possibly push as PR will have same coding style.
There is also prettier plugin for ST3 but it doesn't support eslint integration.
I tried to use VSCode as you suggest in the book, but I am missing a lot of ST3 features and frustrated a bit by VSCode's bugs, so there is no pleasure for me to use

[2018-12-03 17:33] YuriGor commented on #169
Also this change will simplify readers experience, they will not need to add and configure second plugin, everything will be installed with yarn and configured in the .eslintrc.js already.
You can keep your explanations about prettier in the book text, but it now will be used indirectly, so reader will have less chances to make a mistake.

[2018-12-03 17:46] tima101 commented on #169
@YuriGor Sure and sounds good. With your setup, does it mean readers don't need to install VS Editor's extensions for ESLint and Prettier?

[2018-12-03 17:57] YuriGor commented on #169
They still need ESLint extension, but now it will do all the job we need, no need in prettier extension, because ESLint will use prettier installed as dev dependency.

BTW I tested this new config in the Atom, and it works too!
There is [eslint Atom plugin](https://atom.io/packages/linter-eslint) and it has same  `fix on save` feature as ESLint in VSCode.

[2018-12-03 17:59] tima101 commented on #169
@YuriGor Alright then. Thanks.

@klyburke Let's sync code changes with content changes.

[2018-12-03 18:07] YuriGor commented on #169
I have next changes related to #111 and if I'll push them - they will appear in PR #170
Should I wait until you wil resolve it to make separate one?

[2018-12-03 18:51] YuriGor commented on #111
I pushed this changes into [separate branch](https://github.com/YuriGor/builderbook/commit/4b103a74494576f7e1cce04fec094767518662b4) in my repo, so you can start code review even if there is still no PR.
And when #170 will be merged, I'll create new one from this branch

[2018-12-03 20:53] klyburke commented on #169
@YuriGor Thanks for explaining further. We will take some time to test the changes you made in #170.

In the PR, I see that `EmailTemplate.js` is modified in a few chapters. Is it a formatting change due to the new Eslint and Prettier set up?

Could you make the PR only the changes needed in `.eslintrc.js` and `package.json`? We just like to keep things logically separated. You can do the changes

[2018-12-04 05:25] ManotLuijiu opened #172 "Error:400 Error: invalid_request Missing required parameter: scope"
Just to aware this error: Call back URL is working well in a development environment (both` /oauth2callbak` and `/auth/google/callback`) but I got an error:400 Missing parameter `scope` on production environment. I don't know why? I try to read this article [https://developers.google.com/identity/protocols/OpenIDConnect#scope-param](url) it told me that

But I need to keep waiting for DNS propagat

[2018-12-04 05:44] YuriGor commented on #169
I explained in PR why EmailTemplate was updated, I try to undo it, but I thin git will not keep all the history anyway, so you will still need to merge this files

Best, Yuri

________________________________
From: Kelly Burke <notifications@github.com>
Sent: Monday, December 3, 2018 11:53:13 PM
To: builderbook/builderbook
Cc: Yuri Gor; Mention
Subject: Re: [builderbook/builderbook] jsprettier con

[2018-12-04 08:43] YuriGor commented on #169
I update EmailTemplate files, now they are not listed as changed in the PR

[2018-12-04 09:08] tima101 commented on #172
@ManotLuijiu Hmm Google OAuth works in production at `builderbook.org`. That means code works as expected and API did not change.

Please make sure that for Google OAuth web app at GCP, callback URLs are:
- http://localhost:8000/oauth2callback
- https://yourdomain/oauth2callback

Also please check up: https://github.com/builderbook/builderbook/issues/26

[2018-12-04 09:21] tima101 commented on #171
@realtebo You can also show this error more nicely with https://github.com/builderbook/builderbook/blob/master/book/8-end/components/Notifier.js

Inside your `Login` page you can write function:
[code]

Then show error message like:
[code]

If you are building a business app, check up our more complex but developer-ergonomic boilerplate: https://github.com/async-labs/saas

I hope my above comment

[2018-12-05 18:30] millportmedia opened #173 "Error initializing 2-start"
When I open folder 2-start and run yarn I get an error:

PLJ-iMac2:2-start peterjames$ yarn
yarn install v1.12.3
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
error https://registry.yarnpkg.com/event-stream/-/event-stream-3.3.6.tgz: Extracting tar content of undefined failed, the file appears to be corrupt: "Unexpected end of data"
info Visit https://yarnpkg.com/en/docs/cli/install

[2018-12-05 18:41] millportmedia commented on #173
npm install works OK
npm run dev starts the app OK

[2018-12-05 18:52] YuriGor commented on #173
Folks faced with [same issue](https://github.com/eclipse/che/issues/12077#issuecomment-443208053)
looks like can be solved by deleting yarn.lock

[2018-12-05 19:13] millportmedia commented on #173
That fixes the error. Since I had used npm to install the dependencies I also deleted package-lock.json before running yarn.

[2018-12-06 13:30] klyburke commented on #173
@YuriGor Thanks for resolving!

[2018-12-06 13:30] #173 closed

[2018-12-06 18:13] tima101 commented on #167
Note to self: https://github.com/zeit/next.js/#prefetching-pages

[2018-12-07 15:11] YuriGor opened #174 "Text outdated a bit in cp.5"
[Stripe integration in Chapter 8 (coming soon)](https://builderbook.org/books/builder-book/book-and-chapter-models-internal-api-render-chapter)
As I see Chapter 8 is ready, no 'coming soon' needed.

[2018-12-08 20:03] YuriGor opened #175 "Book.edit method"
This code:
[code]
can be replaced by:
[code]
- less code
- one db request instead of two
- good for readers to know about this useful method.

<details>
      <summary>Click to see <b>Hill for issue #175</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/175.png" alt="Single issue hill" class="s3-image"/></div></details>
      <details><summary>C

[2018-12-09 11:43] ManotLuijiu commented on #172
I deploy on AWS, I still have a scope problem. I guest AWS server can't talk to Google server. After I did some research, I think I got to do something about AWS Cognito or security configuration somewhere else.

[2018-12-09 17:48] tima101 commented on #172
@ManotLuijiu Hmm. I am not sure about that.

Please sure your OAuth code has `{scope: ['profile', 'email']}`.
You are welcome to share your code in the public repo and I can deploy it to Zeit Now v1 and test it.

[2018-12-09 22:07] YuriGor opened #176 "Cpt.5 / Internal API: CSR and loading indication"
Will be good to add few words about why CSR was chosen in this particular case. It will help readers to learn how to choose better rendering way in the future.
My guess: No CEO needed, so no reason to load node server with rendering work, which may be done on user's machine?

Let's auto-show nprogres on each `sendRequest`?
[code]
I know on initial page load most of time will be spent for static re

[2018-12-10 19:24] darknight1983 opened #177 "2-start"
Hello,

I could really use a hand in figuring out this issue that I am having. I am currently trying to connect to

mLab with the MongoDB URI that is provided to me. I added my user and password credentials but

when I run the app, it seems that the connection is not being made. I have also tried connecting

through the shell. This is the error that I am getting:

MongoDB shell version v3.4.9
conn

[2018-12-10 19:40] YuriGor commented on #177
1) Hi, did you put your dbuser and dbpassword into connection string?
It should look like:
mongodb://<dbuser>:<dbpassword>@ds121906.mlab.com:21906/builderbook_test
in your .env file
2) Make sure you are using your db user credentials created here
https://mlab.com/databases/builderbook_test#users
in you connection string, not your mlab account credentials

[2018-12-10 20:10] darknight1983 commented on #177
YuriGor, thank you! That fixed the issue. I was trying to use my mLab credentials rather that credentials for a specific user. Thank you.

[2018-12-10 20:10] #177 closed

[2018-12-10 21:17] tima101 commented on #177
@YuriGor Thanks a bunch!

[2018-12-15 02:10] slkjer opened #178 "error: github.repos.getAll is not a function"
I'm reading 'chapter6 > testing > adding new book' but when i implement my web app locally, I can't see a list of 'github repo'. Also, there is an error(error: github.repos.getAll is not a function) in terminal. Please help me. Thanks in advance.

[2018-12-15 06:40] tima101 commented on #178
@slkjer Thanks for reporting. Which version of `@octokit/rest` do you use?
Check version here: https://github.com/builderbook/builderbook/blob/master/book/6-end/package.json#L20

I think authors renamed many methods.

If you use version of `@octokit/rest` that is newer than that in the book (15.15.1) then you should use `github.repos.list`. See official docs: https://octokit.github.io/rest.js/#api

[2018-12-15 09:08] AKASHRAJVANSHI opened #179 "payment issue"
i m from india ..my card not support you payment system . how to access this book? how to pay?

[2018-12-15 16:57] klyburke commented on #179
@AKASHRAJVANSHI We can try alternative payment methods, perhaps Paypal. Please email us at team@builderbook.org.

[2018-12-16 13:22] #172 closed, assigned to tima101

[2018-12-16 16:15] tima101 commented on #172
@ManotLuijiu I see. Thanks for sharing. So if you create CloudFront distribution then Google OAuth fails.

Did you try adding CloudFront distribution's URL to Google OAuth app, for example:
https://d111111abcdef8.cloudfront.net
https://d111111abcdef8.cloudfront.net/oauth2callback

I wonder if AWS CloudFront can be used only for static resources and you can't

[2018-12-17 01:53] klyburke commented on #169
@YuriGor thanks again for the suggestion. I merged your pull request and updated the book text.

@tima101 you can review text changes in this section:
https://builderbook.org/books/builder-book/app-structure-next-js-hoc-material-ui-server-side-rendering-styles#eslint-and-prettier

[2018-12-17 01:53] #169 closed

[2018-12-17 23:03] orpheus opened #181 "Flash of unstyled content after switch to express"
In part 2 when we create an express app and render the index page with
[code]
the flash of unstyled content comes back where you see the `loading...` text in the header.
I didn't know if I should look further on to see if it was addressed, but I didn't. Figured if it was supposed to be, it would've been immediately addressed considered we spent a whole section on how to get it working (learned a l

[2018-12-18 00:55] tima101 commented on #181
@orpheus Thanks for asking. Flash of styles in Chapter 1 and should not be a problem in Chapter 2.

Please do try to use package versions specified in the book, there could be breaking changes. We can only guarantee things working properly with exact versions numbers specified in the book.

Having that said, I am happy to look at your codebase. Please share it with me via public repo.

Pl

[2018-12-18 05:49] orpheus commented on #181
I appreciate it! https://github.com/orpheus/learn-nextjs

[2018-12-18 17:35] tima101 commented on #181
@orpheus Got it. Thanks for reporting it here.

Link to the code you mentioned (for those who find themselves in similar situation): https://github.com/orpheus/learn-nextjs/blob/6e7b4b1149cc038f1bfeeec9a78486f7c27fd36b/lib/withLayout.js#L9

[2018-12-20 07:08] slkjer commented on #178
Thanks for replying, Tima.

As you mentioned, i've replaced github.repos.getAll with github.repos.list
and it does work well.
But there is an another error when i press 'SYNC WITH GITHUB' Button.
I try to use getContents and listCommits instead of getContent and
getCommits, but i can see an error again.
I feel like the problem is getting bigger :(

I'm using 16.2.0 version of @octokit/rest because

[2018-12-20 17:14] tima101 commented on #178
@slkjer No problem.

Yes! It would be best to change the version to 15.15.1

We will upgrade all packages and make code changes at the end of December.

[2018-12-21 05:39] slkjer commented on #178
I'm sorry .. i made a mistake in Github files.
That's why there was an error.
Now everything is good.

Thank you, Tima :)

[2018-12-27 06:16] tizol opened #182 "How to deploy it to Now 2.0, routes break the app?"
How to deploy it to Now 2.0, routes break the app?
[code]

<details>
      <summary>Click to see <b>Hill for issue #182</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/182.png" alt="Single issue hill" class="s3-image"/></div></details>
      <details><summary>Click to see <b>Hill for all issues </b></summary><div>
      <img src="https://async

[2018-12-27 12:39] YuriGor commented on #130
According to the [most recent reply](https://github.com/winstonjs/winston/issues/1486#issuecomment-450024067) we need to adjust Winston config for fixing this issue.

[2019-01-07 15:46] orpheus opened #183 "Ch 8 withRouter import missing"
Hey guys, in Chapter 8: Checkout UX, when going over the logic to add a redirectUrl, the tutorial is missing the part to add `import {withRouter} from 'next/router'` to read-chapter page.

I couldn't figure out how `redirectUrl` was getting passed down as the guide completely skipped over the import. I'm not sure if I was supposed to know to import that or what, but it had me kind of frustrated no

[2019-01-07 16:16] orpheus commented on #183
also side note: I've found small little errors in the tutorial as I've gone on. I wish I tracked them so I could get better feedback, but I'll throw this one out: At the end of Checkout UX in chapter 8, right before we test the stripe modal, the block of code has: `const showStripeModal = req ? req.query.buy : window.location.search.includes('buy=1');` when just above when we we're going line by l

[2019-01-08 11:25] YuriGor opened #184 "cpt.5 / Express Route - no `export` in public.js"
Possibly incomplete code copy&paste happened In the end of [Express Route Sub-section](https://builderbook.org/books/builder-book/book-and-chapter-models-internal-api-render-chapter#express-route) -- last lines are missing.

`// code sample without export`

[2019-01-08 17:21] orpheus opened #185 "Why does withLayout need to call it's child's getInitialProps method?"
For instance, /pages/customer/my-books has a getInitialProps and it is wrapped with withLayout HOC. withLayout calls the getInitialprops of my-books js, but if you comment it out in the HOC, my-books won't run getInitialProps itself. How is it determined when getInitialProps will run. The docs aren't very clear. I was under the impression that each component calls it's own getInitialProps right be

[2019-01-08 18:33] YuriGor commented on #176
I added  ` if (typeof document !== 'undefined')` check in the code above, to not fail in case of SSR

[2019-01-08 19:09] YuriGor opened #186 "Does it fulfill GitHub terms of service to use it as headless CMS?"
I like the idea of using  GitHub as headless CMS, but what about legal side of question?
this question can be spitted into two:

1) Should any GitHub project be some software/library? Can it be a book or some presentation? Should it be related to IT or to any other arbitrary topic?
I read GitHub's terms of service but found nothing said explicitly about this.

2) Can we use GitHub as free CDN in t

[2019-01-09 22:43] klyburke commented on #184
Thanks @YuriGor ! Updated that section to include the export, as well as other lines in the final `server/api/public.js`

[2019-01-09 22:43] #184 closed

[2019-01-10 17:32] orpheus opened #187 "Cannot get <Link> asPath to work"
`<Link href='/path' as='/asPath'>` works fine, but when I need to use the query object...

`Link href={{pathname='pathname', asPath='/asPath', query={ query }}} >`

It routes to `/pathname` and not `/asPath`

Source taken from tutorial: https://github.com/orpheus/learn-nextjs/blob/master/components/Header.js#L98

(routes to `/public/login` and not `/login`)

<details>
      <summary>Click to see <

[2019-01-10 17:51] YuriGor commented on #186
I started [same discussion](https://github.community/t5/How-to-use-Git-and-GitHub/Using-GitHub-for-personal-content-projects/m-p/17060) at community forum
Looks like it's ok to use GitHub not for coding only.
About using it as CDN I am still not sure.

[2019-01-10 18:01] YuriGor commented on #187
I am not sure about that tutorial, but in the builderbook this made on [server side](https://github.com/builderbook/builderbook/blob/348166a413f03fd4f352a03d44df5474e8904e02/server/app.js#L39)

[2019-01-10 18:38] darknight1983 opened #188 "Loading static resources to CDN."
I reaching out to you because I was hoping to get some insight on one of the topics in the Builderbook. In Chapter 3, it is recommended that “all static” resources be moved to a CDN if I plan to move the app to production. This is a crazy question but I'll ask anyway. Do you guys have any suggestions on how I can  move my static resources to a content delivery network. Im going to do some “googlin

[2019-01-10 18:48] YuriGor commented on #188
Are you going to use zeit/now hosting as suggested in the book?
They have [their own CDN](https://zeit.co/docs/v2/domains-and-aliases/cdn) based on cloudflare, and as I got it it's included by default into paid account.

[2019-01-10 19:03] orpheus commented on #187
The tutorial I referred to was Builderbook.. and I have that URL_MAP

https://github.com/orpheus/learn-nextjs/blob/master/server/server.js#L39

[2019-01-10 20:07] YuriGor commented on #187
As I see at https://builderbook.org/ - login is not `a` tag, but `button`.

![image](https://user-images.githubusercontent.com/6861317/50993764-81627080-152b-11e9-957e-b4fea9c23063.png)

But [according to the sources](https://github.com/builderbook/builderbook/blob/348166a413f03fd4f352a03d44df5474e8904e02/components/Header.js#L103) it should be `a` same as neighbor "tutorials"

So possibly actual

[2019-01-11 17:42] YuriGor commented on #188
This tutor was written for Now 1, there were no CDN.
Zeit released Now 2 recently and it has built in CDN.
I believe book will be updated to be compatible with Now 2 and possibly authors will switch to zeit's CDN too.
Anyway, let's wait for authors recommendations, I am interested too.

[2019-01-13 14:32] klyburke commented on #1
@shanky101 Thanks for your feedback. We do not have an option at builderbook.org to switch to a different theme.

Do you have suggestions for specific colors to use? We are happy to consider them.

To test some other color schemes locally, look into [`pages/document.js`](https://github.com/builderbook/builderbook/blob/master/pages/_document.js) and edit options within the [`style`](https://github.

[2019-01-13 14:52] klyburke commented on #186
@YuriGor Interesting questions.

1. Glad you figured it out with Github. I have seen plenty of repos that are not IT related. For example: https://github.com/hendricius/the-bread-code

2. I do not expect that there is a problem with using Github as a free CDN (in fact, I found a tutorial on it: https://gomakethings.com/how-to-turn-any-github-repo-into-a-cdn/). However, I do see in Github's terms t

[2019-01-13 14:57] #186 closed

[2019-01-15 19:06] tima101 commented on #187
Thanks for reporting and comments.

I will look into it.

[2019-01-15 19:08] tima101 commented on #178
You are welcome.

[2019-01-15 19:08] #178 closed

[2019-01-15 19:10] tima101 commented on #175
@YuriGor Thanks. Kelly will look into it and test.

We should change the book's text as well as code.

[2019-01-15 19:15] tima101 commented on #185
@orpheus Thanks for your question **and** answer.

I think we should add this explanation to the book.
Note to self: https://github.com/zeit/next.js/issues/159#issuecomment-257318970

I will close this issue after we add an explanation to book's text.

[2019-01-17 23:42] tima101 commented on #123
Working on server imports/exports. Latest commit: [`c#up to chapter 4-end`](https://github.com/builderbook/builderbook/commit/3b234b0e8340af330904ff42e1f3ba97dab48140)

[2019-01-18 21:05] tima101 commented on #130
@YuriGor Fixed: [`c##130: winston bug`](https://github.com/builderbook/builderbook/commit/dcd5f0073b84d5bea0bcc38579759360d719345d)

[2019-01-18 21:07] tima101 commented on #123
@klyburke @YuriGor If you have time, please check up this branch: https://github.com/builderbook/builderbook/commits/server-imports/exports

I will merge when I am done with fixing book's text.

[2019-01-20 19:41] shanky101 commented on #1
[Link 1](https://ux.stackexchange.com/questions/3282/what-is-the-best-color-combination-for-on-screen-reading)
The above link gives very useful tips for having an inclusive color palette.
Simple ones like White on Black/Black on White would be the bare minimum color options.
Since Builderbook is showcased as a site which belongs to blog/book category, having a toggle for basic color options would

[2019-01-20 21:31] mdramos opened #189 "Caching and Hot Reload"
Something seems to be off in dev. The frontend content rarely updates after changes. I have disabled caching in the browser but this does not fix anything. Not sure how to go about this.

[2019-01-21 19:43] robert-barcelona opened #190 "Issue with 'yarn install'"
I cloned the project and ran `yarn install` but received the following error

[code]

The only thing I could find online regarding this error was https://github.com/yarnpkg/yarn/issues/6725 -- which seemed to indicate that yarn was protecting against malicious code in a package.

<details>
      <summary>Click to see <b>Hill for issue #190</b></summary>
      <div><img src="https://async-github-hi

[2019-01-21 22:21] orpheus opened #191 "When to use componentDidMount vs getInitialProps?"
Are there are good rules/guidelines about when to use one over the other?

<details>
      <summary>Click to see <b>Hill for issue #191</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/191.png" alt="Single issue hill" class="s3-image"/></div></details>
      <details><summary>Click to see <b>Hill for all issues </b></summary><div>
      <img sr

[2019-01-22 02:14] delgermurun commented on #190
@robert-barcelona you're right. https://github.com/yarnpkg/yarn/issues/6725#issuecomment-442395010 `nodemon` has a malicious dependency (`flatmap` => `event-stream`). I upgraded `nodemon`, it should fix this error.

Please try to run `yarn` again.

[2019-01-22 17:26] #190 closed, assigned to delgermurun

[2019-01-24 00:33] tima101 commented on #130
@delgermurun @klyburke @YuriGor merged to master

[2019-01-24 00:34] tima101 commented on #123
@klyburke @delgermurun @YuriGor merged to master and updated book's text

[2019-01-24 22:39] tima101 commented on #176
@YuriGor

- 1) I agree about adding more explanation of why CSR was chosen. I will think about it and add.

- 2) Do you suggest removing `Nprogress` from all pages and components and adding it to `sendRequest`?

[2019-01-24 22:58] tima101 commented on #183
@orpheus Good point. I added this text snippet:

---

      Read about `router` object, its type, and its `asPath` parameter in the Next.js [docs for router object](https://github.com/zeit/next.js/#using-a-higher-order-component).
      In our case, `router.asPath` is `/books/demo-book/example`.
      If in doubt, print this value to the browser console (`Developer tools > Console`) by adding `con

[2019-01-24 23:03] tima101 commented on #183
@orpheus Good point again! Fixed text to be `!!req.query.buy`.

[2019-01-24 23:16] tima101 commented on #191
@orpheus In the context of the book, some of the reasons for using `componentDidMount` over `getInitialProps` for fetching data is when you want to render a page on client-side only. Less load on the server and there is no need for SEO.

A good example is Admin's page, check up `8-end/admin/index.js` file, find `componentDidMount` that calls some method that fetches a list of books.

If your quest

[2019-01-25 02:15] klyburke commented on #1
@tima101 Sounds good.

@shanky101 If you'd like to contribute with a pull request, you are welcome. But no pressure.

[2019-01-25 04:08] YuriGor commented on #130
Perfect. Do you need me to test the changes first (i have no time right in the moment) or i can close this issue?

[2019-01-25 04:44] tima101 commented on #130
@YuriGor I tested. Please close the issue. Thanks for reporting it.

[2019-01-25 05:29] #130 closed, assigned to tima101

[2019-01-25 06:21] YuriGor commented on #176
I am not sure we need to remove ALL other nprogress calls, may be somewhere the is a call not related with isomorphic fetch.
But now there are some noticably long fetching with no nprogress, and with this change all this will be fixed. Also we will not need to write nprogress-related code manually, and will not forget to do it for any new API calls.

[2019-01-25 09:06] tima101 commented on #176
@YuriGor I see. Let me test it out. Thanks.

[2019-01-25 20:54] klyburke commented on #175
Edited the book's text. Thanks again, @YuriGor !

[2019-01-25 21:02] tima101 commented on #189
@mdramos Thanks for reporting. I don't see this problem. You are welcome to share your code in public repo so I can try to reproduce this problem.

[2019-01-25 21:04] tima101 commented on #111
Note to self: we are waiting for [`p# explicit email templates init #111`](https://app.async-await.com/github/builderbook/builderbook/pr/180/pr-hill)

[2019-01-26 05:51] delgermurun commented on #168
Hi @realtebo,

`passport.authenticate` returns [function](https://github.com/jaredhanson/passport/blob/master/lib/middleware/authenticate.js#L94) that follows express's pattern.

There is no difference between

[code]

and

[code]

Maybe we can do [**first case's**](https://github.com/builderbook/builderbook/blob/master/server/google.js#L54)(auth route - A single handler) "session value(`next_url`

[2019-01-26 19:33] YuriGor opened #192 "Markup broken"
https://builderbook.org/books/builder-book/github-integration-admin-dashboard-testing-admin-ux-and-github-integration#synccontent-for-book-model
snippet 10

looks like that 2 underscore symbols was not parsed by markdown engine as author expected, and it's a reason why half of a text is italic.

![image](https://user-images.githubusercontent.com/6861317/51791825-5ed28780-21ba-11e9-8bc7-5bdc8472d33

[2019-01-27 08:15] tima101 opened #193 "exact versions for packages"
Remove caret from packages to avoid breaking changes: https://docs.npmjs.com/misc/semver#caret-ranges-123-025-004

<details>
      <summary>Click to see <b>Hill for issue #193</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/193.png" alt="Single issue hill" class="s3-image"/></div></details>
      <details><summary>Click to see <b>Hill for all

[2019-01-27 16:20] klyburke commented on #192
Good catch @YuriGor . Looks like Markdown had an issue with underscore next to a colon (`_:`). I fixed this by adding a space between the underscore and colon.

[2019-01-27 16:21] #192 closed

[2019-01-27 18:49] YuriGor opened #194 "missing comma"
https://builderbook.org/books/builder-book/github-integration-admin-dashboard-testing-admin-ux-and-github-integration#synccontent-for-chapter-model
final code for chapter syncContent method, missing comma before `isFree` field of modifier object

[code]

[2019-01-30 18:10] tima101 opened #195 "Google+ APIs will be shut down"
From Google:

<details>
      <summary>Click to see <b>Hill for issue #195</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/195.png" alt="Single issue hill" class="s3-image"/></div></details>
      <details><summary>Click to see <b>Hill for all issues </b></summary><div>
      <img src="https://async-github-hills.s3.amazonaws.com/builderbook-bu

[2019-01-30 20:59] tima101 commented on #195
After some research:
- `passport-google-oauth` use Google+ API internally to get user's info.
- Maintainer of the package has not merged PR that fixes: https://github.com/jaredhanson/passport-google-oauth2/pull/51
- Forked package was published on NPM that has above fix: https://www.npmjs.com/package/@passport-next/passport-google-oauth2
- I tested `@passport-next/passport-google-oauth2` with **di

[2019-01-30 21:46] tima101 opened #196 "Meaning for Issue labels"
- Assigned: Issue is assigned to at least one person.
- Uphill: Issue is being actively discussed, implementation has not started.
- Peak: Discussion is complete and Issue is ready for implementation.
- Downhill: Issue is being actively implemented, interruptions are discouraged.
- Ready to test: Issue is implemented and ready for testing.

[2019-01-31 22:00] tima101 opened #197 "Circular deps for Book and Chapter"
Current problem:
Run chapter `8-end`. If user tries to load `read-chapter` page, user gets error `Book.getBySlug` is not a function.
This is because when `read-chapter` page is loading, `Chapter.getBySlug` is called. Which in turn, calls `Book.getBySlug`.
But `Book` model is not available inside `server/models/Chapter.js` due to cyclyc dependency problem.
`Book` model is imported to `server/models

[2019-02-04 00:34] tima101 commented on #195
Note to self: try this solution without using forked package:
https://stackoverflow.com/questions/53887010/is-the-google-strategy-in-passport-js-deprecated-with-the-end-of-google/54112673#54112673

[2019-02-08 11:30] Justindmo commented on #182
I purchased Builder Book hoping to go through the entirety of the content without it being outdated.

Please update and provide some documentation regarding compatibility with Now v2.0 since you have taken my money and have provided me with a course that cannot be finished.

I do not wish to use Heroku I will be using Now. I have not been told about Now V2 until just now, after completing this mon

[2019-02-11 19:01] klyburke opened #198 "Chapter 8: Add Heroku and AWS EBS deployment instructions to book"
Because [Now v1 will be deprecated](https://spectrum.chat/zeit/now/cannot-create-now-v1-deployments~d206a0d4-5835-4af5-bb5c-a17f0171fb25), and new users of Now will not be able to deploy using v1, let's add instructions for deploying with Heroku and AWS EBS.

We will still keep the instructions for deploying with Now v1 for book readers who signed up with Now before January 1, 2019 (anyone who sig

[2019-02-11 19:19] YuriGor commented on #198
Do you expect it will be so difficult to deploy with Now 2?
May be you are not so happy with Zeit hosting at all? Why?
Or just no enough time for upgrade/testing?

[2019-02-12 22:15] tima101 commented on #187
@orpheus Thanks for reporting. I can reproduce problem. I reported it here: https://github.com/zeit/next.js/issues/6278

To fix wrong behavior, consider not using `asPath` and use `as` instead.
Replace:
[code]

With:
[code]

[2019-02-12 23:26] tima101 commented on #198
@YuriGor Pretty happy with Now v1 and happy with all other product of Zeit team. We highly recommend.

We could not find any reason to refactor app to make it deploy-able on Now v2.
Many people says it's cheaper.
Maybe. But was overhead considered in the price?

- To those who learn to code, you should not care about cheaper hosting when you learn basics of coding. Learn good habits, try to become

[2019-02-13 07:50] YuriGor opened #199 "Is server-side fetch cost effective?"
Chapter about internal API was pretty esoteric for me, so I started digging deeper.
Here is how it looks for me now:

- For SSR we call our API with node-fetch (via universal-unfetch)
- Node-fetch makes an additional HTTP request to our own Express server
- In response it imports api modules with mongoose models inside
- makes requests to mlab
- processes data from mongoDB and returns it back to g

[2019-02-13 09:06] YuriGor commented on #198
Well as for me, I already invested some time to study Now ecosystem, and I am going to use it for several projects.
I have no apps deployed with Now 1.
Since Now 2 is nearest future and Now 1 is going to be deprecated, I have no reasons to learn Now 1 and use it for new apps.
I already tested Now 2 a bit for a litle [static Nextjs app](https://github.com/YuriGor/deepdash.io/), and I like the idea

[2019-02-13 11:23] YuriGor commented on #199
Answer from zeit about billing such things
https://spectrum.chat/zeit/now/will-local-http-request-billed-as-bandwidth

[2019-02-14 17:19] orpheus opened #200 "Confusion on creating deployment package.json scripts"
first of all we see this code (all *chapter 8*):
*1*
[code]

Then we are told that babel-node in production is to heavy and to run this code:
*2*

[code]
And then you say for the app you ran this code:
*3*

[code]
My question is when moving from *1* to *2*, you remove `NODE_ENV=production` from the `build` script. Why? Where are you supposed ot set it then? I tried keeping it there, but when I run

[2019-02-15 22:21] YuriGor commented on #111
Hi @tima101,  I've got no notification about you mentioned me in your recent comment
(may be github does not send notifications about edits?)

Now I see you merged my PR, so is your suggestion about try/catch still actual?
If so - what exactly do you suggest to do in the `catch` block?
I think it's better to not swallow an exception here and to let it bubble up, because if something wrong happened

[2019-02-15 22:31] tima101 commented on #111
@YuriGor Thanks for your reply. Got it.

Pushed changes to all chapters and main app: [`c##111 main app and all book chapters`](https://github.com/builderbook/builderbook/commit/2b3b51a839e1af5f8159c3af8f13559bac4bdf0d)

[2019-02-15 23:22] tima101 commented on #199
@YuriGor Thanks for the interesting question.

Answer will be different for CSR case.
For SSR, let's focus on particular page, say `ReadChapter` page (`book/8-end/pages/public/read-chapter.js`)

User does initial load on browser (not browsing links on already loaded web app but loading page in new tab).
For initial load, our app will do SSR (unlike in case of clicking links on already loaded web a

[2019-02-16 07:16] tima101 commented on #199
@YuriGor Just to add to my above answer. I guess in case of `builderbook` app you could make `getChapterDetails` call `Chapter.getBySlug` without fetch and Express route for SSR.
But then you will end up having two codebases, one for SSR and one for CSR. Too much work to maintain.

---

If your app has many internal APIs, you should split app into two apps: React/Next/Express (pages and components

[2019-02-16 07:43] YuriGor commented on #199
Thank you for reply!

I just want to get this topic deeper, to make architectural decisions consciously.
May be it's out of scope of builderbook, but let me please recap my current vision here in this issue, just to make it clear for myself.

I suppose splitting UI and API into separate servers physically makes sense in context of
- performance: in case of high loaded app UI server willl
- mainten

[2019-02-16 07:53] tima101 commented on #199
@YuriGor All correct.

I gotta reiterate CSR/SSR point though.
Next does both CSR and SSR. Skipping fetch and Express route for SSR is possible but not for CSR.
So you will end up with two codebases in a single project.
Too much work, this would be a bad decision in my opinion (internal networking usually free and very fast).

[2019-02-16 07:56] YuriGor commented on #199
@tima101 I think it will be pretty easy to automate such CSR/SSR division. We will need just extract url mapping from server/app.js into separate module and make our own version of universal-fetch lib, it will make HTTP requests for CSR and import correct code for SSR.
Most of work is done already, it just need to be moved to higher abstract level.
But yes, in terms of costs saving it may be does

[2019-02-16 17:31] mcferrenm opened #201 "sendRequest is not a function / Fetch API cannot load"
Hello,

In chapter 5, I'm getting the following when Admin page, componentDidMount calls getBookList. Can't seem to find the problem.

[code]

Would appreciate another set of eyes if you have chance. Thank you.
https://github.com/mcferrenm/builderbook

ps: really enjoy this book btw, will review when I finish.

<details>
      <summary>Click to see <b>Hill for issue #201</b></summary>
      <div><

[2019-02-16 21:12] tima101 commented on #201
@mcferrenm I am happy to review your code. Please share a codebase that has the above error with me. You can share via public repo. Thanks.

[2019-02-16 21:16] mcferrenm commented on #201
@tima101 Ahh thanks so much. This is my first next.js app so it might be something embarrassingly easy. We shall see :) https://github.com/mcferrenm/builderbook

[2019-02-16 22:17] tima101 commented on #201
@mcferrenm To spot problem, you can check up and compare your code to the app located at `book/5-end`.

Please replace:
[code]

with
[code]

But I am not sure why the above change fixes the problem.
In Next.js, everything that is import to pages (components, API methods that use fetch, other function) - all get compiled by babel automatically.

@YuriGor @delgermurun @klyburke Any idea?

[2019-02-17 07:13] delgermurun commented on #201
@mcferrenm @tima101 Mixing `require` and `export` causes an issue.

`const { default: sendRequest } = require('./sendRequest');` will work.

https://stackoverflow.com/questions/33704714/cant-require-default-export-value-in-babel-6-x

[2019-02-18 16:16] SyedSRahman opened #202 "Chapter 2: withLayout HOC code mismatch"
In the section [Index page](https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#index-page), where `getInitialProps()` is being described, the code for `withLayout` HOC isn't the same as in **2-start**.

When it says

It's not clear what exactly to do.

<details>
      <summary>Click to see <b>Hill for issue #202</b></summary>
      <div><img src="http

[2019-02-18 19:36] klyburke commented on #202
@SyedSRahman Good catch, and thank you for creating an issue.

We wrote the correct code for `withLayout` in the text of Chapter 1 (https://builderbook.org/books/builder-book/app-structure-next-js-hoc-material-ui-server-side-rendering-styles#remove-server-side-styles), but it seems that the text of Chapter 2 mentions older code. I will correct that.

[2019-02-18 19:48] klyburke commented on #202
Updated the text. Now the [Index page](https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#index-page) section in Chapter 2 that you mentioned reflects the `withLayout` code from **2-end**: https://github.com/builderbook/builderbook/blob/master/book/1-end/lib/withLayout.js

Let us know if the instructions make sense now. Thanks again!

[2019-02-18 23:31] mcferrenm commented on #201
got it, thank you

[2019-02-19 13:29] SyedSRahman commented on #202
Looks good, thanks @klyburke .

[2019-02-19 13:29] #202 closed

[2019-02-20 00:27] #201 closed

[2019-02-22 01:18] #175 closed

[2019-02-22 01:18] #111 closed

[2019-02-22 01:19] #123 closed

[2019-02-22 01:19] #187 closed

[2019-02-22 01:22] #182 closed

[2019-02-22 01:22] #197 closed

[2019-02-22 01:22] #183 closed

[2019-02-22 01:23] #193 closed

[2019-02-22 01:23] #168 closed

[2019-02-22 01:23] #188 closed

[2019-02-22 01:24] #191 closed

[2019-03-05 14:34] ghost opened #203 "Unhandled Rejection (TypeError): Cannot read property 'email' of null"
Hello,

I am in the middle of Chapter 2 and just created my document on MongoDB Atlas.  Following the instructions I am getting the error **"Unhandled Rejection (TypeError): Cannot read property 'email' of null"** when trying the get the email from the database.

Any ideas what has gone wrong?

Thanks.
Andy

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #203</b></summary>

[2019-03-13 18:25] tima101 commented on #185
@orpheus Thanks for researching and posting explanation.

Here is another link:
https://github.com/zeit/next.js/issues/1074#issuecomment-279036915

Your original link:
https://github.com/zeit/next.js/issues/159#issuecomment-257318970

Few things to remember about `getInitialProps`:
- you can't use `getInitialProps` in non-page components, only in page components
- you have to define `getInitialPro

[2019-03-15 17:27] ksbrooksjr commented on #1
As a quick and dirty solution I ended up just modifying the styles directly in the console. Here's what worked for me: https://gist.github.com/ksbrooksjr/0ad492d540d4fb9c968cb8cd52c520b3

[2019-03-16 15:35] abeeb1000 opened #204 "chapter 2 : using mLab/MongoDB"
mLab was recently acquired by MongoDB, Inc.  The explanation in the book doesn't correspond with information on the MongoDB site. It is too confusing. what to do now?

<details>
      <summary>Click to see <b>Hill for issue #204</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/204.png" alt="Single issue hill" class="s3-image"/></div></details>

[2019-03-16 18:03] tima101 commented on #200
@orpheus This is indeed confusing. Thanks so much for reporting.

We removed babel from server code while ago but did not update some content in Chapter 8.
Let me do that and then answer your questions.

[2019-03-16 18:38] tima101 commented on #200
@orpheus @PercyPham I pushed fixes to content and code.
Here is code fix: https://github.com/builderbook/builderbook/commit/f3013598bfa505cec5f6939ba88db23b0c63302c

To answer your questions:
- we removed babel from server code while ago, so we don't need to do `babel server -d compiled/server && cp -R static compiled`
In other words, no need to build client and server code individually
I removed

[2019-03-16 18:42] tima101 commented on #204
@abeeb1000 Thanks for reporting. I am working on adding instructions for `MongoDB Atlas` and removing `mLab` instructions as mentioned in #138.

[2019-03-16 19:13] tima101 commented on #1
@ksbrooksjr Nice!

I will use your styles to create a light theme. Thanks!

---

Notes to myself: save boolean `lightTheme` to browser's `localStorage`.

Do something like this at `ReadChapter` page:
[code]

And:
[code]

[2019-03-16 22:26] tima101 commented on #203
@tungandy Did you find a problem?

[2019-03-16 22:28] tima101 commented on #195
Version 2.0.0 of passport-google-oauth20:
https://medium.com/passportjs/google-api-shutdown-330c3b47e3df

[2019-03-16 22:39] klyburke opened #205 "Upgrade to Next 8 + update other main dependencies"
- [x] upgrade to Next 8 in main app and test
- [x] upgrade to Next 8 in each book chapter and test
- [x] also update other major dependencies (React, Material UI, Express, etc.) and test

<details>
      <summary>Click to see <b>Hill for issue #205</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/205.png" alt="Single issue hill" class="s3-image

[2019-03-17 18:27] tima101 commented on #204
@abeeb1000 I replaced `mLab` instructions with `MongoDB Atlas` instructions. Changes are live at:
 https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#database

[2019-03-17 18:28] tima101 commented on #138
@klyburke @YuriGor @delgermurun I replaced `mLab` instructions with `MongoDB Atlas` instructions. Changes are live at:
 https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#database

[2019-03-18 17:09] #195 closed

[2019-03-19 17:02] tima101 commented on #198
@klyburke @YuriGor Added Heroku subsection to Chapter 8, please check it up when you have a moment.

[2019-03-19 17:20] YuriGor commented on #198
Hi @tima101, I am quite busy with main job, so I'll not be able to check it soon.

[2019-03-20 21:40] tima101 commented on #1
@shanky101 @ksbrooksjr @klyburke @delgermurun Added prototype feature, see circle icon next to Table of Content on the left: https://builderbook.org/books/builder-book/introduction

[2019-03-23 12:43] abeeb1000 opened #206 "chapter 2-start or end/ chapter 3-start : UnhandledPromiseRejectionWarning"
localhost is not sending any data to the browser at the completion of chapter 2-start or end/ chapter 3-start  due to ........... promiseRejection or DeprecationWarning
This message printed on the terminal:

![Screenshot from 2019-03-23 16-40-11](https://user-images.githubusercontent.com/29411186/54866234-c2c49700-4d8a-11e9-97b0-053c2389dba6.png)

[2019-03-23 13:53] ksbrooksjr commented on #1
@tima101 Looks great!

[2019-03-23 17:35] tima101 commented on #206
@abeeb1000 Thanks for reporting.

Would you please push the codebase with the above error to some public repo?
And share the link with me.
I will investigate.

[2019-03-24 04:14] abeeb1000 commented on #206
@tima101
At first, I thought something wrong with my codebase after completion of chapter 2-start but then I cloned a new project from `https://github.com/builderbook/builderbook ` the problem still persist. I added `.env ` file and tried it on 2-end, 3-start  without my own code but no avail.

[2019-03-24 04:38] tima101 commented on #206
@abeeb1000 I tested `2-end` app again just now, starts without error in the terminal (command `yarn dev-express`).

Here is a screenshot of my browser:

[2019-03-24 05:44] abeeb1000 commented on #206
@tima101
[link](https://github.com/abeeb1000/mybuilderbook.git) to the repo

`MONGO_URL_TEST="mongodb+srv://olumide:zaheed@cluster0-b8ci7.mongodb.net/test?retryWrites=true"`  for env  file

don't worry nothing special in database

[2019-03-24 06:00] tima101 commented on #206
@abeeb1000 Thanks, I will test with your repo and env var tomorrow. Please share your Node version as well.

[2019-03-24 06:49] abeeb1000 commented on #206
node version and nvm version

/home/linux-world/Pictures/Screenshot from 2019-03-24 10-49-11.png

[2019-03-24 22:09] tima101 commented on #206
@abeeb1000 Here is what I found.

- I added my `MONGO_URL_TEST` to your code and app runs without errors.
- Then I added your `MONGO_URL_TEST` to your code and got error
- Then I added your `MONGO_URL_TEST` to the code in this repo and got error

So problem is for sure with your `MONGO_URL_TEST`.

Please check up:
1. database username, database password, database user's permission:
![Screenshot fr

[2019-04-04 15:30] tima101 opened #207 "adminRequired is missing"
Received feedback via Google Form:

"withAuth"  HOC    use  only "loginRequired" and  "logoutRequired"  options  in  chapter 5. You can check it in "5-end"  folder.

<details>
      <summary>Click to see <b>Hill for issue #207</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/207.png" alt="Single issue hill" class="s3-image" width="100%" /></div

[2019-04-04 17:59] seleznevds commented on #207
Hi!
I think, in book/5-end/pages/admin/index.js   it's also  should  be :
`export default withAuth(withLayout(IndexWithData), { adminRequired: true });`

Now it's
`export default withAuth(withLayout(IndexWithData));`

[2019-04-04 19:18] tima101 commented on #207
@seleznevds Done. Thanks.

[2019-04-06 17:28] kvsm commented on #138
Think you also can update the readme where this issue is referenced now then ;)

[2019-04-06 18:39] tima101 commented on #138
@kvsm Good point, done.

[2019-04-07 07:35] kevinkt opened #208 "Database doesn't get created in start-2"
I can't get the database to be created in start-2. No database gets populated in MongoDB atlas. I've done the exact steps 3 times using different usernames as well as databases.

Any thing I should do to trouble shoot?

<details>
      <summary>Click to see <b>Hill for issue #208</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/208.png" alt="Si

[2019-04-07 07:48] kevinkt commented on #208
Error message

(node:86105) UnhandledPromiseRejectionWarning: MongoNetworkError: connection 4 to cluster0-shard-00-02-iomoi.mongodb.net:27017 closed

[2019-04-07 14:12] tima101 commented on #208
@tima101
- Do you see any error in your terminal?
- Try these tips: https://github.com/builderbook/builderbook/issues/206#issuecomment-476005627

If does not work, please share your exact codebase and I will try to troubleshoot.

[2019-04-07 23:17] kevinkt commented on #208
I was able to get the test database to be created, not sure what I did.

However, now I'm not able to get the email from the database to appear on my app.

[2019-04-08 01:47] tima101 commented on #208
@kevinkt Great! I am closing issue then.

[2019-04-08 01:47] #208 closed

[2019-04-12 13:26] denisedelbando opened #209 "Not an issue. Question on api design"
I looked into the my-books api and saw that you are breaking it down to purchasedBooks, freeBooks, otherBooks ... If there was another type of book, wouldn't it be better if you always returned one array and just have a type and filter it in react?

Also, shouldn't the filter have been done in the react side and not via api?

<details>
      <summary>Click to see <b>Hill for issue #209</b></summar

[2019-04-12 15:59] tima101 commented on #209
@denisedelbando Hi, this is a very good question.

A short answer is that you as a book owner or owner of a digital product should not return any `purchased` data to browser. Once you return `purchased` data to browser, a user who signed up and did not purchase a book/product will be able to access this data via, for ex, Chrome Dev Tools.

In general though, if data is public, you can indeed retur

[2019-04-15 12:50] denisedelbando commented on #209
if this was an internal api, you would do the business logic in the api instead. correct?

[2019-04-15 14:22] tima101 commented on #209
@denisedelbando Generally, if  you send data from the server to the browser and use data in multiple places inside your app - I would have one internal API that sends this data to the browser. Then I would add some methods to `pages/` or `/components` or `lib/store/` (if you use something like MobX) to filter data on the browser.

One of the exception would be paywalled/purchased data, you gotta c

[2019-04-15 15:01] denisedelbando commented on #209
thank you for  your insight @tima101. very much appreciated.

[2019-04-20 22:56] icruzr93 opened #211 "Not an Issue: Docker Integration"
Looking through your code it could be great to have a Dokcerfile for both, development and production.

I am open to help you creating those files and workflows, just i need to know how to collaborate,  i have already the code to implement the dev dockerfile.

[2019-04-21 15:40] tima101 commented on #211
@icruzr93 I am not familiar with dockerfile. What's the purpose of having it in development? I an open to learning about motivation and potentially adding it.

Since Now v1 is depreciated, we added Heroku instructions for deployment to the book (Chapter 8). And planning to add Heroku instructions to this repo's README.

[2019-04-21 15:52] icruzr93 commented on #211
Docker is a technology to build and run projects with a set of instructions (specified in a Dockerfile), you can use it to run yourn own projects or third party projects, my idea is to automate the up and running of the database and of course the project you have created.

To know more about Docker please see this video

https://www.youtube.com/watch?v=YFl2mCHdv24

BTW. Your project is an amazing

[2019-04-21 16:08] tima101 commented on #211
@icruzr93 Thanks. You can create a pull request with dockerfile for main app in this repo. I will take a look at the dockerfile and probably ask some questions.

[2019-04-23 15:52] tima101 opened #213 "test issue"
test issue content

[2019-04-29 14:13] MeSkyline commented on #206
i review all my code & also review mongo token. but this {{ UnhandledPromiseRejectionWarning: MongoParseError }} will constent , how to resolve ?

[2019-04-29 14:15] AkashRajvanshi opened #214 "UnhandledPromiseRejectionWarning: MongoParseError"
in chapter2_end & all the next successing chapters , this problem will arise in my system, i dont understand how to solve this and review all my code and token from mongo_atlas

<br/><hr/><details>
      <summary>Click to see <b>Hill for issue #214</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/214.png" alt="Single issue hill" class="s3-image

[2019-04-29 23:29] tima101 commented on #206
@MeSkyline Thanks for question. This is a duplicate question from #214

[2019-04-29 23:31] tima101 commented on #214
@MeSkyline I recently ran 2-end and it works. Discussed most recently in #206

Please try these steps: https://github.com/builderbook/builderbook/issues/206#issuecomment-476005627

I will run 2-end later again just in case.

[2019-05-02 18:43] #209 closed

[2019-06-03 11:02] kacoulib opened #215 "Trouble with Local Strategy"
## Getting this error during authentification with Basic form (Fetch)

StatusCode 200 but `response.json()` return
`Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0` in sendRequest.js

### Server

server.post('/auth/basic', function (req, res, next) {

        passport.authenticate('local', function (err, user, info) {

            if (err) { return next(err) }

[2019-06-04 22:21] igigi commented on #203
I have the same problem.

[2019-06-10 01:33] amuradeb opened #216 "Github not connected"
I have a problem with the application does not load my repositories, says "choose github repo" and launches a notification "Github not connected"

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #216</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/216.png" alt="Single issue hill" class="s3-image" width="100%" /></div></details

[2019-06-10 09:53] #215 closed

[2019-06-10 20:09] #138 closed

[2019-06-10 20:09] #1 closed

[2019-06-10 20:11] #167 closed

[2019-06-10 20:12] #185 closed

[2019-06-10 20:12] #198 closed

[2019-06-10 20:12] #199 closed

[2019-06-10 20:12] #200 closed

[2019-06-10 20:13] #204 closed

[2019-06-10 20:13] #205 closed

[2019-06-10 20:13] #207 closed

[2019-06-10 20:14] #206 closed

[2019-06-10 20:15] tima101 commented on #216
@amuradeb Please share your repository with the code base that has this error. I will run your code and debug.

[2019-06-10 20:15] tima101 commented on #214
@MeSkyline Have you had chance to try the above suggestions?

[2019-06-19 02:04] amuradeb commented on #216
mi repository is https://github.com/amuradeb/book-error

[2019-06-26 19:39] tima101 commented on #216
@amuradeb Hi, in the main repo version of `@octokit/rest` is `16.23.2`. I tested `Connect GitHub` button with this this version and it works as expected.

I also tried upgrading `@octokit/rest` to latest version which is `16.28.2` - `Connect GitHub` button works as well (though I get 2 depreciation warnings, which are not critical and auth flow works as expected).

Try upgrading to latest version

[2019-06-28 04:35] dtran26 opened #217 "Boilerplate not available"
Hi!

The link in the README for the boilerplate is not working: https://github.com/builderbook/builderbook/tree/master/boilerplate

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #217</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/217.png" alt="Single issue hill" class="s3-image" width="100%" /></div></details>
      <detail

[2019-06-30 15:30] klyburke commented on #217
@dtran26 thanks for catching the broken link.

We removed the separate boilerplate app, because you can use code in [book/1-begin](https://github.com/builderbook/builderbook/tree/master/book/1-begin) or [book/1-end](https://github.com/builderbook/builderbook/tree/master/book/1-end) as a lean boilerplate.

[2019-07-06 08:21] dtran26 opened #218 "Chapter 2: ESLint Issues"
Hi,

I cloned the repo and started going through chapter two. Ran yarn and installed all dependencies. However, when I started writing server/app.js code a popup from VSCode ESLint extensions started popping up. Here is the message:

ESLint: Failed to load config "airbnb" to extend from. Referenced from: /Users/Tran/builderbook/.eslintrc.js. Please see the 'ESLint' output channel for details.

<p/

[2019-07-09 04:05] tima101 commented on #218
@dtran26 Thanks for reporting. Would you please share your codebase in some public repo for me to test.

[2019-07-13 00:57] sudano-r opened #219 "Cannot fetch data when running on remote server"
I am using the builderbook boilerplate to study, and added new pages and models basically by copying the Book "CRUD" and adapting to my needs. And It was running fine at my machine (all localhost) as a pretend-ERP, with 'supplier', 'product' and 'purchase' register functionality already working.
I've run at a remote server (AWS EC2 Windows instance) exactly like I did at my machine, starting a loc

[2019-07-13 01:25] tima101 commented on #219
@sudano-r Thanks for sharing code. Do I understand it correctly that google login works fine on local machine but not when deployed to AWS?

[2019-07-13 02:09] sudano-r commented on #219
No. Well, initially it didn't work, but only because the oauth callbackURL was set to 'localhost:8000'.
Since I was login in from my home, when the oauth redirected, it set my browser's address to 'localhost' instead of the AWS server address. So, I updated the callbackURL to that of the server and it worked fine.
But, after logged in, if I went to "Estoque" (a new option I created at the logged i

[2019-07-13 03:47] tima101 commented on #219
@sudano-r Thanks for explaining further. So `req.user` does not exist on deployed app. What about local app, does `req.user` exist there? Related question, do you see `session` doc in both local and deployed MongoDB? Does session doc contains user info in both cases?

I could not find `Estoque` page. Which page produces error `Unauthorized` in the public repo that you shared in your first comment?

[2019-07-13 07:41] sudano-r commented on #219
req.user exists in local. In remote, it is undefined.
Both cases have session doc with user id.
The file for the page "Estoque" is actually 'compras.js' (sorry for that... 'estoque' is only the menu alias).

After I implemented CORS and set the the oauth returnURL to server's address, every page shows 'unauthorized' (even after login) when something needs to be fetched.
I mean, the login works, bu

[2019-07-13 16:39] tima101 commented on #219
@sudano-r

Yes, you definitely should search up entire codebase for domain strings. For example, here are two lines where you need to paste your value:

https://github.com/sudano-r/harekit/blob/d3094953076db9bce0adc981516569b370c61e51/lib/api/getRootUrl.js#L4

https://github.com/sudano-r/harekit/blob/d3094953076db9bce0adc981516569b370c61e51/server/app.js#L23

I think if you update domain strings a

[2019-07-14 00:23] sudano-r commented on #219
It works!
I just did what you said, but I don't quite understand exactly what changed. Because, whilst I am indeed starting express server with credentials, as far as I am concerned, I am not using them.
Actually, if I use "https://" in the urls, I get SSL protocol error or related browser message ('this site can't provide secure connection') or 'failed to fetch'.
But with usual "http" it works ju

[2019-07-14 04:35] tima101 commented on #219
@sudano-r You are welcome. I am not sure what else to add to what I already said above.

You may want to consider purchasing our book where most of the code is discussed in detail.

[2019-07-14 04:35] #219 closed

[2019-07-15 09:13] ymeskini opened #220 "RTL support in markdown"
I'd like to create books in arabic could you tell me how could I handle properly both rtl and non rtl markdown

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #220</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/220.png" alt="Single issue hill" class="s3-image" width="100%" /></div></details>
      <details><summary>Click to

[2019-07-18 07:42] tima101 commented on #220
@ymeskini This project uses `marked` for markdown, no such support at this moment: https://github.com/markedjs/marked/issues/694

[2019-07-18 07:46] tima101 opened #221 "builderbook.org migrates to Route 53 by AWS"
Previous nameservers have to expire, unfortunately builderbook.org will be down for up to 24 hours. We apologize for this outage.

[2019-07-19 03:20] #221 closed

[2019-07-19 15:35] jonwhitey opened #222 "Chapter 5 : readChapter testing not styling"
Hi,

I'm having trouble getting http://localhost:8000/books/dummy-3/introduction to show the correct styles at the end of chapter 5.

I get:

<img width="1920" alt="Screen Shot 2019-07-19 at 10 29 03 AM" src="https://user-images.githubusercontent.com/20605942/61546973-12049680-aa10-11e9-8935-5ac90620f4ec.png">

Instead of:
![image](https://user-images.githubusercontent.com/20605942/61547008-1cbf2b

[2019-07-19 21:04] tima101 commented on #222
@jonwhitey Thank you for reporting it. I do confirm this problem.

I unfortunately don't remember whether that html string came from mLab and/or from GitHub's server...

I pushed new `htmlContent` to the chapter 5.
Please reload tab and try new value for `htmlContent`.

Currently I get:
![Screenshot from 2019-07-19 13-52-09](https://user-images.githubusercontent.com/10218864/61565379-b6490600-aa2d

[2019-07-20 11:20] jonwhitey commented on #222
Thanks for getting back so quick.

The new htmlContent string worked! It looks the same as yours.

[2019-07-24 16:22] tima101 commented on #222
@jonwhitey It looks like MongoDB Atlas (unlike mLab) has some weird UI/UX bug that removes new lines and spaces from the string.

Basically what happens: I copy htmlContent that is synced from GitHub and that is rendering properly (with all new lines and spaces). Then I paste string, pasted string has no new lines and spaces.

Does this explanation make sense?

I am gonna think more on how to get

[2019-07-27 00:41] jonathan-barrios opened #223 "Heroku Deploy Timeout"
Everything works locally but no luck deploying on Heroku so far due to an H10 app boot timeout. I tried the book/8-end repo in case it was my code that was throwing the error but the book code also timed out and crashed.

I asked Heroku to change the timeout length from 60 seconds to 120 seconds which can help sometimes but no luck this time. Now I am getting an H20 app boot timeout due to the lon

[2019-07-27 02:04] tima101 commented on #223
@jonathan-barrios Thanks for reporting and feedback.

Could you please provide longer logs?
I only see truncated error related to authentication plus some warnings.

I am gonna deploy `8-end` chapter app tomorrow and report back here.

[2019-07-27 02:41] jonathan-barrios commented on #223
@tima101 Thanks for the quick reply! Yes, I did enter all of the env vars(prod/dev) which seem to be communicating properly. I have not tested the app with a custom domain just yet but from the instructions in chapter-8 it looks like you got the app it running without a custom domain, just can't authenticate to log in, which I expected.

I have attached longer logs from Heroku CLI: heroku logs --a

[2019-07-28 02:53] tima101 commented on #223
@jonathan-barrios I just tried it and was able to deploy it without timeout error.

I deployed `book/8-end` to:
https://heroku.builderbook.org

You can check mapping to herokudns.com here: https://www.whatsmydns.net/#CNAME/heroku.builderbook.org

Is it possible that some env vars missing?
Please check up for `Google_clientID` and others:
![Screenshot from 2019-07-27 19-52-47](https://user-images.g

[2019-07-28 05:21] jonathan-barrios commented on #223
@tima101 Thanks for looking into this and confirming that. After re-entering all of the env vars and restarting the dyno, it is up and running! The env vars 🤭 Thanks for your help!

[2019-08-01 06:08] anhtd-teko commented on #218
Hi, the issue was resolved. However, I have a question. Why is eslint 6.0.1 used throughout the book if airbnb config is incompatible with the newer versions of eslint?

[2019-08-01 06:09] dtran26 commented on #218
Hi, the issue was resolved. However, I have a question. Why is eslint 6.0.1 used throughout the book if airbnb config is incompatible with the newer versions of eslint?

[2019-08-03 15:34] jonwhitey commented on #222
Thanks for answering this Tima.

Makes sense to me. I've had the same problem pasting mongodb aggregation pipelines into terminal.

[2019-08-03 15:34] #222 closed

[2019-08-04 15:46] jonegrossm opened #224 "Trouble Connecting to MongoDB"
Hi Guys,

Love your tutorial. I'm stuck on Ch.2. I can't get the "test" database to show up when connecting to MongoDB. I've read the other issues on here and tried the solutions, but no luck. My terminal says the following when I run yarn dev-express:

=====
yarn run v1.12.3
$ nodemon server/app.js --watch server
[nodemon] 1.19.1
[nodemon] to restart at any time, enter `rs`
[nodemon] watching:
/U