[2019-08-04 22:18] jonegrossm commented on #224
I had a breakthrough! Instead of putting the mongoDB connection string in my .env file, I put it in app.js file to see what happened. In app.js, I put it here: const MONGO_URL="connection string."

It worked! The "test" database showed up in mongoDB. So I'm pretty sure I've connected it. However, as you know better than me, I don't want to leave my mongoDB connection string in the app.js file. So

[2019-08-05 04:10] tima101 commented on #224
@jonegrossm Good to hear. So no problems so far? I think that dotenv works as expected by the end of the chapter 2.

[2019-08-05 15:52] jonegrossm commented on #224
So far I'm good. I'm halfway through chapter 3. Thanks for following up.

On Sun, Aug 4, 2019 at 11:10 PM Tima <notifications@github.com> wrote:

[2019-08-11 15:00] jonwhitey opened #225 "mailchimp changed "lists" to "audiences""
Easy quick fix. Tripped me up for a minute. In Chapter 8, the book says to look for "Lists" when it should be "audiences".

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #225</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/225.png" alt="Single issue hill" class="s3-image" width="100%" /></div></details>
      <details><summa

[2019-08-12 16:38] klyburke commented on #225
Thanks @jonwhitey ! Fixed to `Audiences`

[2019-08-12 16:41] #225 closed

[2019-08-23 08:49] Baukaalm opened #226 "Why use default value for users in render, when empty array seted in state?"
https://github.com/builderbook/builderbook/blob/a89179854a0e58bda7c90121c8bdbfed26c386fe/components/admin/GiveFreeBook.js#L103

Maybe default params in render is wrong, because called around setState

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #226</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/226.png" alt="Single issue

[2019-08-23 09:08] Baukaalm commented on #226
Maybe default params in render is wrong, because called  around  `setState`

[2019-08-24 16:38] tima101 commented on #226
@Baukaalm Agreed. Because of this definition  https://github.com/builderbook/builderbook/blob/a89179854a0e58bda7c90121c8bdbfed26c386fe/components/admin/GiveFreeBook.js#L25

We could do write:
```const { users } = this.state;```

But since the code as it is has no problem, I would leave it as it is.

[2019-09-23 16:34] keftech opened #228 "Chapter 5 error: unexpected token < in JSON at position 0"
Hi,

I am receiving the following error in chapter 5 when I attempt to navigate to http://localhost:8000/admin, in the console I am getting the following error: Failed to load resource: the server responded with a status of 404 (Not Found) http://localhost:8000/api/v1/admin/books

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #228</b></summary>
      <div><img src="https://async

[2019-09-24 06:04] tima101 commented on #228
@keftech Would you please share your codebase? You can add me to a private repo or provide link to a public repo. I will look into it tomorrow.

[2019-09-26 13:23] jonwhitey opened #229 "deserializeUser runs 10x times"
Hi!

I'm having an issue with deserializeUser. It hits the db 10x times for each interaction.

As far as I can tell, it's being called for each server request. Most of the requests have the path = /_next/static/*

I've seen some info talking about serving static files with express.static but I have not been able to implement this myself.

Here's a link to passport's author describing the problem a

[2019-09-26 19:11] tima101 commented on #229
@jonwhitey Thanks for reporting.

I just added `console.log` to the main app (project at the root of `builderbook/builderbook` repo):
[code]

And then tested out login event and navigated to different pages.

On every login event, I get deserializeUser run 2-3 times:
![Screenshot from 2019-09-26 11-56-44](https://user-images.githubusercontent.com/10218864/65717010-2b037680-e055-11e9-89e8-4ef044a3b

[2019-09-26 19:38] keftech commented on #228
Hi Tima, I had a look at the 5-end code and it seems, I misunderstood the lesson. I have since solved the issue. Thanks

[2019-09-26 19:38] #228 closed

[2019-09-26 19:56] tima101 commented on #228
@keftech Nice. Would you suggest us to make some text more clear in `5-end`?

[2019-09-27 13:38] jonwhitey commented on #229
Awesome! Thanks Tima.

[2019-09-28 01:58] callahanp commented on #118
You updated the description, but the visual still shows the User settings not the workspace settings.  This was a bit confusing, but once I found this issue and the response, everything became a bit clearer.  Should a separate issue be raised to make the visual consistent with the description?

I'll be looking for/reporting a separate issue regarding eslint configuration for vscode.

[2019-09-28 15:25] callahanp commented on #218
I encountered the same message when working in chapter 1.   The explanations of how to configure visual studio code for use with eslint and prettier don't lead directly to an understanding of how to proceed.  Although I now have them working, the steps not lint free or pretty.

I suspect there is some sort of misstep that can leave you with a eslintrc or prettier configuration file in the wrong di

[2019-09-28 19:15] tima101 commented on #218
@tima101 I will review eslint and prettier setup in the book but no specific timeline for now. Will re-open this issue for now.

[2019-09-29 00:00] klyburke commented on #118
@callahanp Thanks for reporting. I will update the old image with a new one.

[2019-09-29 17:52] #217 closed

[2019-09-30 04:07] callahanp commented on #218
So now that I've had a chance to play with it some, I'm having trouble even reproducing the error message about airbnb in vscode. Go figure. Likely something is cached

Note that the message is about the airbnb entry in the builderbook git root directory, not the one we're working in:  "...airbnb" to extend from. Referenced from: /Users/Tran/builderbook/.eslintrc.js

The ambiguity in chapter 1 for

[2019-09-30 05:29] tima101 commented on #218
@callahanp Good point about root.

Also @klyburke found this depreciation: https://github.com/prettier/prettier-vscode#deprecated-prettiereslintintegration-default-false---javascript-and-typescript-only

We will push update (using `prettier-eslint` instead of `prettier`), improve wording and then close this issue.

[2019-10-02 14:58] callahanp commented on #218
maybe.  have you found this:

rm -rf builderbook
git clone https://github.com/builderbook/builderbook.git
cd builderbook/book/2-begin
yarn

[1/4] Resolving packages...
[2/4] Fetching packages...
info fsevents@1.2.9: The platform "linux" is incompatible with this module.
info "fsevents@1.2.9" is an optional dependency and failed compatibility check. Excluding it from installation.
error eslint@6.0.

[2019-10-02 16:17] callahanp opened #230 "Chapter 2 - Version of Protocol"
The text mentions the "Version of Protocol" header element, but the screenshots do not contain it. I'm assuming there's a default value.

While it may not be central to the book's subject matter, since it is mentioned, you may want to include information or link to information on what happens with regard to protocol version if none is specified.

On the other hand, HTTP 2.0 is all about reducing l

[2019-10-02 17:17] callahanp opened #231 "Chapter 2 Express Server vs Next Server"
There are two  packages in chapter 2's package.json.  express and next.

 Both of these can act as servers.

Can you explain the relationship between the two?
Are both in use at the same time?
When used together, how do the two interact?
Do they have different roles in the application?
How is express routing different from next routing?

<p/><hr/><details>
      <summary>Click to see <b>Hill for i

[2019-10-02 17:40] tima101 commented on #231
@callahanp

Official link:
https://github.com/zeit/next.js/#custom-server-and-routing

Example of actually separating servers:
https://github.com/async-labs/saas
https://github.com/async-labs/saas/issues/31

[2019-10-02 18:26] callahanp commented on #231
Thanks.  The links explain it well.

You may want to add a brief reference to the concept of running two servers in a single app  in the book in chapter 2.  When you tossed express into the mix, I had a "wait. What?" moment.  But then I'm always having those... ;-)

[2019-10-02 18:32] tima101 commented on #231
@callahanp Thanks. Ok. I will keep the issue open till then.

[2019-10-05 02:53] klyburke commented on #118
@callahanp Sorry for the delay here. I have been traveling.

I removed the snapshot showing User Settings, as I realized it was not necessary and only caused confusion. Thanks again for catching.

As mentioned in #218, I will work on switching to the `prettier-eslint` package instead of `prettier`. This change will affect the Workspace settings, as they will no longer need `"prettier.eslintIntegra

[2019-10-06 18:27] callahanp commented on #118
no worries.

If you can give me a thumbnail sketch of what to do in this area, I can try
it here and test.
or I can just wait till you get to it.

-Pat

On Fri, Oct 4, 2019 at 10:53 PM Kelly Burke <notifications@github.com>
wrote:

[2019-10-15 05:05] alchemistgo87 opened #232 "Does the tutorial include Redux?"
Hi,

Before purchasing the book, just wanted to know if this book covers the tutorial around Redux or other such state management library.

Thank you.

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #232</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/232.png" alt="Single issue hill" class="s3-image" width="100%" /></div></de

[2019-10-15 15:11] tima101 commented on #232
@alchemistgo87 Hi, no Redux or any other state management library for `builder book`.

Easiest way to check is to look at `package.json` of the very last chapter:
https://github.com/builderbook/builderbook/blob/master/book/8-end/package.json

Upcoming book, `saas boilerplate`, does have MobX library:
https://github.com/async-labs/saas/blob/master/book/14-end/app/package.json
https://github.com/asy

[2019-10-16 01:46] alchemistgo87 commented on #232
Alright, thanks for the reply!

[2019-10-16 01:46] #232 closed

[2019-10-17 03:01] klyburke commented on #218
@callahanp Thank you for all these notes on eslint. I was traveling the past 2 weeks. I will work on upgrading all eslint packages this week, along with using `prettier-eslint` instead of `prettier`.

[2019-10-19 14:38] tima101 commented on #218
@callahanp @klyburke Incorrect peer dependency are solved with:
https://github.com/builderbook/builderbook/commit/084783e74d0d05f26b089bf7007733edd683b934#diff-f09168cafcb199da035f5e01f4636d44

@klyburke Please test and propagate to all chapters. Thanks!

[2019-10-20 13:53] tima101 commented on #218
@callahanp @klyburke We should also add 1-2 sentences explaining that ESLint extension on VS code editor is for highlighting formatting errors on the code editor. And ESLint package/dependency is for running `lint/eslint` command.

[2019-10-20 13:54] klyburke commented on #218
@tima101 Got it. I will explain in the book.

[2019-10-20 20:10] klyburke commented on #218
@callahanp Tima and I tested today and found the following (which I am implementing):

- As @tima101 pointed out, we no longer need `"prettier.eslintIntegration": true,` in `.vscode/settings.json`
- The reason we do not need `"prettier.eslintIntegration": true,` is because we do not need the `Prettier` extension on our VS Code Editor. We only need the `Eslint` extension.
- We will still use the `p

[2019-10-20 22:57] callahanp commented on #218
will they use that single .eslintrc.js file if the user does the following?

$cd book/1-begin
$code .

On Sun, Oct 20, 2019 at 4:10 PM Kelly Burke <notifications@github.com>
wrote:

[2019-10-20 23:04] callahanp commented on #218
"we do not need the Prettier extension on our VS Code Editor. We only need
the Eslint extension."

Why is it not needed?

On Sun, Oct 20, 2019 at 4:10 PM Kelly Burke <notifications@github.com>
wrote:

[2019-10-20 23:58] tima101 commented on #218
@callahanp Try changing prettier rules in `.eslintrc.js` under prettier/prettier. It works via eslint-config-prettier and eslint-plugin-prettier, you don't need Prettier extension.

[2019-10-21 03:06] callahanp commented on #218
ok. so while using the code editor, I'd still see prettier operating on the
code, it would just be doing it through the eslint plugin. Is that correct?

On Sun, Oct 20, 2019 at 7:58 PM Tima <notifications@github.com> wrote:

[2019-10-21 04:20] tima101 commented on #218
@callahanp Yep. I believe that Prettier was running twice in our old setup.

Kelly pushed code changes to this repo, she will update book text some time next week.

---

@callahanp If you are curious about TypeScript, here is a proper setup:
https://github.com/async-labs/saas/issues/46

[2019-10-22 00:24] delgermurun opened #233 "Upgrade to Next 9"
Code has been upgraded https://github.com/builderbook/builderbook/commit/36ad8ff6c350ef3974cd3a43951be033dd8a390d. Text needs to be upgraded.

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #233</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/233.png" alt="Single issue hill" class="s3-image" width="100%" /></div></details>

[2019-10-22 12:06] klyburke commented on #233
Thanks @delgermurun . I will work on the text.

[2019-10-25 04:27] klyburke commented on #218
@callahanp thank you again for the comments. I updated the book text, so we can close this issue.

[2019-10-25 04:27] #218 closed

[2019-10-28 02:21] klyburke commented on #233
@delgermurun I updated code written in the book to match these changes.

Last step is to update our descriptions of `prefetch`, as it's now default in Next 9:
- https://builderbook.org/books/builder-book/app-structure-next-js-hoc-material-ui-server-side-rendering-styles#header-component
- https://builderbook.org/books/builder-book/authentication-hoc-promise-async-await-static-method-for-user-model

[2019-10-29 01:09] klyburke commented on #233
Finished updating the descriptions in the book, so we can close this issue.

[2019-10-29 01:09] #233 closed

[2019-12-04 21:27] exah-io opened #244 "Chapter 1 - Incorrect json formatting"
Hi. In [Eslint and Prettier](https://builderbook.org/books/builder-book/app-structure-next-js-hoc-material-ui-server-side-rendering-styles#eslint-and-prettier) section, there's an incorrect formatting of the package.json:

[code]

It's missing commas starting from "eslint-plugin-jsx-a11y" package.

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #244</b></summary>
      <div><img

[2019-12-04 22:04] klyburke commented on #244
@exah-io good catch! Thank you for creating an issue. I have fixed the formatting.

[2019-12-04 22:04] #244 closed

[2019-12-06 20:48] exah-io opened #245 "Chapter 1 - Layout HOC: invalid JSX"
Hi,

In Chapter 1 - [Layout HOC](https://builderbook.org/books/builder-book/app-structure-next-js-hoc-material-ui-server-side-rendering-styles#layout-hoc) there's invalid JSX syntax.

The return statement of the custom _app.js is the following:
[code]

However, it's not possible to return 2 components in React. I'm aware that by end of the next section this is not relevant, but till then Next won'

[2019-12-06 23:26] exah-io opened #246 "Chapter 1 - Material-UI integration: wrong links"
Hi. In Chapter 1 - Material-UI Integration section, there are 2 invalid URLs:

Link should be: https://material-ui.com/customization/theming/#theme-provider

Link should be:  https://material-ui.com/components/css-baseline/

_ad-hoc question: should I keep creating issues like these if I find more of these erratas?_

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #246</b></summar

[2019-12-07 19:47] klyburke commented on #246
@exah-io thanks! I will fix these links.

We really appreciate your help! So yes, you are welcome to continue creating issues like this one.

[2019-12-07 19:54] klyburke commented on #246
Links have been fixed.

[2019-12-07 19:54] #246 closed

[2019-12-08 13:03] ywiley94 commented on #245
I had the same problem. Code wouldnt compile, it was saying the components in my return statement needed a parent element so i wrapped them in a <div></div> but once i made the material ui theme HOC and imported it in _app.js and wrapped it inside the return statement I didn't need the div anymore and code compiled and loaded successfully.

[2019-12-10 19:22] tima101 commented on #245
@exah-io @ywiley94 Thanks for reporting

@klyburke Please try wrapping with `React.Fragment`: https://reactjs.org/docs/fragments.html
If works, please edit text and code. Thanks.

[2019-12-12 02:46] klyburke commented on #245
@exah-io Thank you for the suggestion! Your solution worked for me. I will update the book content.

@tima101 The empty tag format suggested by @exah-io is a short syntax to declare React Fragments: https://reactjs.org/docs/fragments.html#short-syntax

[2019-12-12 20:01] 4asifm opened #249 "Can't connect to Github"
I followed the official tutorial.

When I login as Admin and try to "Connect Github" - it throws a

TokenError: Malformed auth code.
    at Strategy.OAuth2Strategy.parseErrorResponse (d:\dev_wksd\src-code\builderbook\node_modules\passport-oauth2\lib\strategy.js:358:12)
    at Strategy.OAuth2Strategy._createOAuthError (d:\dev_wksd\src-code\builderbook\node_modules\passport-oauth2\lib\strategy.js:40

[2019-12-12 20:12] 4asifm commented on #249
Also, I am at a loss to understand why do we need Github to store the books, isn't MongoDB already able to store the books?
Can I do without publishing the book on Github?

[2019-12-13 01:34] klyburke commented on #245
Updated the book text. No need to edit the code, since we soon replace the empty tag with `ThemeProvider`.

[2019-12-13 01:34] #245 closed

[2019-12-15 13:58] klyburke commented on #249
@4asifm Thanks for creating an issue. Could you please create a public repo with the exact code you are running? That way we can test it ourselves to identify any error.

[2019-12-16 02:09] callahanp commented on #249
Could this be what 4asifm is seeing:

git clone https://github.com/builderbook/builderbook.git.
Cloning into 'builderbook.git.'...
Username for 'https://github.com': pat.callahan1@gmail.com
Password for 'https://pat.callahan1@gmail.com@github.com':
remote: Repository not found.
fatal: repository 'https://github.com/builderbook/builderbook.git./' not found
pac1@spinnaker:/work$ git clone https://gi

[2019-12-16 02:27] 4asifm commented on #249
Unfortunately, it is not the same.

I was following this section on running it locally - [https://github.com/builderbook/builderbook#run-locally](url) - and could successfully git clone and complete the build stage.

I finished all the steps - and then tried adding a book -> as per [https://github.com/builderbook/builderbook#add-a-new-book](url)

I could then start the server locally when "yarn de

[2019-12-16 02:31] callahanp opened #250 "Chapter 1: eslint 6.5.1 is incompatible with node 10.5.0"
error eslint@6.5.1: The engine "node" is incompatible with this module. Expected version "^8.10.0 || ^10.13.0 || >=11.10.1". Got "10.5.0"
error Found incompatible module.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.

The text says to ignore warnings about upgrading, but this appears to be an error.  Is it?

I will make an attempt to use node version 10.1

[2019-12-16 03:47] callahanp opened #251 "Airbnb not being recognized from eslintrc in builderbook."
ESLint: Failed to load config "airbnb" to extend from. Referenced from: /work/builderbook/.eslintrc.js. Please see the 'ESLint' output channel for details.

ESLint output channel is attached
[eslint_output.txt](https://github.com/builderbook/builderbook/files/3965893/eslint_output.txt)

If you are not seeing this error, you have config-airbnb and config-airbnb-base installed in such a way that you

[2019-12-16 04:34] callahanp opened #252 "ESLint Example in the book is not working"
The text gives "This type of Eslint error is a result of Airbnb's format rule for arrow functions."

[1, 2, 3].map(function(x) {
  const y = x + 1;
  return x * y;
});

Pressing ctrl-s does not change the function to an arrow function as stated in the text.

linting seems to object only to the fact that the function has no name, not that a nameless function should be expressed as an arrow function

[2019-12-16 10:22] dbaeumer commented on #251
@callahanp this is pretty sure a working directory setup issue which should be simplified with the next version. Can you please retest this with the next version.

Please note that if you use a mono repository you will still need to configure working directories. I tried hard to get around this but it is not possible due to the fact that ESLint itself is very sensitive to this.

[2019-12-17 05:52] callahanp commented on #251
I'll leave it to the builderbook team to respond officially,  but I will do some testing with more current versions and get back to you if I have any success.  Can I assume that the fix will only work with vscode insiders and eslint 6.7.3 when released, or in the meantime, eslint from github?

[2019-12-17 20:20] klyburke commented on #249
@callahanp thanks for contributing.

@4asifm would you mind sharing a public repo with the exact code you are running?

[2019-12-19 21:36] tima101 commented on #251
@callahanp I will look into it this weekend. Last time I checked, both highlighting and auto-fixing worked for me in VS editor.

@NguyenDa18 @dbaeumer Does ESLint highlighting and auto-fixing work for you?

[2019-12-19 21:54] tima101 commented on #249
@4asifm Which chapter does have this problem? Final chapter or project at the root of this repo?

[2019-12-19 22:09] tima101 commented on #251
@callahanp Just tested again, `root project in this repo` and `chapter 8-end`, I see highlighting and auto-fixing working as expected.

I also tested `yarn lint` command, worked as it should as well.

Did you try removing `node_modules`/`yarn.lock` and re-installing dependencies?

---

@callahanp @dbaeumer ESLint works fine for this root project and book chapter projects without setting `eslint.wo

[2019-12-20 05:48] tima101 commented on #251
@callahanp Here is a link to code fixed by ESLint:
https://github.com/builderbook/builderbook/commit/ca591f4acbfcb8b3f7968f1edf0ee596700eaedb

[2019-12-20 06:52] delgermurun commented on #251
@callahanp I just tested too. ESLint error highlighting and auto fixing works fine on `vs-code`.
Tried removing `node_modules` and install again via `yarn`. It works fine too.

All dependencies installed locally, no globally installed `eslint` or any other related packages.

[2019-12-20 11:51] dbaeumer commented on #251
@tima101 two things you can do to improve this.

- Use the new `[{ "mode": "auto" }]` value for `eslint.workingDirectories`
- Use the new `{ "pattern": glob pattern }` pattern entry for `eslint.workingDirectories`

See also https://github.com/microsoft/vscode-eslint#settings-options

[2019-12-20 14:59] klyburke commented on #251
Highlighting and auto-fix are working for me too. I tested in `8-end` with the `.eslintrc.js` file at the root, not directly within the `8-end` folder.

---

However, I do see the issue brought up in #252 . An error is identified by Eslint, but when I click cmd+S, the function does not change. It looks like it's trying to change (quick flash of style), but it ends up staying the same.

This is in

[2019-12-20 15:40] dbaeumer commented on #251
@klyburke can you check if increasing the `editor.codeActionsOnSaveTimeout` value fixes it. The time eslint has in save to compute the fixes is limited and might not be enough for larger files. If this doesn't solve it can you fix all errors by executing the command `ESLint: Fix all auto fixable problems`. If this doesn't work can you provide me with a GitHub repository I can clone that demos this

[2019-12-20 19:00] tima101 commented on #251
@dbaeumer Could you please create pull request with edits to this file:
https://github.com/builderbook/builderbook/blob/master/.vscode/settings.json

I am not sure we need these settings but if these settings help @callahanp to resolve issues, we can merge them.

[2019-12-20 19:36] tima101 commented on #252
@callahanp Thank you for reporting. This block of code is not a good example.

All of the common ESLint errors that I tested get auto-fixed when file is saved.
But I found that this particular rule, `func-name` does not get auto-fixed.
Not in VS-editor and not on official ESLint website.

Here is a proof.

1. Go to VS editor. Remove semicolon from 4th line.
[code]

Save file and you will see that

[2019-12-20 19:37] tima101 commented on #251
@callahanp @klyburke @delgermurun @dbaeumer This what found about #252
https://github.com/builderbook/builderbook/issues/252#issuecomment-568060514

@callahanp Thank you for reporting!

[2019-12-20 19:59] klyburke commented on #250
@callahanp Thanks for reporting!

When using Node version 10.5.0 (as currently stated in Chapter 1 of Builder Book), I see the error you describe.

I tested `8-end` using the latest Node version that is recommended for most users: 12.14.0. I don't see any issue, so I will update the book to use 12.14.0.

[2019-12-20 20:04] #250 closed

[2019-12-20 21:23] tima101 commented on #252
@klyburke Please upgrade packages in chapter folders and book text in Chapter 1. Thanks.

[2019-12-20 23:52] callahanp commented on #251
Updated to Node 12.14.0
Updated VSCode to 1.41
cd builderbook  _# not builderbook/book/1-begin_
code ./
**builderbook.vscode/extensions.js:**
{
    "recommendations": [
        "dbaeumer.vscode-eslint"
    ]
}
**settings.json:**
{
  "window.zoomLevel": -1,
  "files.autoSave": "afterDelay",
  "git.enableSmartCommit": true,
  "editor.formatOnSave": true,
  "editor.codeActionsOnSave": {
    "source.f

[2019-12-20 23:52] #251 closed

[2019-12-21 00:29] callahanp commented on #252
Working as expected.

Visual Studio Code at 1.41.1
ESLint at 2.0.11
yarn run from the builderbook top level project directory.
code started from the builderbook top level project directory.

test case:
[1, 2, 3].map(function (x) {
  const y = x + 1;
  return x * y;
});
result:
[1, 2, 3].map((x) => {
    const y = x + 1;
    return x * y;
});
Note that prettier still wants to make the spacing two s

[2019-12-21 01:36] callahanp opened #253 "eslintrc sets max_len to 100. This invalidates the example given in the book"
Here's an example of code with an Eslint error for max-len:

var foo = { "bar": "This is a bar.", "baz": { "qux": "This is a qux" }, "difficult": "to read" };
And here's the same code without the max-len error:

var foo = {
  "bar": "This is a bar.",
  "baz": { "qux": "This is a qux" },
  "easier": "to read"
};

When I tried this code sample in the Visual Studio Editor, the length error was not fo

[2019-12-21 17:30] tima101 commented on #252
Re-opened till we make all edits.

[2019-12-21 17:44] klyburke commented on #252
@tima101 edited Chapter 1 text for the changes in Workspace settings and `.eslintrc.js`.

[2019-12-22 01:16] 4asifm commented on #249
Ok. Will try with Github_Test_ClientID and Github_Test_SecretKey and report back

[2019-12-22 13:59] klyburke commented on #253
@callahanp Thank you again for reporting. I see how this example can be misleading in the book, since our `estlintrc.js` file specifies a maximum line length of 100 characters, while the [official example by Eslint](https://eslint.org/docs/2.0.0/rules/max-len) specifies a maximum line length of 80 characters.

I think it is still useful to direct users to this official example. However, instead of

[2019-12-23 14:37] 4asifm commented on #249
I commented out Github_Live_ClientID and Github_Live_SecretKey.
So the .env file has only
Github_Test_ClientID ="--my specific-value"
Github_Test_SecretKey = "--my-specific-value"

I didn't change anything in the repo
when I run yarn dev, the application starts

When I go to Admin " Add Book -> I get this screen

![image](https://user-images.githubusercontent.com/7342520/71363645-c24e6c00-2567-11e

[2019-12-23 15:09] 4asifm commented on #249
This is the console log

deserializeUser 5df28cc564179f3f8c49c6b5
deserializeUser 5df28cc564179f3f8c49c6b5
TokenError: Malformed auth code.
    at Strategy.OAuth2Strategy.parseErrorResponse (D:\dev_wksd\src-code\builderbook\node_modules\passport-oauth2\lib\strategy
.js:358:12)
    at Strategy.OAuth2Strategy._createOAuthError (D:\dev_wksd\src-code\builderbook\node_modules\passport-oauth2\lib\strate

[2019-12-23 17:30] tima101 commented on #249
@4asifm Hmm. No problem at all, I don't mind looking into this.

It works for me. If you and me have the same code than something is wrong with env vars.

1. Please check up that you have proper `Authorization callback URL`:
![Screenshot from 2019-12-23 09-24-09](https://user-images.githubusercontent.com/10218864/71371457-0e98ac80-2566-11ea-9b00-20f38ee36366.png)

Since in your original post you s

[2020-01-07 12:35] harshdoshi999 opened #254 "Login with passport('local') does not work and componentDidMount does not call at all in AWS ec2 server"
Hello,
I am using the builderbook boilerplate to create some demo but apparently after deploying it to aws ec2 server, componentDidMount does not work. Also local login with passport does not work. After login, I can see session data in mongodb but req.user is still udefined. However this works well in my localhost.

Also, there are few additional data I'm fetching in componentDidMount which also

[2020-01-07 15:23] harshdoshi999 commented on #254
Login issue solved as I moved from HTTP to HTTPS. But component issue is still not able to resolve.

[2020-01-08 19:14] tima101 commented on #254
@harshdoshi999 Unfortunately I can't help since you modified the code.

If you have problem with **unmodified** code, please share code in public repo and provide detailed steps on how to reproduce the problem.

[2020-01-20 09:03] kebra-team opened #255 "Internal server error on login after deployment to heroku"
Hi,

I am having an issue, when I run the app and try to login in through google, I get an internal server error with the following output in logs:

2020-01-20T09:02:21.341452+00:00 app[web.1]:     at Strategy.OAuth2Strategy.parseErrorResponse (/app/node_modules/passport-oauth2/lib/strategy.js:358:12)
2020-01-20T09:02:21.341454+00:00 app[web.1]:     at Strategy.OAuth2Strategy._createOAuthError (/a

[2020-01-24 18:21] brillout opened #256 "Wildcard instead of Express controllers?"
Hi!

I'm curious, what do you think of using [Wildcard API](https://github.com/reframejs/wildcard-api#readme) instead of implementing Express routes?

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #256</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/256.png" alt="Single issue hill" class="s3-image" width="100%" /></div></det

[2020-01-29 22:38] tima101 commented on #255
@kebra-team Does this help?

https://stackoverflow.com/questions/51226112/error-at-strategy-oauth2strategy-parseerrorresponse-nodejs-passport-google-oau

[2020-01-29 22:50] tima101 commented on #256
@brillout Does it replace Express or used alongside Express?

To me using Express routes is straightforward.

How does Wildcard save time?
API method + Express route vs Wildcard method + Express route?
If so, not much reason to use.

@delgermurun What do you think?

[2020-01-30 05:06] delgermurun commented on #256
Sorry, I don't see any advantages of using Wildcard (conclusion after reading README).
Just another way of setting server API, but couldn't see any extra value.

[2020-02-05 22:34] brillout commented on #256
Wildcard suports SSR and TypeScript which are difficult to achieve with API routes alone. But okay, Builder Book doesn't use either or.

Beyond SSR and TypeScript Wildcard takes care of the boilerplate:
- It automatically shows error only in dev, errors are never shown to the browser in prod.
- HTTP is fully abstracted away; no need to fiddle around with HTTP status codes nor serialization.
- Seri

[2020-02-09 16:05] victorray84 commented on #252
ESLint couldn't find the config "airbnb" to extend from.  I'm getting the following error:

Oops! Something went wrong! :(

ESLint: 6.1.0.

ESLint couldn't find the config "airbnb" to extend from. Please check that the name of the config is correct.

[2020-02-09 18:54] tima101 commented on #252
@victorray84 Hi. Have you followed these steps:
https://github.com/builderbook/builderbook/issues/252#issuecomment-568060514

?

[2020-02-10 09:56] victorray84 commented on #252
Yes, I've followed the steps. Still getting the same error.

[2020-02-11 21:47] klyburke commented on #252
@victorray84 , thanks for reporting. I'll need more information to figure out the problem.

- Are you running code in one of the book folders? If so, which one?
- When you get this error, what command are you trying to run?
- Have you pulled all latest changes from our repo? And then did you re-run the 'yarn' command? You might have an older package that needs to be updated.

[2020-02-12 08:44] victorray84 commented on #252
Hi, Thanks for ur reply. The comments are given below:
1. I'm running the code from 1-Begin folder according to the book
2. I was getting the error after running the yarn lint command.
3. I've deleted the both node_modules and yarn.lock file and take the latest pull. I'm still getting the above mentioned error.

[2020-02-13 04:16] delgermurun commented on #252
Hello @victorray84

Did you try to run `yarn lint` inside `book/1-begin` folder? If so, it will not work because there is no `lint` command inside `book/1-begin/package.json`'s `scripts`.

I've cloned fresh new code from this repo. And gone to `book/1-begin` folder and installed dependencies (`yarn install`).

I have Yarn v1.21.1 installed and I tried `yarn lint` inside `book/1-begin` it gives me

[2020-02-13 07:09] victorray84 commented on #252
Hi,
   Thanks for ur reply. I think u should update the book with latest dependencies. Now, it's working.

[2020-02-14 01:38] klyburke commented on #252
@victorray84  Thank you again for bringing up this issue. I realized that Chapter 1 listed older packages for `package.json`. I've updated the book text to list the latest packages we are using in the book.

[2020-02-15 14:29] #252 closed

[2020-04-25 19:19] kebra-team opened #297 "Stripe - migrate from the legacy version of Checkout to the new version."
Hi fellow builders,

Recently Stripe have introduced a new version of checkout to comply with EU online payment regulations.

(https://stripe.com/docs/payments/checkout/migration)

Could we discuss the best way to refactor code to make use of this update?

Thanks

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #297</b></summary>
      <div><img src="https://async-github-hills.s3.

[2020-04-28 01:11] delgermurun commented on #297
Hello @kebra-team,

Yeah, we noticed that Stripe released a new version of the checkout.
And we planning to upgrade using https://github.com/stripe/react-stripe-js.

Not sure about the timeline. If you want it sooner, PR is always welcome :).

Thank you!

[2020-04-28 06:56] kebra-team commented on #297
Hello @delgermurun,

I have taken a look at the stripe documentation and experimented with a few implementations. The existing codebase is quite different from stripes. It is not very clear how to refactor the code without breaking the code.

Any suggestions would be appreciated.

[2020-04-29 05:58] delgermurun commented on #297
Hi @kebra-team,

Yeah, I am not an expert on Stripe area too and it is implemented quite a while ago.
Things have changed since then (our used checkout version turned out legacy one), maybe including patterns too.

So I've no suggestions, sorry.

Thank you!

[2020-05-08 13:17] mrhanson3 opened #298 "UnhandledPromiseRejectionWarning: MongoParseError: Invalid connection string"
I'm in chapter 2 and I can't get the connection to work. I even cut and paste all of the code at the end of chapter 2. I've tried changing my password to not include special characters.
Here's a screen shot of what happens:
<img width="969" alt="Screen Shot 2020-05-08 at 9 13 47 AM" src="https://user-images.githubusercontent.com/20564536/81409012-4dda2b00-910c-11ea-8505-0ec070ee91e0.png">
Please l

[2020-05-08 16:27] tima101 commented on #298
@mrhanson3 Hey, have you tried searching issues in this repo?

- One reason may be is that your `password` inside `MONGO_URL_TEST` may have special characters. For example, `@` has to be replaced with `%40`.
- Check if your database is publicly available (Whitelist IP address 0.0.0.0/0)

If the above does not work, please create public repo with your exact code that does throw error. And I will ta

[2020-05-08 17:57] mrhanson3 commented on #298
I looked on the repo and couldn't figure out the issue. I tried the above and it didn't work. Here's my repo: https://github.com/mrhanson3/Building

[2020-05-08 19:07] mrhanson3 commented on #298
Sorry, I forgot to include @tima101.

[2020-05-09 13:51] tima101 commented on #298
@mrhanson3 I looked into your code.

Problem 1.

The ontent of file:
https://github.com/mrhanson3/Building/blob/master/pages/_document.js

should be:
https://github.com/builderbook/builderbook/blob/master/pages/_document.js

But in your repo, content is from:
https://github.com/builderbook/builderbook/blob/master/pages/_app.js

Problem 2. Page file's name must be `index.js`, currently it is `Index

[2020-05-09 13:52] tima101 commented on #298
@klyburke Please update both content and code to have these two changes starting from `2-end`:

[code]

[code]

[2020-05-09 17:53] mrhanson3 commented on #298
Hey @tima101 - You're right, I did have Index.js instead of index.js, and I had the wrong content in _document.js.
The _document.js that you sent isn't from Chapter 2, which is where I am: https://github.com/builderbook/builderbook/blob/master/book/2-end/pages/_document.js
So it doesn't work.

That's part of my continuing confusion. I've taken care of these two:
- One reason may be is that your pa

[2020-05-09 18:47] mrhanson3 commented on #298
<img width="1089" alt="Screen Shot 2020-05-09 at 2 44 56 PM" src="https://user-images.githubusercontent.com/20564536/81482258-b22be600-9203-11ea-9057-d56415680c6c.png">
Here's the issue that I'm still getting after cutting and pasting all of the end of Chapter 2. I changed my password so that it doesn't have special characters. I made sure it was white listed as well with 0.0.0.0/0.
I've taken the

[2020-05-10 15:36] klyburke commented on #298
@tima101 Regarding updates to the book text and code starting from the `2-end` folder:

(1) I updated `app.js` to include the extra line: `useUnifiedTopology: true,`

(2) Towards the end of Chapter 8, in section [Deploy App --> NODE_ENV, ROOT_URL, MONGO_URL](https://builderbook.org/books/builder-book/buybutton-component-buy-book-logic-readchapter-page-checkout-flow-mybooks-page-mailchimp-api-deplo

[2020-05-10 16:35] tima101 commented on #298
@mrhanson3 Ok, just to be clear your code worked as expected with my environmental variables after fixing your typos.

---

I looked at your updated code that has public `.env` file.

Again, I found two typos:

- The value for `MONGO_URL_TEST` has some weird symbol instead of double quotes at the end of string. This results in
[code]
Here is snapshot explaining:
![Screenshot from 2020-05-10 09-24-

[2020-05-11 11:23] mrhanson3 commented on #298
Thank you so much @tima101. I didn't know to change a file name, I had to do it on Github, not just in my repo. It's strange, I have those files in .gitignore, but they aren't being ignored. I'll look into it. Or perhaps I'll start over. Either way, I really appreciate the help and I'll definitely buy the next book as well.

[2020-05-11 11:23] #298 closed

[2020-05-11 14:52] mrhanson3 opened #299 "In the book 1 begin folder index.js is Index.js"
At least it is in the one I downloaded. Even if you change the name in, you have to go to your Github account and change it manually. No big deal. Just a heads up.

[2020-05-11 17:38] klyburke commented on #299
Hi @mohammadameer , thank you for reporting.

Could you please show us exactly where you see `Index.js` instead of `index.js`? I looked at the [1-begin](https://github.com/builderbook/builderbook/tree/master/book/1-begin) and [1-end](https://github.com/builderbook/builderbook/tree/master/book/1-end/pages) folders. I also searched the book text. I did not find an instance of `Index.js` with a capit

[2020-05-11 17:41] mrhanson3 commented on #299
I thought it was from my pull from Github, but I'm probably wrong. Will close now.

[2020-05-11 17:41] #299 closed

[2020-05-20 19:00] matchatype opened #300 "Chapter 2: Opportunity of SSR with user data"
I'm following along with the book and maybe I'll get an answer later on to this question: what is the opportunity of using `getInitialProps` with user data? This is probably data that doesn't need to be fetched ahead of time and it additionally will increase the time to first byte, resulting in a sub-optimal user experience. Finally, it doesn't seem to be necessary to call `getInitialProps` at the

[2020-05-21 00:12] matchatype commented on #300
The choice seems even less convincing by the end of the chapter, where you pass the whole user object via query parameter. This seems to be pretty wrong to me, considering data returned from `getInitialProps` is serialized when server rendering, and this is simply doesn't work with the user object, which contains a `Date` type, which is not serializable.

[2020-05-30 21:27] plug-n-play opened #302 "Feature request | Home Page"
Feature request: Add hyper-links to chapter-topics which when clicked opens the respective section
![image](https://user-images.githubusercontent.com/6245927/83339329-76f47280-a2ea-11ea-8514-b45841647cc3.png)

Currently hyperlinks are only available on chapter heading

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #302</b></summary>
      <div><img src="https://async-github-hill

[2020-05-31 00:06] VarunRustomji opened #303 "Trouble Connecting to MongoDB"
Hey guys, I'm trying to connect my app to Atlas as mentioned in the second chapter.

This is what my code looks like.

[code]

In the terminal I can see Connected but when I check my Atlast Collections I don't see `test` there.

The code in my .evn file is :
`MONGO_URL_TEST="mongodb+srv://dbUser:<pswd>@cluster0-funxr.mongodb.net/test?retryWrites=true"`

I'm not being able to figure out what is cau

[2020-05-31 05:30] tima101 commented on #302
@plug-n-play I don't see problem with that. Thanks.

@delgermurun Would you take it? I am working on saas boilerplate.

[2020-05-31 05:38] tima101 commented on #303
@VarunRustomji Hi. Have you searched closed issues in this repo?

For example,
- One reason may be is that your password inside MONGO_URL_TEST may have special characters. For example, @ has to be replaced with %40. Either don't use special characters or escape them.
- Check if your database is publicly available (Whitelist IP address 0.0.0.0/0). This is a setting on MongoDB Atlas dashboard.

---

[2020-05-31 05:57] VarunRustomji commented on #303
I did look at the closed issues. I don't have much to go by because I don't see any errors in connecting but for some reason  I don't see `test` in my `Cluster0 collections`.

I don't have any issues with the URL, my password only has letters and I whitelisted my IP address as well as 0.0.0.0/0 but that didn't change anything.

As you can see from the code below, I concluded that I connect properl

[2020-05-31 06:46] tima101 commented on #303
@VarunRustomji In the rest of your code, do you do any CRUD operation in the database? If I remember it correctly, you need some operation, for example, saving `EmailTemplate` docs to database:

https://github.com/builderbook/builderbook/blob/efca7c9d694c0e29a82b57c3d48ec7d008c3143f/server/models/EmailTemplate.js#L67

[2020-05-31 06:54] VarunRustomji commented on #303
I don't perform any CRUD operations yet. I have only reached chapter 2 database testing :

https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#testing-connection

The only model created so far is for is User and even that I am not using yet. I don't really know how to perform a crud operation just yet.

 My server/app.js looks like this :
[code]

[2020-05-31 07:03] tima101 commented on #303
@VarunRustomji I will check tomorrow if database gets created on the first connection or with first operation. I wonder if default behavior has changed in MongoDB Atlas.

[2020-05-31 07:07] VarunRustomji commented on #303
Sounds good,
I'll be looking forward to your response tomorrow. I'm really looking forward to fixing this and moving on. By the way the book is really great and thank you for your swift response.

Thank you!

[2020-05-31 15:01] klyburke commented on #302
thanks for the suggestions @plug-n-play

@delgermurun If possible, I would keep the section and subsection words white like they are now. But when you hover over them, they looked shaded and therefore clickable.

It's good to have visual distinction between the chapter title (blue) and section/subsections (white).

[2020-05-31 20:12] tima101 commented on #303
@VarunRustomji I ran a test. I took code from Chapter 2 and added env variable to `.env` file:
[code]

Then I started server and checked my MongoDB Atlas dashboard, indeed database with name `local-builderbook-1` was automatically created on successful connection (no need for any CRUD API operation):

![Screenshot from 2020-05-31 13-01-50](https://user-images.githubusercontent.com/10218864/8336166

[2020-05-31 20:41] VarunRustomji commented on #303
Hey @tima101 ,

I created a private repo that you can check [here](https://github.com/VarunRustomji/dbTest) .

I am sure I'm looking at the correct project because I only have 1 project with 1 cluster. I have attached an image in the readme there.

[2020-05-31 22:18] tima101 commented on #303
@VarunRustomji I looked at your code. You need to move `models` folder inside `server` folder.

Regardless of `models` folder being in the wrong location, I was wrong about when database gets created, connection alone is not enough for creating database.

You need to either:
- import `User` model to `server/app.js` (creates empty `users` collection)
- or have code-related to session inside `server

[2020-05-31 22:31] VarunRustomji commented on #303
Hi @tima101 ,
I made the changes like you suggested and that fixed the issues.
Thank you for your swift and prompt replies.

I really appreciate it,
Cheers!

[2020-05-31 22:31] #303 closed

[2020-05-31 22:37] klyburke commented on #303
Thanks again @VarunRustomji !

The text in Chapter-2, section [testing connection](https://builderbook.org/books/builder-book/server-database-session-header-and-menudrop-components#testing-connection) is now updated. Snapshots will be updated soon.

[2020-06-01 16:55] tima101 commented on #302
@plug-n-play Yesterday I thought more about this change. Do you use it for navigation in the book?

Is there any reason why you prefer table of content on the homepage vs table of content on the left of the chapter page?

![Screenshot from 2020-06-01 09-54-17](https://user-images.githubusercontent.com/10218864/83432604-f4ed7200-a3ed-11ea-952e-9994eee58628.png)

[2020-06-01 18:23] plug-n-play commented on #302
The left Nav should stay as is. This feature however, IMHO, would make this app a little more accessible.

[2020-06-02 00:29] delgermurun commented on #302
@plug-n-play thanks for the suggestion. I am going to work on it shortly.

[2020-06-02 19:56] mrhanson3 opened #304 "Edit in Ch. 3"
"Next.js uses getInitialProps() to **populate not populates** data to a component's props."

NBD. Love the builderbook.

[2020-06-03 00:36] klyburke commented on #304
Thanks @mrhanson3 ! Fixed it.

[2020-06-03 00:36] #304 closed

[2020-06-03 12:40] mrhanson3 opened #305 "Ch. 3 Nprogress.css"
http://ricostacruz.com/nprogress/nprogress.css isn't working right now.

It can be found here: https://unpkg.com/nprogress@0.2.0/nprogress.css

Just an FYI.

[2020-06-03 12:49] #305 closed

[2020-06-03 12:49] mrhanson3 commented on #305
Doesn't really matter I guess. :)

[2020-06-13 23:57] dotnetCarpenter opened #306 "Use Masonry layout for Book Reviews"
On the [front page](https://builderbook.org), IMHO it looks a lot better to use CSS grid instead of Flexbox. It's an easy fix.

Remove all of the flexbox stuff, e.g. `MuiGrid-grid-xs-12 MuiGrid-grid-sm-6 MuiGrid-grid-md-4 MuiGrid-grid-lg-4` classes.

Change CSS class `MuiGrid-container` (or create a new class), that has the following CSS:
[code]

On each child `<div>` you add a class that has the

[2020-06-15 18:31] klyburke commented on #306
@dotnetCarpenter Thanks for the suggestion! Snapshots are very helpful. It looks good, so I will try it out.

[2020-07-28 00:36] kebra-team commented on #297
Thanks

[2020-07-28 00:36] #297 closed

[2020-07-28 00:37] kebra-team commented on #255
Thanks

[2020-07-28 00:37] #255 closed

[2020-07-30 23:52] elevenetc opened #352 "Is the project alive?"
It is promoted that dependencies are updated:
[code]
But there're 5 months old 84 PRs right now from dependencies bot.

[2020-08-10 15:36] mrhanson3 commented on #203
I'm having that issue now.

[2020-08-11 21:45] mrhanson3 opened #355 "MongoTimeoutError"
I can't get my app to connect to Mongodb.

Here's my .env: MONGO_URL_TEST='mongodb+srv://@cluster0.hw7uo.mongodb.net/test?retryWrites=true&w=majority'

Let me know what else you need. Thanks in advance.

[2020-08-11 22:41] klyburke commented on #352
Hi @elevenetc, the project is alive. This repo will get a major update by the end of September. We will then update all dependencies every 6 months.

[2020-08-11 22:44] #352 closed

[2020-08-11 23:10] tima101 commented on #352
@elevenetc Thanks for pointing this out. If you use this open source project for something critical and you see that bots recommend bumping versions due to security reasons - it should be your responsibility to bump versions to fix security issues. We do not upgrade to latest versions right away. I will be reviewing code and upgrading packages sometime in September 2020 and then every 6 months.

@

[2020-08-12 09:54] #355 closed

[2020-08-12 17:49] mrhanson3 opened #356 "Your .env file for Google OAuth"
"If you look at the .env file, you will see that we provided you with sample Google_clientID and Google_clientSecret values. These keys are working; however, we strongly encourage you create your own keys. We may remove the sample keys without notice, and you should learn how to create credentials at Google Cloud Platform."

This is from the end of Ch. 3, and I can't find the .env file that you're

[2020-08-12 23:49] mrhanson3 commented on #356
Never mind. You clearly removed them without notice. The problem is that you have to sign-up for Google Cloud Platform and there's a cost, so I'm just going to skip that step this time around.

[2020-08-12 23:49] #356 closed

[2020-08-16 17:48] klyburke opened #357 "Add new way to set environment variables"
Let's follow the new way to set environment variables per the Next.js docs:
https://nextjs.org/blog/next-9-4#new-environment-variables-support

<p/><hr/><details>
      <summary>Click to see <b>Hill for issue #357</b></summary>
      <div><img src="https://async-github-hills.s3.amazonaws.com/builderbook-builderbook/357.png" alt="Single issue hill" class="s3-image" width="100%" /></div></details>

[2020-08-20 16:05] olumide025 opened #358 "Chapter 1 - eslint (deprecation and couldn't find the config "airbnb" to extend from)"
first - The old eslint.autoFixOnSave setting is now deprecated and can safely be removed. this creates confusion
second - couldn't get "eslint pages" to work nor when use "ctrl + s"

in the scripts:
"scripts": {
    "dev": "next",
    "build": "next build",
    "start": "next start",
    "lint": "eslint pages"
  },

cmd

![image](https://user-images.githubusercontent.com/66317334/90796472-6b7c7a80

[2020-08-21 03:57] tima101 opened #359 "Refactor (codebase and content) - Done!"
**Important**: The buy button for Builder Book (first book) is disabled until we are done with refactor. You can still buy our second book, SaaS Boilerplate.

---

Done so far:
- removed now.json and script commands (8-end code) - add to content!
- upgraded all packages, added Stripe package for client-side, `node-fetch` for Mailchimp API (8-end code) - update content
- added `next.config.js` (8-e

[2020-08-21 04:00] tima101 commented on #358
@tunde-ig I am working on upgrading entire codebase now: #359

I will look into your issue once I am done.

[2020-08-21 07:07] nsebhastian commented on #231
hi @tima101 I just want to confirm with you if it's possible to drop Express and replace its functionality with Next's API routes? Because I want to try and deploy builderbook to Vercel instead of Heroku and Vercel doesn't support custom server

[2020-08-25 15:18] mathisrenier opened #376 "Chapter 1 - yarn build raises an error."
Hello,

Yarn build returns an error on my machine. Here is what I get:

![Screen Shot 2020-08-25 at 11 14 03 AM](https://user-images.githubusercontent.com/47047826/91192612-2364ab80-e6c4-11ea-9ceb-3d5f7e1a5c90.png)

I tried adding dotenv, building 1-end and changing the dependencies' versions to those of 8-end, but none of that worked.

What am I missing?

<p/><hr/><details>
      <summary>Click t

[2020-08-25 18:23] mathisrenier commented on #376
I commented out `require('dotenv').config();` in the file next.config.js and it seems to work.

[2020-08-25 18:46] tima101 commented on #376
@mathisrenier Thanks for reporting solution.

I believe we don't have `next.config.js` file in `book/1-end` at this moment. Are you following instructions in chapter 1 or modifying project outside the scope of the book?

[2020-08-25 19:03] mathisrenier commented on #376
@tima101 I am following instructions. I only have `1-begin` open in VSCode but somehow next must have had access to the parent folder.

[2020-08-26 04:54] tima101 commented on #376
@mathisrenier Got it. Thanks.

Another reason, besides ESLint and confusion, to put main project in this repo into separate directory.

[2020-08-27 03:11] TuhinNair opened #377 "RangeError: Stack Overflow when trying to run ts-node-dev in Chapter 3"
In Chapter 3, on running the updated `yarn dev` command for ts-node-dev the following error shows up.

![image](https://user-images.githubusercontent.com/59875893/91379581-3a82d500-e84d-11ea-8794-8c8450ffa448.png)

OS: Ubuntu 20.4

tsconfig.server.json:
![image](https://user-images.githubusercontent.com/59875893/91379669-6900b000-e84d-11ea-855f-adba4dd283fc.png)

server/server.ts:
![image](https:/

[2020-08-27 05:57] tima101 commented on #377
@TuhinNair Please create this issue at https://github.com/async-labs/saas/issues

I will look into it tomorrow

[2020-08-27 06:27] TuhinNair commented on #377
Oops, didn't realize there was another repo. Sorry and thanks @tima101

[2020-08-27 06:32] #377 closed

[2020-09-05 11:31] mrhanson3 opened #380 "Where does this SESSION_SECRET= come from again?"
I had to blow up my project and I can't seem to find it anywhere in the book. Apologies for being a pain.

[2020-09-07 14:14] #380 closed

[2020-09-09 16:57] tima101 commented on #380
@mrhanson3 You make this value by yourself in accordance with https://github.com/expressjs/session#secret

[2020-09-10 18:49] klyburke commented on #306
@dotnetCarpenter Thank you again for the suggestion and sorry for the long wait. We updated our reviews page like you described. It looks great!

https://builderbook.org/book-reviews

[2020-09-10 18:56] #306 closed

[2020-12-16 06:33] tima101 commented on #376
@mathisrenier We made many updates to codebases. Please let me know if you still have problem here.

[2020-12-16 06:34] #358 closed

[2020-12-16 06:35] tima101 commented on #357
@klyburke This should be in the next major update. We should create a separate issue where we collect tasks like you proposed here. Like I did here: https://github.com/async-labs/saas/issues/139

[2020-12-16 06:36] #253 closed

[2020-12-16 06:37] #216 closed

[2020-12-16 06:38] tima101 commented on #118
@klyburke This is done in latest update to the codebase.

[2020-12-16 06:38] #118 closed

[2020-12-16 06:39] #176 closed

[2020-12-16 06:40] tima101 commented on #211
@icruzr93 I have no time to add or maintain it! Sorry.

[2020-12-16 06:40] #211 closed

[2020-12-16 06:40] #214 closed

[2020-12-16 06:40] #220 closed

[2020-12-16 06:41] #223 closed

[2020-12-16 06:42] tima101 commented on #256
I have no opinion here.

[2020-12-16 06:42] #256 closed

[2020-12-16 06:42] #254 closed

[2020-12-16 06:42] #249 closed

[2020-12-16 06:42] #231 closed

[2020-12-16 06:44] tima101 commented on #230
@callahanp If this is still relevant, would you please clarify your question? Please make sure you check book since content got a major update.

[2020-12-16 06:45] #229 closed

[2020-12-16 06:45] #226 closed

[2020-12-16 06:45] #224 closed

[2020-12-16 06:47] tima101 commented on #302
@plug-n-play This was done while ago. Thanks for suggestion!

[2020-12-16 06:47] #302 closed

[2020-12-16 06:49] tima101 commented on #300
@matchatype I removed `MyApp.getInitialProps` method, it was not necessary and it was making all pages to be server-side rendered. Thanks!

[2020-12-16 06:49] #300 closed

[2020-12-28 00:53] mathisrenier commented on #376
I cloned the updated codebase and yarn build works perfectly now.

[2020-12-28 00:53] #376 closed

[2020-12-28 01:08] mathisrenier opened #438 "ESLint auto format isn't working properly"
I have cloned the new codebase and created a test.jsx file in 1-end, similar to the one described in the book.

[1, 2, 3].map(function (x) {
    const y = x + 1;
    return x * y;
  });

Hitting Ctrl+s corrects the tabs spacing and adds a new line after the bloc of code, but the function isn't formatted to an arrow function. I still get a warning "Unexpected unnamed function".

[2020-12-28 13:04] klyburke commented on #438
@mathisrenier Thanks for reporting. We are looking into this issue and a good fix.

In the meantime, you can take a look at #434 by @johnmalcolm.

[2020-12-28 20:09] klyburke commented on #438
@mathisrenier This has now been resolved by #439 by @johnmalcolm

[2020-12-29 17:14] mathisrenier commented on #438
Great thanks!

[2020-12-29 17:14] #438 closed

[2021-01-02 22:11] bdavi opened #440 "Discussion: Enable context menu?"
I often use the context menu to highlight and then search for unfamiliar terms.

Disabling it requires that I fight against my muscle memory and since this is study material I find myself doing it a lot.

I'm wondering if I can get some clarity about the argument in favor of disabling the context menu for people who have purchased the book.

[2021-01-05 03:19] bdavi commented on #440
Lol. I can't decide if I was just imagining the context menu was disabled or if you re-enabled it.

Either way, THANKS! I'm enjoying the book.

[2021-01-05 04:27] #440 closed

[2021-01-05 04:34] klyburke commented on #440
@bdavi You were correct with your first comment :) We just updated the code.

We originally disabled the right-click context menu, because we've seen cases where our paywalled content was copied to distribute for free on other websites. We wanted to help avoid this copying; however, we realized that lowering the quality of the reading experience for others is not worth it.

Thanks for bringing it

[2021-01-06 02:02] bdavi commented on #440
@klyburke Hey that's great thanks! Hopefully, content protection won't be an issue.

[2021-01-15 18:27] tizzleh opened #441 ""oauthLoginUrl is not a function""
I've been following along until Ch.6 when I ran into a problem authenticating GitHub. When I click the "Connect Github" button it fails with the screenshot below.

Out of frustration, I pulled ```7-begin```, ran ```yarn```, and after pasting in my ```.env``` credentials I still get the same error.

Hoping someone smarter than me can point me in the right direction. I just don't know enough to debu

[2021-01-17 05:25] #441 closed

[2021-01-20 07:31] huyenNguyen20 opened #442 "Chapter 1 - 'lint' script doesn't work"
Hi,
When I added "lint": "eslint '**/*.js' '**/*.jsx' " to package.json, and then ran yarn lint. The following error occured.
I tried to look it up, but it didn't help.
[code]

[2021-01-24 17:22] klyburke commented on #442
@huyenNguyen20 Thanks for reporting. I think I see the problem.

Try changing the command in `package.json` to:
[code]

It seems that you are in Chapter 1 of the book. At that point, there are no `.js` files, only `.jsx`, so that must be causing the error in finding `"'**/*.js'"` files to lint.

Let me know if this works for you, or if you see other errors. We will update the book code and text.

[2021-01-30 15:05] klyburke commented on #442
@huyenNguyen20 I updated the book text so this error should not come up. Thank you again for reporting!

[2021-01-30 15:05] #442 closed

[2021-02-13 06:51] olumide025 opened #444 "Chapter 3"
-------Testing withAuth-------------

This isn't working - user is passed to withAuth HOC on the serve not index.js page on the client right?

server.get('/', async (req, res) => {
  const user = await User.findOne({ slug: 'team-builder-book' });
  app.render(req, res, '/', { user });
});

---------this below is working:  --------------------
server.get('/', (req, res) => {
  User.findOne({ slug:

[2021-02-13 21:52] tima101 commented on #444
@olumide025  Method `User.findOne` returns `Promise`. `async/await` is just syntactic sugar for `Promise.then`. Check up this section:

https://builderbook.org/books/builder-book/authentication-hoc-getinitialprops-method-login-page-and-nprogress-asynchronous-execution-promise-then-async-await-google-oauth-api-infrastructure-setupgoogle-verify-passport-strategy-express-routes-auth-google-oauth2call

[2021-02-13 22:31] tima101 commented on #444
@olumide025 I ran code and you are right about
[code]

Because inside `withAuth`:
[code]

Since on the server, I called `app.render` like this:
[code]

I meant to define `user` inside `withAuth` HOC using `ctx.query` instead of `ctx.req.user`:
[code]

In Chapter 2, indeed, I defined page's `user` as `ctx.query.user`. However, in Chapter 3, I am gonna fix Express route by using `req.user = user` li

[2021-02-16 15:03] #444 closed

[2021-02-16 15:04] #230 closed

[2021-03-07 01:15] taejin17 opened #445 "Chapter 5: Server Error (Book not found)"
After implementing all of the code and MongoDB documents, I ran localhost:8000/books/dummy-3/introduction and got a Server Error. The error was the following: Book not found. On Mac OS by the way. I've been trying everything, but can't seem to figure out a solution. I've made sure I created the corresponding MongoDB documents for books (dummy-1, dummy-2, dummy-3) along with the MongoDB document fo

[2021-03-08 18:31] tima101 commented on #445
@taejin17 Let's investigate.
- Are you able to get any data from your database? For example `User`data? Did you add CIDR 0.0.0.0/0 that allows access from anywhere?
- Are you able to fetch data from database by using exact codebase from `book/5-end`?

[2021-03-08 22:22] taejin17 commented on #445
I can get the user data as the book list (dummy-1, dummy-2, dummy-3). When I run up to http://localhost:8000/books/dummy-3 is just get a 404 error, but when I add http://localhost:8000/books/dummy-3/introduction is when I'm getting the server book not found error. I added CIDR 0.0.0.0/0 but it still couldn't fetch the data. I tried running the exact codebase from 5-end but had not success either w

[2021-03-09 21:09] tima101 commented on #445
@taejin17 I will check `book/5-end` later today. I will update this comment after that.

[2021-03-10 02:11] taejin17 commented on #445
Replacing req with ctx worked for me. Thank you so much!

[2021-03-10 02:11] #445 closed

[2021-04-03 08:11] wozboz opened #446 "Github Connection not working - Chapter 6"
Hi,

the Github Connection is not working at all in chapter 6. It doesn't matter if I try to do it myself in the 6-begin Folder, or if I run yarn in the 6-end folder and copy over my .env file.

I have fixed one error, which was to change `const { oauthLoginUrl } = require('@octokit/oauth-authorization-url');` to `const { oauthAuthorizationUrl } = require('@octokit/oauth-authorization-url');`.
Unf

[2021-04-04 03:38] tima101 commented on #446
@wozboz I will check 6-end codebase tomorrow morning PST, perhaps GitHub's API have changed. Thanks for reporting.

[2021-04-05 11:15] wozboz commented on #446
Hi, thanks for the quick response!

I found the error, and it was on my part. After printing the response i got from github, I noticed that it said the clientid/clientsecret are wrong. That was it: i had a whitespace in the secret key that I did not see for some reason.
So everything all right, got it fixed. Sorry for the confusion, at least I could point out the error with oAuthLoginUrl.

Is ther

[2021-04-05 11:15] #446 closed

[2021-04-05 14:50] tima101 commented on #446
@tima101 Thanks for reporting. I don't mind issues at GitHub, they work well for book improvements. You are welcome to email us about partial refund for helping with `oauthAuthorizationUrl`.

[2021-04-09 11:39] wozboz opened #447 "Chapter 8 - "@stripe/stripe-js":"^1.13.2" missing from package.json"
Hi guys,

it's me again ;) I was just going throught Chapter 8 and could not get the BuyButton to work.
Long story short: the line `"@stripe/stripe-js":"^1.13.2"` is missing in the package.json of 8-begin.

[2021-04-10 14:00] klyburke commented on #447
Thanks @wozboz ! You are correct that the `@stripe/stripe-js` package was missing from package.json of 8-begin. I will add it.

For now, we are using version 1.9.0 and have ensured that this version is working in both of our books. We review our books for updates around May and November every year. In our update next month, we will look into the latest version.

[2021-04-11 14:45] #447 closed

[2021-05-19 15:49] #357 closed

[2021-05-19 15:49] tima101 opened #448 "Upcoming updates May 2021 (Done)"
- [x] `builderbook`: self-hosted fonts: using font from `public` folder for SSR page, using font from Cloudfront for CSR page (update Chapter 9)
- [x] `builderbook` icons from `@material-ui/icons` (update Chapter 9)
- [x] `builderbook`: update theme; styles for `body`, `a`, `Login` page, `Button`, `Header`
- [x] `builderbook`: next v10, environmental variables: universal and server-only  (update C

[2021-05-19 15:50] tima101 commented on #357
@klyburke Will do it as part of https://github.com/async-labs/builderbook/issues/448

[2021-06-01 17:53] klyburke commented on #448
@tima101 I tested the main app in `builderbook/builderbook` folder. Features work as expected.

[2021-06-01 20:26] satheeshrajar opened #449 "BookBuilder Chapter 1 ( 1-Begin)"
Cannot run Yarn, getting following error

error An unexpected error occurred: "https://registry.yarnpkg.com/@material-ui/core/-/core-4.11.4.tgz: self signed certificate in certificate chain".
info If you think this is a bug, please open a bug report with the information provided in "C:\\Projects\\React\\BookBuilder\\builderbook\\book\\1-begin\\yarn-error.log".
info Visit https://yarnpkg.com/en/doc

[2021-06-01 23:10] klyburke commented on #449
@satheeshrajar Thanks for reporting.

In the `1-begin` folder, try deleting `yarn.lock` file and `node_modules` folder. Then run yarn again.

If that does not work, can you please create a public repo with the exact code you are running? We will take look.

[2021-06-01 23:38] satheeshrajar commented on #449
awesome !, fastest response, I will try that and update soon.

On Tue, Jun 1, 2021 at 4:11 PM Kelly Burke ***@***.***> wrote:

[2021-06-01 23:52] satheeshrajar commented on #449
Looks like that worked,thanks!

Question :- Do you have document for windows ?

[2021-06-02 21:41] klyburke commented on #449
@satheeshrajar Glad the solution worked for you!

We do not have specific instructions for Windows. The book instructions are based on Ubuntu.

A few readers have tried installing Ubuntu on Windows 10. I can't guarantee that this will work and allow you to follow all instructions in the book, but here is a tutorial: https://ubuntu.com/tutorials/ubuntu-on-windows#1-overview

Let us know if you have

[2021-06-02 21:50] satheeshrajar opened #450 "builderbook, chapter I , index page"
section:
"
Let's make one more improvement. We plan to have the Header component on every page of our web application. Importing Header and using it in every page explicitly is anti-productive. Let's add it to our App HOC, since App wraps all pages and runs on both the browser and the server. Open your pages/_app.jsx file and update it like so:
"

This doesnt work as expected, as soon as I remove

[2021-06-02 22:03] satheeshrajar commented on #450
Also.... "return" missing in this code (Index.js)

import Head from 'next/head';
const Index = () => (
  <div style={{ padding: '10px 45px' }}>
    <Head>
      <title>Index page</title>
      <meta name="description" content="This is the description of the Index page" />
    </Head>
    <p>Content on Index page</p>
  </div>
);

export default Index;

[2021-06-03 00:44] satheeshrajar commented on #449
Thanks, do you have any chat / email communication, please let me know

[2021-06-03 13:36] klyburke commented on #449
@satheeshrajar We prefer to discuss any technical issue here on GitHub, so other readers can review.

If you need to communication with us otherwise, you can email team@builderbook.org.

[2021-06-03 13:36] #449 closed

[2021-06-03 21:13] klyburke commented on #450
@satheeshrajar Thanks for reporting.

In response to your first comment: I walked through the book instructions to that point in Chapter 1. After adding the `Header` component to `_app.jsx` and removing it from `index.jsx`, I still see the `Header` on the `Index` page. If you'd like to share a public repo with the exact code you are running, we can try to identify the problem you are having.

In r

[2021-06-03 21:44] satheeshrajar commented on #450
Thank you for explaining!

On Thu, Jun 3, 2021 at 2:13 PM Kelly Burke ***@***.***> wrote:

[2021-06-04 00:52] #450 closed

[2021-07-14 17:19] elysenko opened #451 "reference to code snippet not found in the code"
In chapter two it reads

`Open your pages/_app.jsx file (we defined the MyApp extension of our App HOC, later called App HOC for simplicity, though technically incorrect) and find this code snippet:`

`static async getInitialProps({ Component, ctx }) {
  const pageProps = {};
`
`if (Component.getInitialProps) {
    Object.assign(pageProps, await Component.getInitialProps(ctx));
  }
`
`  // console

[2021-07-14 19:28] elysenko commented on #203
Did anyone find a solution to this? I'm getting the same problem

[2021-07-15 21:07] klyburke commented on #203
@elysenko thanks for noting. I will try to reproduce the problem or then explain or solve the issue.

[2021-07-15 21:19] tima101 commented on #451
@elysenko Thank you for reporting. I did remove this code from codebase but missed it in the book's content.

There is no need in having `MyApp.getInitialProps` since `pageProps` is empty object and we moved definition and population of `user` prop to the `getInitialProps` of `withAuth` HOC.

When you load page into browser, removed snipped* did following:
- checks if page component has `getInitia

[2021-07-15 21:54] klyburke commented on #203
@elysenko I ran the `2-end` codebase and was able to retrieve email address from my database.

Can you try running the `2-end` codebase? Do you get the same error?

If you don't get an error when running `2-end`, then there's probably an issue in the codebase you are running as you work through Chapter 2.

If you still get an error when running `2-end`, then there's probably a problem in the conne

[2021-07-16 16:54] elysenko commented on #203
When I run the 2-end code I get the same error...
In checking the connection to my db, I confirmed that running `yarn dev-express` does create a `users` collection in my db, so maybe that rules out a connection issue?

[2021-07-17 14:40] klyburke commented on #203
@elysenko thanks for testing.

Could you create a public repo with the exact code that is giving you an error? We will run the code and look for the problem.

[2021-07-17 18:47] klyburke commented on #451
@tima101 thanks for the explanation.

I updated this text in Chapter 2, as well as some related text in Chapter 3. Thank you again for reporting @elysenko !

[2021-07-18 14:36] cremsburg opened #452 "Typo in Chapter two"
`The oly missing part is to define a new / Express route, since we deleted the old one.`

`but we do not havea connection between our server and MongoDB's`

`Let's make a new component, MenuWithAvatar, that displays A clickable avatar.`

[2021-07-18 21:47] #451 closed

[2021-07-18 21:48] klyburke commented on #452
@cremsburg thanks for reporting! I fixed these typos.

[2021-07-18 21:48] #452 closed

[2021-07-24 17:17] klyburke commented on #203
@elysenko did you figure out the problem?

[2021-07-26 22:19] elysenko commented on #203
not yet.
https://github.com/elysenko/2-begin

[2021-07-27 20:21] elysenko opened #453 "mislabeling of files for editing"
The chapter refers to pages/_app_.js rather than pages/_app.jsx under 'Server Side Rendering'

[2021-07-27 22:46] elysenko opened #454 "chapter 2 - specifying which port to navigate to"
the first time the user is told to use `yarn nodemon server/server.js`, they are told to navigate to port 3000. The `server.js` file is set up for port 8000 at that point

[2021-07-28 01:03] klyburke commented on #453
@elysenko thanks for noting. Can you describe exactly where you see `pages/app.js` ? I searched in the text but did not find it.

[2021-07-28 01:37] klyburke commented on #454
@elysenko thanks for noting! Fixed.

[2021-07-28 01:37] #454 closed

[2021-07-28 01:39] elysenko commented on #453
It’s pages/_apps_.js

Sent from Yahoo Mail for iPhone

On Tuesday, July 27, 2021, 7:03 PM, Kelly Burke ***@***.***> wrote:

@elysenko thanks for noting. Can you describe exactly where you see pages/app.js ? I searched in the text but did not find it.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-28 01:40] elysenko commented on #453
Sorry two typos in a row
pages/_app_.js

Sent from Yahoo Mail for iPhone

On Tuesday, July 27, 2021, 7:39 PM, Eric Lysenko ***@***.***> wrote:

It’s pages/_apps_.js

Sent from Yahoo Mail for iPhone

On Tuesday, July 27, 2021, 7:03 PM, Kelly Burke ***@***.***> wrote:

@elysenko thanks for noting. Can you describe exactly where you see pages/app.js ? I searched in the text but did not find it.

—
Yo

[2021-07-28 01:46] klyburke commented on #453
Got it. I found the instance and fixed it. Thanks!

[2021-07-28 01:46] #453 closed

[2021-07-28 02:14] klyburke commented on #203
Thanks, I will test and see if I can reproduce the problem.

[2021-07-28 19:14] elysenko commented on #203
Any word @klyburke ?

[2021-07-28 22:11] klyburke commented on #203
@elysenko I ran your code with my own `.env` file and did not have a problem. The app loaded as expected with the email address from my database.

There are a few potential problems you can check:

(1) Does your `MONGO_URL` have the correct name of your database? Recall that MONGO_URL has the following format
`mongodb+srv://<username>:<password>@cluster0-eoobe.mongodb.net/<db>?retryWrites=true`

`

[2021-07-29 16:02] elysenko commented on #203
Alright. My issue was the document created on the db. The textbook doesn't have you create it until after you run `yarn dev-express`. You get the error when there is no document created

[2021-08-02 14:15] #203 closed

[2021-08-07 20:10] elysenko opened #455 "faulty link"
`http://ricostacruz.com/nprogress/nprogress.css` is a faulty link

[2021-08-09 02:06] klyburke commented on #455
Thanks for noting! The new link is https://unpkg.com/nprogress@0.2.0/nprogress.css. I updated the book content.

[2021-08-09 02:06] #455 closed

[2021-08-19 16:35] toddcford opened #456 "ESLint cannot format test.jsx"
I'm having an issue with the initial set up of ESLint and Prettier. I've installed ESLint, created the configuration file, and added all the dependencies specified, but when I test that it's working in "pages/test.jsx" I get the error:

"Extension 'ESLint' cannot format 'builderbook/book/1-begin/pages/test.jsx"

Can anyone help with this?

[2021-08-20 15:02] klyburke commented on #456
@toddcford thanks for reporting. I will look into this. Note that I may be busy this weekend.

In the meantime, could you please create a public repo with the exact code you are running? I will try running it as well to troubleshoot.

[2021-08-20 22:41] marcosCapistrano opened #457 "NProgress example on 2-begin may be faulty"
I may be wrong but when NProgress get's rendered it:
- Hardly shows (css may be missing)
- Spinner does not show even though it's defaulted to be shown (doesn't show even if explicitly set to true)

Would also be nice to offer explanations on how to style it considering SSR, since it's a third-party library.
I ask that because my theory is that maybe it's not rendering correctly because it's style

[2021-08-20 23:09] #457 closed

[2021-08-21 22:28] klyburke commented on #456
@toddcford I went through ESLint and Prettier set up instructions in Chapter 1 and did not reproduce the error you see.

Here are a couple of things to try:
- In your `1-begin` folder, delete the `node_modules` folder and `yarn.lock` file. Then re-run `yarn` after you've added all necessary dependencies. Then retry the `pages/test.jsx` file with ESLint.
- Try creating the `pages/test.jsx` file in

[2021-08-23 15:12] toddcford commented on #456
Thanks for getting back to me Kelly. I create a public repository here with the code I'm running: https://github.com/toddcford/builderbook_ESLint_error

I tried both suggestions above, but still can't seem to get ESlint working.

[2021-08-23 23:09] klyburke commented on #456
Thanks for trying my suggestions and sharing a repo.

I ran your code and still did not reproduce the error you see. All works as expected on my machine. There may be a problem with your ESLint set up.

Here are a few things to check:

1. Make sure you have the latest version of ESLint installed and enabled in your VS Editor. After installing, you may need to restart VS Editor.
![Screenshot from 2

[2021-08-28 21:34] lrnecgcysiam opened #458 "We are discontinuing the Google Sign-In JavaScript Platform Library for web."

[2021-08-28 21:35] lrnecgcysiam commented on #458
I purchased this tutorial and I am enjoying it so far. I am trying to find out what are the plans for handling the update to the OAUth at google

https://developers.googleblog.com/2021/08/gsi-jsweb-deprecation.html

I would would you be able to update the guidebook as well?

[2021-08-29 21:34] deasystephen commented on #456
I am having the same problem now, but didn't have it until recently. I was going through the book and didn't have problems but last week I started again. Now I am getting the same "ESLint cannot format..." for every file. What I noticed is that the test.jsx example works, I just see the error appearing in the VSCode status line when I manually save the file. This happens 100% of the time even with

[2021-08-29 23:47] deasystephen commented on #456
Adding some context, if I clone the book repo again from scratch and then go through Chapter 1, the error starts happening during setup of the linting and prettier; https://builderbook.org/books/builder-book/set-up-node-js-project-vs-code-editor-and-lint-set-up-next-js-project-material-ui-integration-server-side-rendering-custom-styles#vs-code-editor

I haven't tried uninstalled the dbaeumer.vscod

[2021-08-30 12:11] klyburke commented on #456
@deasystephen Thanks for catching this problem too and reporting it. I will keep digging.

Can you confirm your version of VS Editor and your version of ESLint? Find VS Editor version by clicking Help > About. Find ESLint version by clicking extensions on the left menu of VS Editor, then select ESLint.

[2021-08-30 15:17] deasystephen commented on #456
VS Code:
Version: 1.59.1 (Universal)
Commit: 3866c3553be8b268c8a7f8c0482c0c0177aa8bfa
Date: 2021-08-19T11:53:52.479Z
Electron: 13.1.7
Chrome: 91.0.4472.124
Node.js: 14.16.0
V8: 9.1.269.36-electron.0
OS: Darwin x64 20.6.0

ESLint: v2.1.23

[2021-08-31 00:32] tima101 commented on #456
@toddcford @deasystephen To clarify a bit more. Packages that you install with `yarn` or `npm` allow you to run `eslint` command in your terminal. `eslint` command should work as expected (I checked it few months ago and nothing that affects it has changed since then). Now, VS code editor extension and settings inside `settings.json` file are responsible for highlighting and auto-fixing inside edi

[2021-08-31 00:38] klyburke commented on #456
@deasystephen Thanks for the screenshot. Helped me understand where to see `Extension 'ESLint' cannot format...` Both @tima101 and I see it flash for second on any file when you click save.

I looked into an issue last year on the ESLint extension by Dirk Baeumer. He demonstrated the behavior you are seeing. Check this comment:
https://github.com/microsoft/vscode-eslint/issues/1086#issuecomment-70

[2021-08-31 01:44] klyburke commented on #456
@deasystephen Thank you for the screenshot. Helped me understand where to find the `Extension 'ESLint' cannot format...` message.

I started Chapter 1 from scratch, and I do see that message in every file when I save. Still, highlighting and auto-fixing work as expected.

This error was discussed in the below issue last year. This comment specifically demonstrates the behavior you are seeing:
http

[2021-08-31 03:15] deasystephen commented on #456
Sounds good, thanks folks. Appreciate the quick followup!

[2021-09-03 16:09] #456 closed

[2021-11-15 08:01] tima101 opened #459 "November 2021 (done)"
changes at the end of Chapter 9, codebase `book/9-end`:
- [x] upgrade next to v12 (chapter content to be changed)
- [x] upgrade material-ui to v5 (breaking changes): see https://github.com/async-labs/saas/issues/163 (chapter content to be changed)
- [x] upgrade rest of packages (chapter content to be changed)
- [x] check font implementation (chapter content to be changed)
- [x]  style for spinner

[2021-12-17 19:29] waalwang opened #460 "ctx.req.user is undefined inside withAuth when running app in production mode locally"
Hi,

Firstly I want to thank you all for your effort to build up this fantastic project. It is really awesome for full-stack beginners!

As one of them, I am using this project to build my own thing, during the implementation I learned a lot, and I must have gave up if I did not choose to purchase the BUILDBOOK! Deeply appreciate that!

Back to the real topic, here is the strange problem I am faci

[2021-12-17 20:18] waalwang commented on #460
hmm, it is probably due to my bad that I used a wrong command to start production job. closing it for now and will reopen if necessary.

[2021-12-18 16:13] waalwang commented on #460
Hi,

Unfortunately it is not due to my command setting, reopening this issue, thank you...

[2021-12-18 18:39] tima101 commented on #460
@waalwang Thanks for reporting. I am happy to help.
I just tested on:
- `book/9-end`
- `builderbook/builderbook`
- I deployed `builderbook/builderbook` to `https://heroku.builderbook.org` and tested in production as well

Google OAuth does populate `req.user` and `withAuth` does add proper `user` prop to all pages it wraps.

Many changes were made in Chapter 9 recently, please make sure you follow

[2021-12-18 19:25] waalwang commented on #460
@tima101

Thank you very much for your kindly support. I know there must be something wrong on my end, but I need your support to figure out where it is...

I reinstalled all modules after following your suggestions, but still not working.

And please allow me to clarify something unclear in my prev comment:

1. the "production mode" in my prev comment meant that I used "yarn build" to generate .n

[2021-12-18 19:32] tima101 commented on #460
@waalwang

- Have you tried this?

What does print during login attempt?

- You can share your **exact** codebase with me and I can test it locally on my machine. I cannot reproduce your error in `book/9-end`.

[2021-12-18 19:56] waalwang commented on #460
@tima101

yes, i did, I double checked it once again just now and reproduced the same error.

I am packing my codebase and then share a drive link to you shortly.

More thanks.

[2021-12-18 20:07] waalwang commented on #460
@tima101 shared to your work email address.

[2021-12-18 21:25] tima101 commented on #460
@waalwang Here is better solution for your case (`production` mode, running project locally):
- do not move Express route for `/_next/`
- find this code snippet:
[code]

Update it to become:
[code]

[2021-12-18 21:36] #458 closed

[2021-12-18 21:39] waalwang commented on #460
@tima101

Thank you!

But I feel that the above solution seems not to solve this problem.

Say, if a new user tries to login this web at the very first time, there will not be any active session info, then on the "production mode", this user will not successfully log in.

To reproduce it, please try to clean up all session records generated on the "dev mode" before "yarn start".

[2021-12-18 21:51] waalwang commented on #460
And I am thinking the following reason you mentioned is the real on to cause this problem, correct?

[code]

If so, I am wondering if this problem **only** occurs on this specific local "production mode", according to the fact that on the real production mode we never encounter this weird error.

[2021-12-18 22:02] tima101 commented on #460
@waalwang

Yeah, this is a good question. I deployed `book/9-end` to `https://heroku.builderbook.org`. Then cleared all sessions from db, login and admin page work as expected. Let me think more.

[2021-12-18 22:49] tima101 commented on #460
@waalwang Please try following change (removing Express route `/_next/` and modifying session params):

[code]

Please note, in your `.env` you have to have `COOKIE_DOMAIN=localhost`. Also note `sess.cookie.secure = false`. This is because you are running production app locally.

[2021-12-18 23:21] waalwang commented on #460
@tima101

This modification really works! Thank you!

I will merge this fix into my own project and will let you know the result then.

[2021-12-20 20:29] waalwang commented on #460
@tima101

My further tests show that the real killer is the following code snippet:

[code]

So it turns out that my web on "production mode" but works locally, it is thus an insecure http server, so some inside mechanism under **sess.cookie.secure = true** automatically forbids req.user populating through express server. And meanwhile, browser needs cookie to setup a "persistent" login session bu

[2021-12-20 23:26] tima101 commented on #460
@tima101 Let me test your suggestion later today, after that I will update this comment.

I did experiment with cookie for our first book. If I remember correctly if `secure: true` then cookie will not be set on browser when you run web app at `localhost`. You can try by yourself by looking at Chrome's Developer Tools, under `Application > Cookies`. Clear cookies from from your browser, clear sess

[2022-01-02 02:39] realdheals opened #463 "Personal Access Token not being accepted/recognised when cloning repo on Mac"
Hi there, really excited to find this book.  I'm just starting out on this so I'm not sure if this is the appropriate place to raise this.

I've posted this to Stack Overflow but I thought I may get a better response here:

 I created a Personal Access Token (PAT) on Github so that I could clone a repo for local access. When terminal asks for credentials and I enter my PAT I get the error message

[2022-01-02 18:57] klyburke commented on #463
@realdheals Thanks for reporting.

From email conversation, we resolved this issue when you forked our repo and then performed `git clone` for your forked repo, https://github.com/realdheals/builderbook.

On Stack Overflow, I see you might have resolved the error above by rebooting your computer. Is that the case?

https://stackoverflow.com/questions/70553183/personal-access-token-not-being-accept

[2022-01-02 21:35] realdheals commented on #463
No further issues with the PAT and forking.  Having some challenges with Yarn roll out which I'm trying to work my through.

[2022-01-02 22:21] realdheals opened #464 "Error message on Yarn Install"
Hi, sorry, I’ve been trying to get Yarn to work for a few hours now so I thought I might put my hand for some assistance.
I’ve been following the instructions from digital ocean on how to install yarn: https://www.digitalocean.com/community/tutorials/how-to-install-and-use-the-yarn-package-manager-for-node-js

Super helpful, much better than the documentation on the yarnpkg.com site.
I think I’m a

[2022-01-02 22:36] realdheals commented on #464
an update.  So I ran 'Yarn —cwd /Users/Daniel/dropbox/builderbook yarn install'
 in terminal and was returned:
$ yarn run [--inspect] [--inspect-brk] [-T,--top-level] [-B,--binaries-only] <scriptName> ...
(base) Daniel@richardsmbp1269 builderbook %

Not sure what this means lol.  But I just wanted to give an update.

[2022-01-02 23:23] realdheals commented on #464
Great success!  I scrolled down a little further on in Builderbook and there was more on how to install yarn.  I don't know why you wouldn't just put that information all up the top though.

[2022-01-02 23:30] realdheals commented on #464
Okay, just reviewing where my challenges stemmed from.  This section(see image) is more confusing than helpful.  It's more like an overview than instruction but I read it as instruction.  All the instructions, however, are below this section.  I assumed that everything below this section would be about setting up other frameworks etc and there was no point reading on until I'd completed step 1.

N

[2022-01-03 04:57] tima101 commented on #464
@realdheals I think this is a good suggestion. Thanks!

@klyburke Let's add sentence to the top of Chapter 1 that says that we will install node and yarn first and then will install below packages.

[2022-01-03 14:23] klyburke commented on #463
Thanks. I will close this issue for now, but let me know of any other errors here.

[2022-01-03 14:23] #463 closed

[2022-01-03 14:45] klyburke commented on #464
@realdheals Thanks for reporting.

I see how this can be confusing. I added a line in that section to indicate that we will show you how to install `node.js` and `yarn` below, then we will add those specific packages for Chapter 1. I hope that helps!

[2022-01-03 22:14] realdheals commented on #464
That is awesome.  Thanks, Kelly and Timur!  Really liking the course/book so far and so thankful you guys are here to help.  Hopefully I can get through without any more questions!

[2022-01-10 08:04] cindy50633 opened #465 "Possible typos in Chapter 3 section Testing withAuth code snippets."
Hello async-labs team,

Thanks for giving out this project!

I am wondering if there are typos in the following picture.
![image](https://user-images.githubusercontent.com/52018891/148733264-b99d2550-5de8-40ff-921e-0d12cdc57055.png)

Instead of
  *const user = **ctx.query** ? ctx.req.user && ctx.req.user.toObject() : globalUser;*

  *const user = **ctx.req** ? ctx.req.user && ctx.req.user.toObject

[2022-01-11 22:18] klyburke commented on #465
@cindy50633 thanks for reporting! You are correct. I fixed this in the book content and in the book code with commit 0e054e9072cec02eaa2d4b607e92bdf9d5be712f

[2022-01-14 09:30] abay-ongar-botabek commented on #446
Hi.

I have the GitHub connection problem from Chapter 6.

Error: **--choose github repo--**   _and there is nothing to choose from_
connection is fine.

Can you please check your code one more time. Maybe there was changes.

Thanks in advance

[2022-01-14 09:51] abay-ongar-botabek opened #466 "Github Connection not working - Chapter 6"
hi.

I have the GitHub connection problem from Chapter 6.

Error: --choose github repo-- and there is nothing to choose from
connection is fine.

Can you please check your code one more time. Maybe there was changes.

Thanks in advance

[2022-01-14 12:58] #465 closed

[2022-01-14 12:58] #464 closed

[2022-01-14 13:18] klyburke commented on #466
@abay-ongar-botabek thanks for reporting.

Are you running the `6-end` codebase from our repo? Please try running that with your environmental variables and let me know.

[2022-01-17 04:58] abay-ongar-botabek commented on #466
Hi.

Yes, I am running the 6-end codebase from your repo. And I add .env file with my environmental variables.

Book's title
Books price
Github repo ... **_error when choosing._**
Save **_Github repo is required_**

Thanks

[2022-01-17 15:19] klyburke commented on #466
Thanks for confirming. I dug deeper and see where the issue is coming from.

In `server/github.js` file, we have the following code:

[code]

By having `visibility: 'private'`, we specify that only private GitHub repos will appear in your list of repos. When you fork our public `demo-book` repo, it becomes a public repo in your GitHub account. Thus, it is will not appear in your list of repos. In

[2022-01-18 04:05] abay-ongar-botabek commented on #466
Hi.

I did everything as you wrote.
And it is working.

Huge thanks for your response.

As a beginner it is hard for me to fully understand every code yet.

I was stuck for this part for about 2 weeks.
I should have asked here for help.

Again,  huge thanks for your response. It is great to have support from your team.

[2022-01-18 04:05] #466 closed

[2022-01-18 19:45] waalwang commented on #460
Sorry about my late response and really appreciate your effort on this issue!

I was preoccupying by other tough work so I still have some time to digest your comment.

If you dont mind, I will close this bug, in rare cases, I might reopen it if I had some new findings.

More thanks!

[2022-01-19 21:48] #460 closed

[2022-01-30 22:19] arbennet opened #467 "Chapter 1 - Remove Styles Injected on Server"
References to material-ui useEffect function are no longer accurate

https://builderbook.org/books/builder-book/set-up-node-js-project-vs-code-editor-and-lint-set-up-next-js-project-material-ui-integration-server-side-rendering-custom-styles#remove-styles-injected-on-the-server

[2022-02-02 17:12] klyburke commented on #467
Thanks for noting! I will review and update the text.

[2022-02-04 15:51] klyburke commented on #467
@arbennet Thank you again. I removed the Material-UI references on `useEffect` that were no longer accurate in Chapter 1.

[2022-02-04 15:51] #467 closed

[2022-02-09 04:58] p-parks opened #468 "Next Api Route vs Express"
I am fairly new to NextJS and was wondering why ExpressJS was used for the server api calls instead of using the NextJS Api routes: https://nextjs.org/docs/api-routes/introduction.

[2022-02-09 21:34] klyburke commented on #468
Hi @p-parks, thanks for the good question!

Think of it like this: Next.js has its own server, let's call it a `next` server. Express.js has an `express` server. You are completely free to use the `next` server to get data for your pages. However, if you add Express.js to your Next.js web application, now you have two servers. You can route all of your API calls to the `express` server and all of

[2022-02-24 06:06] #468 closed

[2022-04-05 10:20] abay-ongar-botabek opened #469 "Chapter 9. Error while deploying to Heroku"
Hi.

I am at chapter 9.
We will discuss the following topics in this subsection:

_1. installing Heroku on Linux-based OS
2. creating app on Heroku dashboard
3. preparing app for deployment
4. configuring env variables
5. deploying app
6. checking logs
7. adding custom domain_

I have error on 5th step, when deploying app on Heroku.

**Error:**

-----> Building on the Heroku-20 stack
-----> Using

[2022-04-06 05:20] abay-ongar-botabek commented on #469
Hi.
Thank you for your answer.

But it didn't help.
I can't figure out what is the problem while deploying on Heroku.

I tried to follow the book again from beginning, but there is many confusing information.

For example, this part
![Screenshot from 2022-04-06 11-14-02](https://user-images.githubusercontent.com/84173441/161900954-e1aff61b-c61c-4415-a98e-577140b38eb0.png)

There is no line book su

[2022-04-06 06:16] abay-ongar-botabek commented on #469
I meant beginning from chapter 9

[2022-04-06 09:21] abay-ongar-botabek commented on #469
_We suggest, for the sake of reusability, creating a new getRootUrl() function that contains conditional logic and outputs the proper ROOT_URL depending on the value of process.env.NODE_ENV. Create a new file book/9-begin/lib/api/getRootUrl.js with the following content:_

_Go ahead and use getRootUrl inside server/server.js as well:_

_Start your app with yarn dev and look at the terminal:_

**Er

[2022-04-07 05:43] abay-ongar-botabek commented on #469
![Screenshot from 2022-04-07 11-39-51](https://user-images.githubusercontent.com/84173441/162128260-e9676452-611a-4f97-bdaf-317c303d8c72.png)

Open book/9-begin/server/server.ts and mount ...

but there is no server.ts file. is it a typo?
If it is, it is many reference to .ts file at chapter 9.

I can't understand.

_Sorry if this questions seem to be dumb. )_

[2022-04-07 12:24] klyburke commented on #469
@abay-ongar-botabek , regarding your last comment - yes, that is a typo. Thanks for catching. We meant `server.js`. I will fix any instances where we accidentally wrote `server.ts`.

[2022-04-08 04:11] tima101 commented on #469
@abay-ongar-botabek If you make public repo with your code, I can try deploying it to Heroku. Please share public repo with me and tell me which directory/project you are trying to deploy to Heroku.

[2022-04-08 08:29] abay-ongar-botabek commented on #469
Hello.
Thank you guys for your reply.
It is very helpful.

I figured out some mistakes from my side.
I will get back to project again soon.

I will report if there is error, solution ... any information.

Thank you

[2022-04-08 21:04] jamesqw opened #470 "Buildblock"

[2022-04-10 19:24] klyburke commented on #470
Hi @jamesqw could you please elaborate if you are having an issue with Builder Book? Thanks

[2022-04-10 19:40] jamesqw opened #471 "Builderbook"
https://github.com/async-labs/builderbook

[2022-04-11 11:51] abay-ongar-botabek commented on #469
_Firstly, we need to tell Heroku that the 9-end app in the builderbook/builderbook repo is not at the root level, it's actually nested at /book/9-end._

when we write PROJECT_PATH var ... there was problem with value: ... I did as it was written at the  book, but it din't work ... so I pushed all files to (/root_folder) one folder and it did work.

But at the moment I am having trouble with DNS co

[2022-04-12 06:45] abay-ongar-botabek commented on #469
Async-labs team,

I spent much time following instructions from your book.
And at the time I just want to deploy app online and test it.

Isn't it correct that I just can take source code from builderbook/9-end folder and deploy it on Heroku and make needed settings, also add Config Vars and it should work.

[2022-04-12 06:46] abay-ongar-botabek commented on #469
![Screenshot from 2022-04-12 12-44-57](https://user-images.githubusercontent.com/84173441/162897748-f2592de7-0ca5-49e8-af84-12dac582c6a5.png)

[2022-04-12 06:49] abay-ongar-botabek commented on #469
![Screenshot from 2022-04-12 12-47-38](https://user-images.githubusercontent.com/84173441/162897928-a7b38bba-4c4c-4334-9d5f-c1345da25c0a.png)

I am having TEST_VARS because written this way.
TEST = LIVE in my case

[2022-04-12 06:51] abay-ongar-botabek commented on #469
My private code is same as your builderbook/9-end code.

[2022-04-12 14:02] klyburke commented on #469
Hi @abay-ongar-botabek . Thanks for the screenshots and clarifying that you are using `9-end`. We will review more today.

A quick check - did you follow the instructions to add a CNAME record to your domains' DNS? You should see that ACM status on Heroku says "Ok".

See step 7 here:

https://builderbook.org/books/builder-book/prepare-project-for-deployment-environmental-variables-production-devel

[2022-04-12 22:59] tima101 commented on #469
this should work if you install two buildpacks in the correct order AND provide correct value for `PROJECT_PATH` variable:
![image](https://user-images.githubusercontent.com/10218864/161810090-caff2f86-2a59-4bd1-9372-8e23f85f7772.png)

But there is errors at the moment.

https://devcenter.heroku.com/articles/automated-certificate-management#dns-provider-timed-out

Does app work locally for you (lo

[2022-04-13 21:27] #470 closed

[2022-04-13 21:29] klyburke commented on #471
@jamesqw since you haven't provided any info here, I'm going to close this issue. Let us know if you are having any difficulty.

[2022-04-13 21:29] #471 closed

[2022-04-14 05:15] abay-ongar-botabek commented on #469
Hi async-labs team.

I am at the process of checking for my mistakes.
So, I will report parts where it is not understandable for me.

Please, check this part ...
chapter 9-beginning ...
![Screenshot from 2022-04-13 22-12-29](https://user-images.githubusercontent.com/84173441/163318312-7f9ae3f4-160a-4ca0-935f-513c2d1374fe.png)

_there is no such code to change as claimed at the book_

[2022-04-14 06:57] abay-ongar-botabek commented on #469
I know there is something that I am missing.
But I tried to follow your book, chapter 9 especially to the exact point.

But I am getting errors.

Could you please, point out critical areas where I should look for.

At the moment I am running the project locally ..

Here is a error now ...
![Screenshot from 2022-04-14 12-54-48](https://user-images.githubusercontent.com/84173441/163330925-974bee84-9

[2022-04-14 09:25] abay-ongar-botabek commented on #469
I want to report this ...

If I begin with my chapter 9-begin code and my .env file from chapter 8-end ... everything works locally.

After that, I follow your Chapter-9 Environmental variables, production/development
[https://builderbook.org/books/builder-book/prepare-project-for-deployment-environmental-variables-production-development-logger-seo-robots-txt-sitemap-xml-compression-and-security-d

[2022-04-14 09:46] abay-ongar-botabek commented on #469
![Screenshot from 2022-04-14 15-41-42](https://user-images.githubusercontent.com/84173441/163358932-d08c6d93-20c8-4706-b3cb-e6c7cba6476c.png)

Can you please explain this part.
You recommend removing NODE_ENV=production from the dev and build scripts inside book/9-begin/package.json .. & then .. if you change scripts in book/9-begin/package.json, remember to undo the changes ..

So, I remove NODE_

[2022-04-14 10:40] abay-ongar-botabek commented on #469
![Screenshot from 2022-04-14 16-38-40](https://user-images.githubusercontent.com/84173441/163371944-40dc6886-7663-4cec-bb70-283023b07a52.png)

and **add** two script tags ... but, this codes are already there, in 9-begin document.

[2022-04-14 10:49] abay-ongar-botabek commented on #469
![Screenshot from 2022-04-14 16-47-47](https://user-images.githubusercontent.com/84173441/163376483-9f815096-aaeb-4abf-a4fa-e47aad5282df.png)

**Open book/9-begin/app/lib/withAuth.jsx** there is no /app folder.
Is it typo?

[2022-04-14 23:47] klyburke commented on #469
Hi @abay-ongar-botabek.

First I'll address the typo issues. Thanks for catching!
- We do not import `getRootUrl` into `server/models/Book.js`, so that instruction is incorrect. I will take it out. That instruction in Chapter 9 should only be for `server/server.js` and `server/stripe.js`.
- There is no `/app` folder. That is a typo, and I will fix it.
- `9-begin/pages/_document.jsx` should not alr

[2022-04-15 05:39] abay-ongar-botabek commented on #469
Hi.

Unfortunately I am not able to run 9-end locally with my environmental variables at the moment.
_There are big changes between 9-begin and 9-end. Like, updating Next.js version, refactoring class component into functional component, material icons etc.,_

![Screenshot from 2022-04-15 11-33-58](https://user-images.githubusercontent.com/84173441/163526063-1b18424e-a83b-43cc-872d-c128401a0bc0.pn

[2022-04-15 05:51] abay-ongar-botabek commented on #469
I think it is a typo

![Screenshot from 2022-04-15 11-50-39](https://user-images.githubusercontent.com/84173441/163527155-5465fb72-1b42-40a4-98cb-7cc61e7823e7.png)

const getRootUrl = require('**../../li**b/api/getRootUrl');

[2022-04-15 08:54] abay-ongar-botabek commented on #469
think this part needs to be checked
![Screenshot from 2022-04-15 14-50-16](https://user-images.githubusercontent.com/84173441/163549236-b320ebfa-7d65-4436-ad42-1fa52af03e70.png)

After removing NODE_ENV=production from the dev and build scripts inside book/9-begin/package.json .. if we run yarn dev ... there is error on localhost:8000 and error **Unexpected token < in JSON position 0.**
Also, conn

[2022-04-15 09:47] abay-ongar-botabek commented on #469
At the end of **Environmental variables, production/development** part (think, because of yarn build command) I lost connection to GitHub and lost MyBooks page.
So, now it is impossible to make Compression and security part of chapter.

![Screenshot from 2022-04-15 15-42-54](https://user-images.githubusercontent.com/84173441/163555818-b1cc71f9-59be-4a7c-88e0-d9e84a2f67a6.png)

Because there is no

[2022-04-15 11:40] abay-ongar-botabek commented on #469
**can you confirm if you are able to run 9-end locally with your environmental variables?**
![Screenshot from 2022-04-15 17-36-13](https://user-images.githubusercontent.com/84173441/163566386-1b72589d-d7a8-48aa-8b01-54b933649b06.png)

I am trying to do everything as written in book.
But this error ... I can't find what I am missing.
_it is before deploying the app_

I will work until I find it.

T

[2022-04-15 18:18] tima101 commented on #469
Yes, we tested recently and it works as expected. No other reader complained about this problem.

Please pay attention to values of all environmental variables and values you added to your Google web app at Google Cloud Platform . You can print their values in your terminal with `console.log`. Your `redirect_uri` value from the screenshot should **not** have ` undefined` in it. In fact it should b

[2022-04-15 18:25] tima101 commented on #469
Again, please pay attention to instructions. Note sure how you lost "connection" to GitHub, likely environmental variables. You have to have one Authorized OAuth app for localhost and one for production:

![image](https://user-images.githubusercontent.com/10218864/163607038-34eb283b-9e92-4ed7-8999-a83f7cca62b8.png)

[2022-04-18 06:07] abay-ongar-botabek commented on #469
Hi async-team,

**can you confirm if you are able to run 9-end locally with your environmental variables?**
here I was answering your colleague klyburke

Yes, it obvious that I am missing something and error on my code.

I just was looking for help.
It is totally ok if my messages ignored.
I don't mind it.

I am trying my best, and will double check my work.

I will come back with any info.

Thank

[2022-04-18 17:53] tima101 commented on #469
You have to have 2 sets of environmental variables. One set for running your web app locally (value of `NODE_ENV` is not `production`) and second second set for your deployed web app (value of `NODE_ENV` is `production`).

I agree that adding `NODE_ENV=production` to `yarn dev` command might be confusing. It was suggested for educational purpose only - to see that value of production-level env var

[2022-04-18 20:26] klyburke commented on #469
@abay-ongar-botabek I updated the instruction about removing `NODE_ENV=production` from the `dev` and `build` scripts inside `9-begin/package.json`. You can read the updated instruction near the end of the [Environmental variables, production/development](https://builderbook.org/books/builder-book/prepare-project-for-deployment-environmental-variables-production-development-logger-seo-robots-txt-s

[2022-04-22 10:03] abay-ongar-botabek commented on #469
![both](https://user-images.githubusercontent.com/84173441/164682840-4badf466-c65b-4cdd-8036-e40a3a9e9cbc.PNG)

I was able to log in from localhost and everyhing worked fine.

But I am having problem with my app on Heroku.
_I know, again I am doing something wrong. Sorry. Please, assist me if possible._

When I log in on my app on Heroku it is redirecting me to "/" page.
It is asking my Google acc

[2022-04-22 10:07] abay-ongar-botabek commented on #469
**can you confirm if you are able to run 9-end locally with your environmental variables?**

Yes, I was able to do it. Thanks to your instructions.
Mostly it was my mistake of course.
I forgot what was the exact error, it was few combined I think. I will write when I recall it. later.

Thanks.

**can you confirm if you are able to run 9-end locally with your environmental variables?**

Yes, I was

[2022-04-25 10:52] abay-ongar-botabek commented on #469
Hi, async-labs team.

I am stuck with this projects ending.

It is working locally on my PC.
I can log in and see my books as admin and change them, and save, everything is seems to working fine.

But, in console, there is **no**
req.query.redirectUrl:
req.session.finalUrl: null

![Screenshot from 2022-04-25 16-49-32](https://user-images.githubusercontent.com/84173441/165075235-a6ebbf41-3d89-4608-

[2022-04-25 10:59] abay-ongar-botabek commented on #469
And I am deploying this project using Heroku Git.
_there is some issue with connecting to GitHub via the Heroku dashboard_

There problem with deployed project is, it is asking for Google login, password, after creating session and user data on my MongoDB database, but no authenticating to page.

https://ituniver-book.herokuapp.com/login
the link to my deployed app

I am so sorry to bother you and

[2022-04-25 19:33] tima101 commented on #469
I don't think it is your error. GitHub integration is disabled by Heroku:

https://status.heroku.com/incidents/2413

Our book does not explain how to use Git integration (only how to use GitHub integration). So you can learn on your own how to use Git-Heroku integration or wait for GitHub integration to be enabled.

[2022-04-29 14:12] Muxoid opened #472 "Chapter 4, aws-ses asking for user email to be Verified"
Hello, I am going through chapter 4, and when running the 4-end and my version of 4-begin it is asking for the User "To" address to be verified by AWS-SES.

`Email sending error: MessageRejected: Email address is not verified. The following identities failed the check in region CA-CENTRAL-1: "USER@EMAIL NOT .env@EMAIL"
    at Request.extractError (/home/shawnco/Coding/nodejs/builderbook/book/4-end

[2022-04-29 17:16] Muxoid commented on #472
Found the solution, because I do not have a production environment the To: address needs to be validated as well.
https://stackoverflow.com/questions/22128800/amazon-ses-email-address-is-not-verified#22131903

[2022-04-30 17:53] klyburke commented on #472
@Muxoid thank you for reporting and sharing the solution! Very helpful for all readers.

[2022-05-01 23:20] ya332 opened #473 "Folder Structure for the Demo Book"
Can the book structure have folders or it has to be all .md files at the root level?

[2022-05-02 23:56] klyburke commented on #473
@ya332 Thank you for the question.

The way the code is written - your `.md` files need to be at the root level in `mainFolder`.

Here is the snippet from `server/models/Book.js`:

[code]

You may be able to modify the code to find files within sub folders of `mainFolder`, but we have not done it ourselves.

[2022-05-05 17:25] ya332 commented on #473
Thanks so much! Closing the issue.

[2022-05-05 17:25] #473 closed

[2022-05-05 17:31] ya332 opened #474 "How can I highlight my Python code?"
I know that the following snippet highlights markdown in our book:
[code]

However, when I write a markdown snippet with Python code in it, it doesn't get highlighted:

Below is the markdown that I am trying to highlight. I checked `highlight.js` doc and it told me to pass <pre><code> tags.
[code]

The actual output:
![image](https://user-images.githubusercontent.com/26026196/166979312-3a13f98b-c6

[2022-05-05 21:29] #472 closed

[2022-05-06 00:01] alanphanth opened #475 "Can not connect with Github"
When I click to "connect GitHub" button, the terminal: `error: HttpError: Requires authentication
error - unhandledRejection: Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client`

Can you help me fix this?

[2022-05-06 02:56] klyburke commented on #475
@alanphanth Thanks for reporting.

Are you trying to run one of the book chapter codebases?

Could you please create a public repo with the exact code you are running? We can review it and try to run ourselves.

[2022-05-06 03:32] klyburke commented on #474
@ya332 Thanks for the question.

We haven't tried highlighting Python, but I can try to help. Could you please share the documentation where you found the solution to write `<pre><code class="hljs python"> ... </code></pre>` ?

[2022-05-06 17:34] ya332 commented on #474
Hello @klyburke, I found it here https://github.com/highlightjs/highlight.js/issues/1224.
I also tried `highlightAll` and  `highlightAuto` from https://highlightjs.readthedocs.io/en/latest/api.html#core-api, but they don't highlight for some reason.

[2022-05-07 00:02] klyburke commented on #474
@ya332 Thanks for sharing.

From what I read, highlight.js supports python in its core library, so you do not need to pass any tags. See the "Supported Languages" section here: https://highlightjs.org/usage/

I tested your code snippet in the demo book, and I see proper highlighting when I wrap the code with triple backticks (```) instead of `<pre><code>`

---

When I write with triple backticks l

[2022-05-10 00:44] ya332 commented on #474
Thanks @klyburke. this fixed my issue. Closing.

[2022-05-10 00:44] #474 closed

[2022-05-10 05:35] tima101 opened #476 "Updates May/June 2022 (done)"
- [x] codebase - last chapter: functional page components
---
- [x] fix in ReadChapter page, https://github.com/async-labs/builderbook/commit/0c193dd9c4d1eea594c1f3187a01a8c71da5d7ce
- [x] font flash, https://github.com/async-labs/builderbook/commit/2669e9d90081c41fed809c5c8ee2be3c67afe98a
- [x] fix in `withAuth` for 9-end: https://github.com/async-labs/builderbook/commit/61009f78f5db1212ad09c231a

[2022-05-10 08:39] tima101 commented on #475
@alanphanth If you share your codebase with instructions I will test it out. Thanks.

[2022-05-11 07:18] abay-ongar-botabek commented on #469
Hi async-labs team.
Thanks you for your help.

I will close the issue at the moment.
_as there is onging issue with Heroku-GitHub integration._

[2022-05-11 07:18] #469 closed

[2022-05-12 04:47] alanphanth commented on #475
I'm sorry to bother you. **This is my mistake, I fixed it**. Thank you a lot for your enthusiasm.

[2022-05-12 04:48] #475 closed

[2022-05-12 12:45] klyburke commented on #475
No worries. Good to hear you resolved the issue! Thanks for letting us know.

[2022-05-13 20:02] ya332 opened #477 "Nextjs Routes are not working when deployed to Azure App Service"
I know the book goes through deploying the app to Heroku and AWS Elastic Beanstalk. I wanted to deploy the book to Azure App Service with Linux instance.

I followed the instructions here: https://developinjay.com/deploying-nextjs-app-to-azure-app-service-linux-77a43353e761
The app is live here https://interviewramp.azurewebsites.net and https://interviewramp.herokuapp.com.
Routes work in Heroku.

[2022-05-13 21:22] klyburke commented on #476
For those planning to buy Builder Book soon - note that as part of our May update, we will upgrade Material-UI and Next.js from the beginning of the book. We currently upgrade those packages at the end of the book.

This will only impact syntax in some of your files. It will not change the concepts you learn, so please don't hesitate to start reading :)

[2022-05-13 21:50] tima101 commented on #477
@ya332 No experience with Azure App Service. Hopefully someone can comment. 404 may mean that root domain has wrong value in one or more configurations.

I found this blog post but it is over a year old: https://parveensingh.com/next-js-deployment-on-azure-app-service/

[2022-05-13 23:43] ya332 commented on #477
Thanks for the reply, @tima101. I remember seeing and checking that old blog post. The sample code there is just a single page and is not as complicated as builderbook codebase. Builderbook code has a custom node server with complications like this:

[code]
It makes it hard for me to see where the bug is.

[2022-05-14 18:15] tima101 commented on #477
@ya332 I have no experience with Azure. I would start by adding `console.log` statements to the:
- server code (in front of `app.render` and inside Express routes)
- pages' code (inside render method)

Then attempt loading pages in your web app and read both server logs (your terminal) and browser logs (Console tab inside `Developer tools`). There should be some clue in those logs.

You said that

[2022-05-16 06:50] abay-ongar-botabek opened #478 "Google OAuth authentication/login error on Heroku deployed app"
Hi async-labs team,

I almost complete project and was able to run project locally (localhost:3000).
Working fine at localhost

But I am having problem after Deploying the project to Heroku.com

Error: **/login page will appear again after login**
so, basically I am not able to login to project on Herorku

_I did all Preparing a Codebase for Heroku Deployment, Deploying Node.js Apps on Heroku requ

[2022-05-16 11:04] abay-ongar-botabek commented on #478
I am deploying the app from Heroku Git.
But I did all config as required.

It is running fine locally.
Problem while deploying on Heroku.

I added all config vars to app settings on Heroku.

![Screenshot from 2022-05-16 17-00-35](https://user-images.githubusercontent.com/84173441/168579151-aebda6d1-fab3-48f5-925f-2a7039a8b261.png)

![Screenshot from 2022-05-16 17-00-59](https://user-images.githubu

[2022-05-16 11:23] abay-ongar-botabek commented on #478
App running on localhost
![Screenshot from 2022-05-16 17-23-01](https://user-images.githubusercontent.com/84173441/168582379-f1f429b3-556e-4a76-adbe-10be7a8f45c0.png)

[2022-05-17 08:58] abay-ongar-botabek commented on #478
Hi.

I solved my authentication problem.
_hope will be helpful if someone have similar problem in the future._

This was helpful for troubleshooting
[https://github.com/async-labs/builderbook/issues/460](url)
_some user had similar issue,_

The change that helped me:
key: **NODE_ENV** value: **production** on Heroku
and adding **COOKIE_DOMAIN**

Hope, my project will work fine and I will close thi

[2022-05-17 09:22] abay-ongar-botabek commented on #478
I think you should add information about adding **NODE_ENV** variable key and value **production** on this part of book.

![Screenshot from 2022-05-17 15-20-21](https://user-images.githubusercontent.com/84173441/168777360-6da45397-2e21-4804-8fb5-82447a52f9bd.png)

[2022-05-17 10:25] #478 closed

[2022-05-18 09:33] reingoldkz opened #479 "Plea. Can someone help with project end."
Hi.

I almost finished the builderbook and ready to deploy my project.

Here is my issue.

As I am from country where we don't have Stripe payment system, I can't fully test and apply related topics (especially Chapter 8)

I am beginner and I should admit that I can't understand every code at the book.
I don't want payment system on my project and want my books be available for anyone who logged w

[2022-05-18 09:50] reingoldkz commented on #479
rephrase my question:

**What is the easiest way to make all books available to everyone.**

[2022-05-18 15:50] ya332 commented on #477
I was able to solve this problem and I am leaving this answer in case it is helpful to someone else. The Azure web app is showing correct paths now. I used `node server\server.js` instead of `next start` in my startup command in Azure and it fixed the issue

[2022-05-18 15:50] #477 closed

[2022-05-19 22:17] tima101 commented on #479
@reingoldkz Easiest way to achieve it is to pass `isFree: true` inside .md file:

https://github.com/tima101/demo-book/blob/master/introduction.md

[2022-05-20 04:10] reingoldkz commented on #479
just passing isFree: true inside.md file not helpful.

It was first thing I checked.
There structure of our (readers, customers) 9-end chapter code is different then builderbook.org (your) code I think.

**www.domain.com/my-books** (for logged in user) is not giving link to available books in our code.

Also Stripe is not available in my country.
So there is no way to Purchase book for customers.

[2022-05-20 05:48] reingoldkz commented on #479
I cant see the code in **/customer/my-books** page that will list the books that are available for free. (with ``` isFree: true ``` meta information)

also, there is no such code at **/public** (for no logged in users) i think

[2022-05-20 23:11] tima101 commented on #479
@reingoldkz On builderbook.org, on **MyBooks**  page, we show `available` books and `purchased` books. However, in this public repo and inside our first book, we show `purchased` books only on **MyBooks** page.

If you like to show `available` books in addition to `purchased` book then you have to customize code in this public repo.

---

If you add `isFree: true` to meta data - any guest user or

[2022-05-21 01:12] reingoldkz commented on #479
Hi tima101,

My problem is that I can't show books list to ``` guest user or logged-in user ```.

I can see all books list on my ``` admin ``` account. But books list not available to not admin and guest users.

_I know it might be easy solution for you, but as a beginner I can't figure out how to show books list to everyone._

Stirpe is not available in our country. So I don't use Stripe at my co

[2022-05-22 15:21] klyburke commented on #479
@reingoldkz

As @tima101 explained, the code in this public repo only allows you to show books that have been _purchased_ on the **MyBooks** page. This repo does _not_ have code to show all available books (free or paywalled) on the **MyBooks** page.

You have to customize the code in this repo if you want to display all available books on the **MyBooks** page.

---

If you are not sure how to cod

[2022-05-23 03:39] Genericreqd opened #481 "This?"
https://github.com/async-labs/builderbook/blob/9cfdad446c3b8d78a1780092a8e0490a4e9948a0/book/5-end/server/api/public.js#L16

[2022-05-23 05:24] tima101 commented on #479
@reingoldkz Yeah, make public page (does not check for user) with any route you want and put HTML code with list of links to your books.

[2022-05-23 05:29] reingoldkz commented on #479
Hi async-team,

huge thanks for your support.

At the moment I did the "unusual/not right" solution to add books to my customers.
I am manually adding ``` purchases ``` & ``` users:purchasedBooksIds ``` information on MongoDB.
_And it is very fine for me at the moment_ :smile:  :+1:

I hope I will get better with coding in the near future and be able to make it right and refactor code as I want.

[2022-05-23 05:29] #479 closed

[2022-05-23 05:36] reingoldkz commented on #479
Hi,
I can't understand why it is not showing isFree: free demo book on any page for any user (public or logged in).

Yes, I see that the code is not there. (in "index" pages for public & customer users).

But, I hoped that our project will be able to show free books list to anyone.

I can't figure it out how to make it possible at the moment (I'm so bad at coding at the moment)

even just " put HT

[2022-05-24 12:27] klyburke commented on #481
@Genericreqd could you please provide more detail. Are you having an issue running code in Chapter 5?

[2022-05-24 21:19] klyburke commented on #479
@reingoldkz When we say "put HTML code with list of links to your books", we mean something as simple as:

[code]

These are just direct links to the books.

[2022-05-31 20:09] #481 closed

[2022-07-01 03:02] sandrohp88 opened #483 "Missing double quotes on code snippet"
`"devDependencies": {
  "@babel/core: "^7.16.0",
  "babel-eslint": "^10.1.0",
  "eslint": "^7.25.0",
      ...
  "prettier": "^2.2.1"
}`

-Missing the closing double quotes on `"@babel/core`

[2022-07-01 21:06] sandrohp88 opened #484 "Confusing spelling"
At the end of Chapter 1 you read this: In the next chapter, Chapter 2, **we you learn** how to define a

[2022-07-02 14:37] klyburke commented on #484
@sandrohp88 Thanks for noting! Fixed.

[2022-07-02 14:37] #484 closed

[2022-07-02 14:37] klyburke commented on #483
@sandrohp88 Thanks for noting! Fixed.

[2022-07-02 14:37] #483 closed

[2022-07-02 23:41] sandrohp88 opened #485 "Missing import { MenuItem } from '@mui/material"
Chapter 2-> MenuWithAvatar and Header components.  The final components/MenuWithAvatar.jsx code snippet is missing the MenuItem component import.

[2022-07-04 16:41] klyburke commented on #485
@sandrohp88 good catch, thank you! Fixed it.

[2022-07-31 17:27] jbanahan opened #486 "Broken link to screenshot"
Not really a huge issue, but one of the links to a screenshot in the book seems to be broken. [Just inside of the section on asynchronous functions.](https://builderbook.org/books/builder-book/authentication-hoc-getinitialprops-method-login-page-and-nprogress-asynchronous-execution-promise-then-async-await-google-oauth-api-infrastructure-setupgoogle-verify-passport-strategy-express-routes-auth-goo

[2022-07-31 20:06] jbanahan commented on #486
Just noticed a few lines down is a repeat of text/screenshot image.

![image](https://user-images.githubusercontent.com/9436948/182043297-15152edf-0a51-4f79-a70b-8172a4aa4d18.png)

[2022-07-31 21:01] klyburke commented on #486
@jbanahan Thanks for noting! I had a small typo in the image URL, which caused it to break, and yes that was an unnecessary duplication of text.

Fixed both now.

[2022-07-31 21:01] #486 closed

[2022-08-01 02:05] jbanahan commented on #486
That's awesome Kelly! Thank you

[2022-08-01 18:11] HtoTheN opened #487 "01"

[2022-08-02 00:09] klyburke commented on #487
Hi @HtoTheN . Did you mean to report an issue here? Thanks

[2022-08-16 20:47] #487 closed

[2022-09-22 18:44] DLamphere47 opened #499 "No MUI and Failed Prop type"
Ever since chapter 2 I have been getting a weird error when running yarn dev-express. The website functions but none of the MUI integration works. I have tried using chapter 2 end and chapter 3 end and made sure to include my .env but nothing seems to work. I have also tried using different node versions(12.16.1 the one in the book doesn't work bc when you run yarn it says `error next@12.1.6: The

[2022-09-23 16:02] klyburke commented on #499
@DLamphere47 Thanks for noting.

Here are a couple of starting points that may help:
- I do see the problem when you run `yarn`. We may need to upgrade node. I'll do more digging. For now, try running `nvm install 12.22.0`. Then run `nvm use 12.22.0`. Then try `yarn` again.
- From your `err.txt` file, I see that your yarn version is 1.22.19. In the book, we use 1.22.5 (noted in Chapter 1, section

[2022-09-24 23:44] DLamphere47 commented on #499
I went ahead and tried switching yarn versions and still got the same error. The only reason I was using 3-begin was because I was already done with the chapter. I went ahead and downloaded a fresh copy of the repo and ran 3-end with my .env included(after running yarn). I still got the same error. As for the mui integration the fonts dont appear to be the same as the screenshots from the book. It

[2022-09-26 16:28] klyburke commented on #499
@DLamphere47 Thanks for sharing screenshots and error messages.

- Note that some of our screenshots may be a little outdated. They show the proper information but styles could be different.
- Because you see the Button and Avatar (at least in Chapter 3) components, MUI integration worked.
- I do see that the font on the "Log in with Google" button looks off. I figured out why:
  - We previously i

[2022-10-02 10:33] bala-veeravalli opened #502 "Begin-1 yarn install issue"
[code]

I tried to maintain the same versions mentioned in the doc, but facing this issue. Thanks

[2022-10-02 14:16] klyburke commented on #499
@DLamphere47 Just letting you know that I fixed the book text to instruct installing Node version 12.22.0 in Chapter 1. That should resolve your initial issue with running `yarn`.

Are you still having an issue seeing your Avatar in `2-end`? I just re-ran each of the `end` codebases, and I am able see my Avatar for all of them.

[2022-10-02 23:20] DLamphere47 commented on #499
Sorry I have been away for a bit but yeah I also re ran 2 end and am still getting no avatars to appear at all.

[2022-10-04 15:01] #502 closed

[2022-10-09 22:32] DLamphere47 commented on #499
I made sure that I added the avatarUrl and other values and I still get no avatar to appear or drop down menu even if I click where it would be. It has appeared in all remaining chapters though and I have been using the same .env vars the whole time.

[2022-10-13 13:06] hightrees opened #505 "Is my project possible with this program?"
I am considering purchasing the book - but I am an absolute beginner and don't understand even the introduction, so I am going to need to read very carefully. However, before I start, I want to know whether my project is even possible. What I want to do is have a Web App that shows a gallery of magazines (that have been created as PDFs). Either access to the Web App is via password or - more chall

[2022-10-14 20:04] ya332 opened #506 "Can excerpt take a markdown file or markdown syntax instead of string?"
We can provide excerpt, which is great, but I am getting this if I provide a markdown syntax to the excerpt:

`can not read a block mapping entry; a multiline key may not be an implicit key at line 15, column 1: `

Below is the markdown that I give to my exceprt
![image](https://user-images.githubusercontent.com/26026196/195934455-c9d532b4-dc24-4fd5-b80f-739c4864f19b.png)

I also got the following

[2022-10-15 15:09] klyburke commented on #505
Hi @hightrees , thanks for the question.

Our book does not cover the exact project you explain. While it seems possible, you would need to modify the builderbook web app, and doing that will depend on your level of experience. You would have to use React and JS to create a grid (gallery) with password access and password + subscription access.

You can always work with our [final builderbook web

[2022-10-16 15:01] klyburke commented on #506
Hi @ya332 , thanks for the question.

Yes, you can write with Markdown in the excerpt content, but we've found that some symbols cause errors. The error messages will usually point you the right location. You will often need to replace a symbol with its [HTML entity](https://www.w3schools.com/html/html_entities.asp).

One symbol in particular that causes an error is a quotation mark. Since the exc

[2022-10-16 19:39] DLamphere47 commented on #499
I updated it and that fixed it thanks!

[2022-10-17 03:26] klyburke commented on #499
Good to hear! I see how our [instructions](https://builderbook.org/books/builder-book/http-express-server-next-express-server-nodemon-index-getinitialprops-user-data-model-and-mongoose-mongodb-database-and-dotenv-testing-server-database-connection-retrieving-document-session-and-cookie-menuwithavatar-and-header-components#retrieving-document) can lead to this problem. We provided the URL with quot

[2022-10-17 13:12] #499 closed

[2022-10-17 17:22] ya332 commented on #506
Thanks @klyburke. This is very helpful. I was able to solve my issue. I am closing this thread.

[2022-10-17 17:22] #506 closed

[2022-10-18 08:02] hightrees commented on #505
Many thanks for your email. I will have a think and then see what I can do!

Best wishes

Jeremy

On 15 Oct 2022, at 17:10, Kelly Burke ***@***.***> wrote:

Hi @hightrees <https://github.com/hightrees> , thanks for the question.

Our book does not cover the exact project you explain. While it seems possible, you would need to modify the builderbook web app, and doing that will depend on your level

[2022-10-18 17:38] #505 closed

[2022-10-28 13:26] Genericreqd commented on #218
1
![Uploading IMG_20220928_163943.jpg…]()